<%= form_for(@collection) do |f| %>
<%= errors_helper(@collection) %>

<table class="project-properties">
	<tr>
		<th><%= f.label :user, :maintainer %></th>
		<td>
			<%= @collection.user.username %>
		</td>
		<td class="help-column"></td>
	</tr>

	<tr>
		<th><%= f.label :name %></th>
		<td><%= f.text_field :name, required: true, placeholder: t('activerecord.placeholders.project.name') %></td>
		<td class="help-column"></td>
	</tr>
	<tr>
		<th><%= f.label :description %></th>
		<td><%= f.text_area :description, :rows => 3 %></td>
		<td class="help-column"></td>
	</tr>

	<tr>
		<th><%= f.label :reference %></th>
		<td>
			<%= f.text_field :reference, :placeholder => 'URL' %>
		</td>
		<td class="help-column">
			<a href="#help-home" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
			<div id="help-home" class="help">
				<h1>Home page</h1>
				<p>The homepage which explains the collection.</p>
			</div>
		</td>
	</tr>

	<tr>
		<th><%= f.label :sharedtask %></th>
		<td><%= f.label :is_sharedtask, 'Is this a shared task?' -%><%= f.check_box :is_sharedtask %></td>
		<td class="help-column"></td>
	</tr>

	<tr>
		<th><%= f.label :accessibility %></th>
		<td>
			<%= f.select :accessibility,
				options_for_select([
					[t('activerecord.options.project.accessibility.public'), 1],
					[t('activerecord.options.project.accessibility.private'), 2]],
					f.object.accessibility) %>
		</td>
		<td class="help-column">
			<a href="#help-accessibility" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
			<div id="help-accessibility" class="help">
				<h1>Collection accessibility types</h1>
				<ul>
					<li><b>Public</b>: to let anyone access the project</li>
					<li><b>Private</b>: to keep the project invisible</li>
				</ul>
			</div>
		</td>
	</tr>

	<tr>
		<th><%= f.label :openness %></th>
		<td><%= f.label :is_open, 'Is this an open collection?' -%><%= f.check_box :is_open %></td>
		<td class="help-column">
			<a href="#help-is-open" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
			<div id="help-is-open" class="help">
				<h1>Collection openness</h1>
				<ul>
					<li>To an <b>open</b> collectionm anyone can add his/her projects. Otherwise, only the maintainer of the collection can add</li>
				</ul>
			</div>
		</td>
	</tr>

	<tr>
		<th><%= f.label :sparql_ep %></th>
		<td><%= f.text_field :sparql_ep, :class => "input", :placeholder => 'URL' %></td>
		<td></td>
	</tr>

	<tr>
		<th colspan="3"><%= f.submit %></th>
	</tr>
</table>
<% end %>
