<div class='collection-title'>
	<%= link_to_unless_current @collection.name, collection_path(@collection.name) -%>
	<%= collection_home_button -%>
	<%= badge_sharedtask(@collection).html_safe %>
	<%= badge_accessibility(@collection).html_safe %>
	<%= badge_open(@collection).html_safe %>
	<%= link_to content_tag(:i, '', class: "fa fa-search", "aria-hidden" => "true", title: "search"), sparql_collection_path(@collection.name) %>
	<% if @collection.jobs.exists? && @collection.editable?(current_user) -%>
	  <%= render "collections/gear_icon" %>
	<% end -%>
</div>

<script>
  $(document).ready(
    function() {
      const separatedPath = location.pathname.split('/');
      const interval = setInterval(function () {
        const hasFinished = $(".gear-icon > .jobs-state-passer").text();
        $('.gear-icon').load(`/${separatedPath[1]}/${separatedPath[2]}/jobs/reload_gear_icon`);
        if (hasFinished === 'true') {
          clearInterval(interval);
        }
      }, 3000);
    });
</script>
