<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= t('activerecord.models.collection').pluralize %>
<% end %>

<section>
<h1>
	<%= link_to t('activerecord.models.collection').pluralize.capitalize.html_safe, collections_path %>

	<% if user_signed_in?%>
		<%= link_to t('views.shared.create'), new_collection_path, {:class=> 'control button'} %>
	<% end %>
</h1>
<div class="projects-list show-when-wide">
<%= render :partial => "collections_grid" %>
</div>
<div class="projects-list show-when-narrow">
<%= render :partial => "collections_grid_mobile" %>
</div>
</section>
