<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= link_to "collections", collections_path %>
	> <%= t('views.paths.new') %>
<% end %>

<h1>
	<%= t('views.shared.new_model', :model => t('activerecord.models.collection')) %>
</h1>

<%= render 'form' %>

<%= link_to 'List', collections_path, class: 'button' %>
