<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <table class='column-head'>
    <tr>
      <th><%= f.label :is_public -%></th>
      <td><%= f.check_box :is_public -%></td>
      <td>
        <a href="#help-is-public" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
        <div id="help-is-public" class="help">
          <h1>Is Public</h1>
          <p>If this attribute is checked, then this evaluation will become public.</p>
          <p>Otherwise, it will be accessible only by you.</p>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :note %></th>
      <td><%= f.text_field :note %></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :study_project %></th>
      <td><%= f.text_field :study_project, value:@evaluation.study_project.name, readonly:true %></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :reference_project %></th>
      <td>
        <%= f.autocomplete_field :reference_project, autocomplete_project_name_projects_path, style: "width:100%; text-align:left", placeholder: "project to compare against",value: @evaluation.reference_project.nil? ? '' : @evaluation.reference_project.name, required: true %>
      </td>
      <td>
        <a href="#help-reference-project" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
        <div id="help-reference-project" class="help">
          <h1>Reference project</h1>
          <p>It specifies a project against which the current project will be compared, for evaluation.</p>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= f.label :evaluator %></th>
      <td>
        <%= f.select :evaluator, options_for_select(evaluator_options_helper), required: true %>
      </td>
      <td></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
