<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= link_to 'evaluators', evaluators_path %>
	> <%= link_to @evaluator.name, @evaluator %>
	> <%= :edit %>
<% end %>

<section>

	<h1>Editing evaluator</h1>
	<%= render 'form' %>
	<br/>
	<%= link_to 'Show', @evaluator, class: 'button' %>
	<%= link_to 'List', evaluators_path, class: 'button' %>
</section>