<%= form_for(@relation) do |f| %>
	<% if @relation.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

			<ul>
			<% @relation.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :hid %><br />
		<%= f.text_field :hid %>
	</div>
	<div class="field">
		<%= f.label :subject %><br />
		<%= f.text_field :subject %>
	</div>
	<div class="field">
		<%= f.label :object %><br />
		<%= f.text_field :object %>
	</div>
	<div class="field">
		<%= f.label :relation %><br />
		<%= f.text_field :relation %>
	</div>
	<div class="field">
		<%= f.label :project %><br />
		<%= f.text_field :project %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
