<p id="notice"><%= notice %></p>

<p>
	<b>Hid:</b>
	<%= @relation.hid %>
</p>

<p>
	<b>Subject:</b>
	<%= @relation.subject.hid %>
</p>

<p>
	<b>Relation:</b>
	<%= @relation.relation %>
</p>

<p>
	<b>Object:</b>
	<%= @relation.object.hid %>
</p>

<p>
	<b>Project:</b>
	<%= @relation.project.name %>
</p>


<%= link_to t('views.shared.back'), relations_path %>
