<table class="jobs-table" data-is-reload-necessary="<%= reload_necessary %>">
	<tr>
		<th>#</th>
		<th>Job type</th>
		<th>Created at</th>
		<th>State</th>
		<th>Progress</th>
		<th>#Messages</th>
		<th>Actions</th>
	</tr>

	<% jobs.each_with_index do |job, i| %>
		<tr
			<%=
				if job.running?
					'style=background-color:#ffcccc'
				elsif job.finished?
					'style=color:#888888'
				end
			%>
		>
			<td><%= i + 1 %></td>
			<td><%= job.name %></td>
			<td><%= job.created_at %></td>
			<td><%= job.state %></td>
			<td style="text-align:center"><%= job.num_items.nil? ? '-' : "#{job.num_dones} / #{job.num_items}" %></td>
			<td style="text-align:right"><%= message_counts[job.id] || 0 %></td>
			<td>
				<%= link_to 'Show', media_job_path(job), class: :button %>
			</td>
		</tr>
	<% end %>
</table>
