<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
<% end -%>

<h1>Submit raw SQL</h1>	

<%= form_tag sql_path, :method => 'get' do -%>
	<%= text_field_tag :sql, params[:sql] -%>
	<%= submit_tag 'Submit' -%>
<% end -%>

<% if @results.present? -%>
	<table style="margin-bottom: 1em">
		<% @results.each do |result| -%>
			<% result = result.select{|key, value| key.class == String} -%>
			<% result.each do |key, value| -%>
				<tr>
					<th>
						<%= key -%>
					</th>
					<td>
						<%= value -%>
					</td>
				</tr>
			<% end -%>
			<tr>
				<th colspan="2" style="background-color: #fff; height: 2em"></th>
			</tr>
		<% end -%>
	</table>
	<%= paginate @results %>
<% end -%>
