<tr>
	<td><%= message.sourcedb -%></td>
	<td><%= message.sourceid -%></td>
	<td style="text-align:right"><%= message.divid -%></td>
	<td><%= message.body -%></td>
	<td><%= message.created_at -%></td>
</tr>
