<%= render :partial => 'shared/textae_css_js'-%>

<section>
	<%=
		if @organization.class == Project
			@project = @organization
			render :partial => 'projects/titlebar'
		else
			@collection = @organization
			render :partial => 'collections/titlebar'
		end
	-%>

	<section>
		<h1>Message</h1>
		<%= @message.body %>

		<section>
			<h2>Job</h2>
			<%= @job.name %>
		</section>

		<% if @message.sourcedb && @message.sourceid && @project %>
			<section>
				<h2>Document</h2>
				<%=
					if @message.sourceid.include?(' ')
						@message.sourceid
					else
						link_to("#{@message.sourcedb}:#{@message.sourceid}", show_project_sourcedb_sourceid_docs_path(@project.name, @message.sourcedb, @message.sourceid))
					end
				%>
			</section>
		<% end %>

		<% if @message[:data] && @message[:data][:lost_annotations] %>
			<% source_text = @message[:data][:block_alignment][:text] %>
			<section>
				<h2>Lost annotations</h2>
				<table>
					<tr>
						<th>Text</th><th>Source</th><th>Transformed</th>
					</tr>
					<% @message[:data][:lost_annotations].each do |a| %>
						<tr>
							<td>
								<%= source_text[a[:source][:begin] ... a[:source][:end]] %>
							</td>
							<td>
								<%= "[#{a[:source][:begin]}, #{a[:source][:end]}]" %>
							</td>
							<td>
								<%= a[:target].nil? ? '-' : "[#{a[:target][:begin]}, #{a[:target][:end]}]" %>
							</td>
						</tr>
					<% end %>
					</table>

			</section>
		<% end %>

		<% if @message[:data] && @message[:data][:block_alignment] %>
			<section>
				<h2>Download data</h2>
				<% %>
				<%= link_to 'download source data', data_source_message_path(@message), class: :button %>
				<%= link_to 'download target data', data_target_message_path(@message), class: :button %>
			</section>
			<section>
				<h2>Alignment</h2>
				<%=
					render partial: 'annotations/block_alignments', locals: {
						blocks:@message[:data][:block_alignment][:blocks],
						source_text:@message[:data][:block_alignment][:text],
						target_text:@message[:data][:block_alignment][:reference_text],
						denotations:@message[:data][:block_alignment][:denotations]
					}
				%>
			</section>
		<% end %>
	</section>
</section>