<%= form_for(@annotator) do |f| %>
  <% if @annotator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annotator.errors.count, "error") %> prohibited this annotator from being saved:</h2>

      <ul>
      <% @annotator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
  <table class='column-head'>
  <tr>
    <th style="width:6em"><%= f.label :user %></th>
    <td><%= current_user.username %></td>
  </tr>
  <tr>
    <th><%= f.label :abbrev %></th>
    <td><%= f.text_field :abbrev %></td>
  </tr>
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description %></td>
  </tr>
  <tr>
    <th><%= f.label :home %></th>
    <td><%= f.text_field :home %></td>
  </tr>
  <tr>
    <th><%= f.label :url, :URL %></th>
    <td><%= f.text_field :url %></td>
  </tr>
  <tr>
    <th><%= f.label :params %></th>
    <td><%= f.text_area :params %></td>
  </tr>
  <tr>
    <th><%= f.label :method %></th>
    <td><%= f.label :method, :GET, :value => 0 %>
    <%= f.radio_button :method, 0, checked: true %>
    <%= f.label :method, :POST, :value => 1 %>
    <%= f.radio_button :method, 1 %></td>
  </tr>
  <tr>
    <th><%= f.label :url2, :URL2 %></th>
    <td><%= f.text_field :url2 %></td>
  </tr>
  <tr>
    <th><%= f.label :params2 %></th>
    <td><%= f.text_area :params2 %></td>
  </tr>
  <tr>
    <th><%= f.label :method2 %></th>
    <td><%= f.label :method2, :GET, :value => 0 %>
    <%= f.radio_button :method2, 0, checked: true %>
    <%= f.label :method2, :POST, :value => 1 %>
    <%= f.radio_button :method2, 1 %></td>
  </tr>
  </table>
  <div>
    <%= f.submit %>
  </div>

<% end %>
