<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  > <%= link_to 'annotators', annotators_path %>
  > <%= link_to @annotator.name, @annotator %>
  > <%= :edit %>
<% end %>

<section>
<h1>Editing annotator</h1>
<%= render 'form' %>
<%= link_to 'Back', annotator_path(@annotator), class: 'button' %>
</section>
