<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  > <%= link_to 'annotators', annotators_path %>
  > <%= @annotator.abbrev %>
<% end %>

<table class="column-head">
<tr>
  <th style="width:6em">Abbrev:</th>
  <td><%= @annotator.abbrev %></td>
</tr>

<tr>
  <th>Name:</th>
  <td><%= @annotator.name %></td>
</tr>

<tr>
  <th>Description:</th>
  <td><%= @annotator.description %></td>
</tr>

<tr>
  <th>Home:</th>
  <td><%= @annotator.home %></td>
</tr>

<tr>
  <th>User:</th>
  <td><%= @annotator.user.username %></td>
</tr>

<tr>
  <th>URL:</th>
  <td><%= @annotator.url %></td>
</tr>

<tr>
  <th>Params:</th>
  <td><pre><%= @annotator.params %></pre></td>
</tr>

<tr>
  <th>Method:</th>
  <td><%= case @annotator.method when 0; :GET when 1; :POST end%></td>
</tr>

<tr>
  <th>URL2:</th>
  <td><%= @annotator.url2 %></td>
</tr>

<tr>
  <th>Params2:</th>
  <td><pre><%= @annotator.params2 %></pre></td>
</tr>

<tr>
  <th>Method2:</th>
  <td><%= case @annotator.method2 when 0; :GET when 1; :POST end%></td>
</tr>
</table>

<%= link_to 'Edit', edit_annotator_path(@annotator) %> |
<%= link_to 'Destroy', @annotator, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', annotators_path %>
