<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  > <%= link_to 'annotators', annotators_path %>
  > <%= @annotator.name %>
<% end %>

<section>
  <h1>
    <%= @annotator.name %>
    <%= button_home(@annotator.home) -%>
    <%= badge_public(@annotator.is_public).html_safe %>
  </h1>

  <% if @annotator.description.present? %>
    <p><%= @annotator.description %></p>
  <% end -%>

  <table class="column-head">
  <tr>
    <th>Creator</th>
    <td><%= @annotator.user.username %></td>
  </tr>

  <tr>
    <th>URL</th>
    <td><%= link_to @annotator.url, @annotator.url %></td>
  </tr>

  <tr>
    <th>Method</th>
    <td><%= case @annotator.method when 0; :GET when 1; :POST end%></td>
  </tr>

  <% if @annotator.method == 1 %>
    <tr>
      <th>Payload</th>
      <td><pre><%= @annotator.payload %></pre></td>
    </tr>

    <tr>
      <th>Batch num</th>
      <td><pre><%= @annotator.batch_num %></pre></td>
    </tr>
  <% end %>

  </table>

  <%= link_to 'Edit', edit_annotator_path(@annotator), class: 'button' %>
  <%= link_to 'Destroy', @annotator, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
  <%= link_to 'List', annotators_path, class: 'button' %>
</section>
