<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  > <%= t('views.shared.edit_model', :model => t('activerecord.models.user')) %>
<% end %>

<h1><%= t('views.shared.edit_model', :model => t('activerecord.models.user')) %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <table style="border:none">
  <tr>
    <th><%= f.label :username %></th>
    <td><%= f.text_field :username, disabled: true %></td>
  </tr>
  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password, :autocomplete => "off" %></td>
    <td style="border:none"><span class="meta"><%= t('devise.registrations.password_leave_blank') %></span></td>
  </tr>
  <tr>
    <th><%= f.label :password_confirmation %></th>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <th><%= f.label :current_password %></th>
    <td><%= f.password_field :current_password %></td>
    <td style="border:none"><span class="meta"><%= t('devise.registrations.current_password') %></span></td>
  </tr>
  <tr>
    <th colspan="2" style="text-align:center"><%= f.submit t('views.shared.update') %></th>
  </tr>
  </table>
<% end %>
<br/>
<%= link_to t('devise.registrations.delete_my_account'), registration_path(resource_name), :data => { :confirm => t('devise.registrations.notice_before_delete') }, :method => :delete, :class => 'button' %>
<span class="meta"><%= t('devise.registrations.notice_before_delete') %></span>
