<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  > <%= t('views.users.sign_up') %>
<% end %>

<section>
  <h1 class="capitalize_first"><%= t('views.users.sign_up') %></h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <section>
    <%= render "devise/shared/error_messages", resource: resource %>
  </section>

    <table style="border:none">
      <tr>
        <th><%= f.label :username %></th>
        <td><%= f.text_field :username %></td>
        <td>
          <a href="#help-username" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
          <div id="help-username" class="help">
            <h1>Username</h1>
            <p>Note that your username will be part of the URL to your userpage.</p>
            <p>A username may include
              <ul>
                <li>lowercase/upper letters,</li>
                <li>decimal digits,</li>
                <li>hyphen ('-'), underscore ('_'), and</li>
                <li>space (' ').</li>
              </ul>
            </p>
            <p>However, a username must not begin with hyphen, underscore or space.</p>
          </div>
        </td>
      </tr>
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.email_field :email %></td>
        <td></td>
      </tr>
      <tr>
        <th><%= f.label :password %></th>
        <td><%= f.password_field :password %></td>
        <td></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation %></th>
        <td><%= f.password_field :password_confirmation %></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td><%= recaptcha_tags %></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="3" style="text-align:center"><%= f.submit t('views.users.sign_up'), :class => 'capitalize_first' %></th>
      </tr>
     </table>
  <% end %>
  <br/>
  <%= render "devise/shared/links" %>
</section>
