<h1>
  <% if project %>
  <%= t('views.pmdocs.pubmed_in_annotation_set', :project_name => project.name).html_safe %>
  <% else %>
  <%= t('views.pmdocs.pubmed_in_pub_annotation').html_safe %>
  <% end %>
  (<%= docs.length %>)
</h1>

<div>
  <%= form_tag(search_pmdocs_path, :method => :get)  do %>
	<%= label_tag :sourceid, t('activerecord.attributes.doc.sourceid') %>
    <%= autocomplete_field_tag 'sourceid', '', autocomplete_doc_sourceid_pmdocs_path %>
	<%= label_tag :sourceid, t('activerecord.attributes.doc.body') %>
	<%= text_field_tag :body, params[:body] %>
	<%= submit_tag t('views.shared.search') %>
  <% end %>

  <% if docs.empty? %>
    <%= t('views.shared.none') %>
  <% else %>
    <table>
      <tr>
        <th><%= t('activerecord.attributes.doc.sourcedb') %></th>
        <th><%= t('activerecord.attributes.doc.sourceid') %></th>
        <th><%= t('activerecord.attributes.doc.body') %></th>
        <th></th>
      </tr>

    <% docs.each do |doc| %>
      <tr>
        <td><%= doc.sourcedb %></td>
        <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
        <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
        <td>
          <% if project %>
            <span class="button"><%= link_to t('views.shared.show'), project_pmdoc_path(project.name, doc.sourceid) %></span>
            <% if user_signed_in? and current_user == project.user %>
              <span class="button"><%= link_to t('views.shared.remove'), project_pmdoc_path(project.name, doc.sourceid), method: :delete, data: { confirm: 'Are you sure? All the annotations to this document that belong to the annotation set will be deleted.' } %></span>
            <% end %>
          <% else %>
            <span class="button"><%= link_to t('views.shared.show'), pmdoc_path(doc.sourceid) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>

  <%= will_paginate docs %>

  <% if project and user_signed_in? and current_user == project.user %>
    <%= form_tag("/projects/#{project.name}/pmdocs/", :method => "post") do %>
      <table>
        <tr><th><%= label_tag(:pmids,  t('views.shared.add_model', :model => "#{t('views.shared.pubmed')} #{t('activerecord.models.doc').pluralize}")) %><br/></th></tr>
        <tr><td><%= text_area_tag(:pmids, nil, :placeholder => t('activerecord.placeholders.project.pmids'), :required => true) %></td></tr>
        <tr><th><%= submit_tag(t('views.shared.add_to_the_set')) %></th></tr>
      </table>
    <% end %>
  <% end %>
</div>