<h1>
  <% if project %>
  <%= t('views.pmdocs.pmdocs_in_a_project', :project_name => project.name).html_safe %>
  <% else %>
  <%= t('views.pmdocs.pmdocs_in_pubannotation').html_safe %>
  <% end %>
</h1>

<div>

	<% if @project.present? %>
		<% search_path = search_project_path(@project.name) %>
		<% auto_complete_path = "/projects/autocomplete_pmdoc_sourceid//#{params[:id]}" %>
		<% doc_tag = hidden_field_tag :doc, 'PubMed' %>
	<% else %>
		<% search_path = search_pmdocs_path %>
		<% auto_complete_path = autocomplete_doc_sourceid_pmdocs_path %>
	<% end %>
		
  <%= form_tag(search_path, :method => :get)  do %>
  	<%= doc_tag %>
  	<%= hidden_field_tag :accordion_id, 1 %>
  	<%= label_tag :sourceid, t('activerecord.attributes.doc.sourceid') %>
    <%= autocomplete_field_tag 'sourceid', '', auto_complete_path, :value => @pm_sourceid_value %>
  	<%= label_tag :sourceid, t('activerecord.attributes.doc.body') %>
  	<%= text_field_tag :body, params[:body], :value => @pm_body_value %>
  	<%= submit_tag t('views.shared.search') %>
  <% end %>

  <% if docs.empty? %>
    <%= t('views.shared.none') %>
  <% else %>
    <table>
      <tr>
        <th><%= t('activerecord.attributes.doc.sourcedb') %></th>
	    <th class="sortable-th"><%= link_to_unless_current t('activerecord.attributes.doc.sourceid'), url_for(:only_path => true, :docs_order => 'sourceid', :accordion_id => 1), :class => 'sortable-a' %></th>
        <th><%= t('activerecord.attributes.doc.body') %></th>
      	<th class="sortable-th" title="<%= t('activerecord.models.denotations') %>"><%= link_to_unless_current 'D', url_for(:only_path => true, :docs_order => denotations_count_order, :accordion_id => 1), :class => 'sortable-a' %></th>
	      <th class="sortable-th" title="<%= t('activerecord.models.relations') %>"><%= link_to_unless_current 'R', url_for(:only_path => true, :docs_order => 'relations_count', :accordion_id => 1), :class => 'sortable-a' %></th>
        <th></th>
      </tr>

    <% docs.each do |doc| %>
      <tr>
        <td><%= doc.sourcedb %></td>
        <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
        <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
        <td>
        	<!-- denotations count -->
        	<%= denotations_count_helper(@project, doc) %>
        </td>
        <td>
        	<!-- relations count -->
        	<%= relations_count_helper(@project, doc) %>
        </td>
        <td>
          <% if project %>
            <span class="button"><%= link_to t('views.shared.show'), project_pmdoc_path(project.name, doc.sourceid) %></span>
            <% if user_signed_in? and current_user == project.user %>
              <span class="button"><%= link_to t('views.shared.remove'), project_pmdoc_path(project.name, doc.sourceid), :method => :delete, :confirm => t('views.pmdocs.confirm_delete') %></span>
            <% end %>
          <% else %>
            <span class="button"><%= link_to t('views.shared.show'), pmdoc_path(doc.sourceid) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>
  
  <% if local_assigns[:accordion_id] %>
	  <%= will_paginate docs, :params => {:accordion_id => accordion_id} %>
  <% else %>
	  <%= will_paginate docs %>
  <% end %>

  <% if project and user_signed_in? and current_user == project.user %>
    <%= form_tag("/projects/#{project.name}/pmdocs/", :method => "post") do %>
      <table>
        <tr>
          <th><%= label_tag(:pmids,  t('views.shared.add_model', :model => "#{t('views.shared.pubmed')} #{t('activerecord.models.doc').pluralize}")) %><br/></th>
          <td>
            <%= text_area_tag(:pmids, nil, :placeholder => t('activerecord.placeholders.doc.pmids'), :required => true) %>
            <%= submit_tag(t('views.shared.add')) %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>