<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @project %>
    > <%= link_to "projects", projects_path %>
    > <%= link_to @project.name, project_path(@project.name) %>
  <% end %>
  > pmdocs
<% end %>

<h1>
<% if @project %>
	<%= t('views.shared.belongs_to', :parent => t('views.service.title'), :pname => @project.name, :content => "PubMed #{t('activerecord.models.doc').pluralize}").html_safe %>
<% else %>
	<%= t('views.shared.stored_in', :pname => t('views.service.title'), :content => "PubMed #{t('activerecord.models.doc').pluralize}").html_safe %>
<% end %>
</h1>

<% if @docs.empty? %>
  none
<% else %>
  <table>
    <tr class="capitalize">
      <th><%= t('activerecord.attributes.doc.sourcedb') %></th>
      <th><%= t('activerecord.attributes.doc.sourceid') %></th>
      <th><%= t('activerecord.attributes.doc.body') %></th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
      <td>
        <% if @project %>
          <span class="button"><%= link_to t('views.shared.show'), project_pmdoc_path(@project.name, doc.sourceid) %></span>
          <% if user_signed_in? and current_user == @project.user %>
            <span class="button"><%= link_to 'Remove', project_pmdoc_path(@project.name, doc.sourceid), method: :delete, data: { confirm: 'Are you sure? All the annotations to this document that belong to the annotation set will be deleted.' } %></span>
          <% end %>
        <% else %>
          <span class="button"><%= link_to t('views.shared.show'), pmdoc_path(doc.sourceid) %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @docs %>

<% if @project and user_signed_in? and current_user == @project.user %>

<%= form_tag("/projects/#{@project.name}/pmdocs/", :method => "post") do %>
<table>
  <tr><th><%= label_tag(:pmids, "Add PubMed documents") %><br/></th></tr>
  <tr><td><%= text_area_tag(:pmids, nil, :placeholder => "PubMed IDs", :required => true) %></td></tr>
  <tr><th><%= submit_tag("Add to the set") %></th></tr>
</table>
<% end %>


<!--script type="text/javascript">
  function putDocToProject() {
    var pmid = document.getElementById("pmid").value;
    var url = "<%=request.protocol%>" + "<%=request.host_with_port%>" + "<%= project_pmdocs_path(@project.name) %>" + "/" + pmid;

    xmlhttp = new XMLHttpRequest();
    xmlhttp.open('PUT', url, true);
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        window.location = xmlhttp.responseText;
      }
    }

    xmlhttp.send(null);
  }
</script>
<input id="pmid" type="text" size="10" placeholder="PubMed ID" />
<span class="button"><a onclick="putDocToProject()">Add to the set</a></span>

<div class="note">
<ul>
<li>To add a PubMed document to this annotation set,</li>
<ul>
  <li>prefix the current URL in the address bar with the PubMed ID and open the page.</li>
  <li>e.g., opening the URL,<br/>
      <%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>/123456<br/>
      will add the PubMeD document 123456 to the annotation set, <%= @project.name %>.</li>
</ul>
</ul>
</div-->

<% end %>