<% content_for :path do %>
  > <%= link_to "home", home_path %>
  <% if @annset %>
    > <%= link_to "annsets", annsets_path %>
    > <%= link_to @annset.name, annset_path(@annset.name) %>
  <% end %>
  > pmdocs
<% end %>

<h1>
PubMed documents
<span class="meta">
<% if @annset %>
that belong to the annotation set, <span class="pname"><%= @annset.name %></span>
<% else %>
stored in <span class="pname">PubAnnotation</span>
<% end %>
</span>
</h1>

<% if @docs.empty? %>
  none
<% else %>
  <table>
    <tr>
      <th>Source DB</th>
      <th>Source Id</th>
      <th>Text</th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
      <td>
        <% if @annset %>
          <span class="button"><%= link_to 'Show', annset_pmdoc_path(@annset.name, doc.sourceid) %></span>
          <% if user_signed_in? and current_user == @annset.user %>
            <span class="button"><%= link_to 'Remove', annset_pmdoc_path(@annset.name, doc.sourceid), method: :delete, data: { confirm: 'Are you sure? All the annotations to this document that belong to the annotation set will be deleted.' } %></span>
          <% end %>
        <% else %>
          <span class="button"><%= link_to 'Show', pmdoc_path(doc.sourceid) %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @docs %>

<% if @annset and user_signed_in? and current_user == @annset.user %>

<%= form_tag("/annsets/#{@annset.name}/pmdocs/", :method => "post") do %>
<table>
  <tr><th><%= label_tag(:pmids, "Add PubMed documents") %><br/></th></tr>
  <tr><td><%= text_area_tag(:pmids, nil, :placeholder => "PubMed IDs", :required => true) %></td></tr>
  <tr><th><%= submit_tag("Add to the set") %></th></tr>
</table>
<% end %>


<!--script type="text/javascript">
  function putDocToAnnset() {
    var pmid = document.getElementById("pmid").value;
    var url = "<%=request.protocol%>" + "<%=request.host_with_port%>" + "<%= annset_pmdocs_path(@annset.name) %>" + "/" + pmid;

    xmlhttp = new XMLHttpRequest();
    xmlhttp.open('PUT', url, true);
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        window.location = xmlhttp.responseText;
      }
    }

    xmlhttp.send(null);
  }
</script>
<input id="pmid" type="text" size="10" placeholder="PubMed ID" />
<span class="button"><a onclick="putDocToAnnset()">Add to the set</a></span>

<div class="note">
<ul>
<li>To add a PubMed document to this annotation set,</li>
<ul>
  <li>prefix the current URL in the address bar with the PubMed ID and open the page.</li>
  <li>e.g., opening the URL,<br/>
      <%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>/123456<br/>
      will add the PubMeD document 123456 to the annotation set, <%= @annset.name %>.</li>
</ul>
</ul>
</div-->

<% end %>