<h1>Listing docs</h1>

<table>
  <tr>
    <th>Source DB</th>
    <th>Source Id</th>
    <th>Text</th>
    <th>Serial</th>
    <th>Section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @docs.each do |doc| %>
  <tr>
    <td><%= doc.sourcedb %></td>
    <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
    <td><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
    <td><%= doc.serial %></td>
    <td><%= doc.section %></td>
    <td><%= link_to 'Show', pmdoc_path(doc.sourceid) %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Home', home_path %>
