<% content_for :path do %>
  > <%= link_to "home", home_path %>
  <% if @annset %>
    > <%= link_to "annsets", annsets_path %>
    > <%= link_to @annset.name, annset_path(@annset.name) %>
  <% end %>
  > pmdocs
<% end %>

<h1>
PubMed documents
<span class="meta">
<% if @annset %>
that belong to the annotation set, <span class="pname"><%= @annset.name %></span>
<% else %>
stored in <span class="pname">PubAnnotation</span>
<% end %>
</span>
</h1>

<% if @docs.empty? %>
  none
<% else %>
  <table>
    <tr>
      <th>Source DB</th>
      <th>Source Id</th>
      <th>Text</th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
      <td>
        <% if @annset %>
          <span class="button"><%= link_to 'Show', annset_pmdoc_path(@annset.name, doc.sourceid) %></span>
          <% if user_signed_in? and current_user.email == @annset.uploader%>
            <span class="button"><%= link_to 'Remove', annset_pmdoc_path(@annset.name, doc.sourceid), method: :delete, data: { confirm: 'Are you sure? All the annotations to this document that belong to the annotation set will be deleted.' } %></span>
          <% end %>
        <% else %>
          <span class="button"><%= link_to 'Show', pmdoc_path(doc.sourceid) %></span>
        <% end %>
      </td>

    </tr>
  <% end %>
  </table>
<% end %>


<%= will_paginate @docs %>