<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
    > <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
	> <%= link_to @doc.sourceid, @doc.source %>
	> <%= "spans #{params[:begin]} - #{params[:end]}" %>
<% end %>

<table>
	<tr>
		<th>
			<%= @doc.sourcedb %>:<%= link_to @doc.sourceid, @doc.source %>
			<%= params[:begin] %> - <%= params[:end] %>
		</th>
	</tr>
	<tr>
		<td>
			<span class="spans_prev"><%= @prev_text -%></span>
			<span><%= @spans -%></span>
			<span class="spans_next"><%= @next_text -%></span>
		</td>
	</tr>
</table>