<section>
<%= render :partial => 'projects/titlebar' -%>

<h1>Search</h1>

<% if @message %>
<pre style="background-color: #ffdddd">
<%= @message[:message] %>
</pre>
<% end %>
<%= render "query_in_sparql" %>

<% if @solutions %>
	<%= render :partial => 'shared/textae_css_js'-%>
	<section>
		<h1>Result spans rendered in <a href="http://textae.pubannotation.org">TextAE</a></h1>
		<%= render "page_index" %>
		<% @solutions["results"]["bindings"].each do |solution| %>
			<% projects = params[:projects] ? params[:projects].split(',') : [@project.name] %>
			<% span_url, annotation_url = solution2maxspan_url(solution, projects) %>
			<%= content_tag(:div, "", class: "textae-editor", target: annotation_url, status_bar: "off", style:"margin:2px 0 0 0") %>
			<%= link_to ">PubAnnotation", span_url, class: "button" %>
		<% end %>
	</section>
<% end %>
