<%= form_for(@modification) do |f| %>
  <% if @modification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modification.errors.count, "error") %> prohibited this modification from being saved:</h2>

      <ul>
      <% @modification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hid %><br />
    <%= f.text_field :hid %>
  </div>
  <div class="field">
    <%= f.label :modtype %><br />
    <%= f.text_field :modtype %>
  </div>
  <div class="field">
    <%= f.label :modobj %><br />
    <%= f.text_field :modobj %>
  </div>
  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
