<p id="notice"><%= notice %></p>

<p>
	<b>Hid:</b>
	<%= @modification.hid %>
</p>

<p>
	<b>Pred:</b>
	<%= @modification.pred %>
</p>

<p>
	<b>Obj:</b>
	<%= @modification.obj %>
</p>

<p>
	<b>Project:</b>
	<%= @modification.project %>
</p>


<%= link_to 'Edit', edit_modification_path(@modification) %> |
<%= link_to t('views.shared.back'), modifications_path %>
