<section>
	<%= render :partial => 'preamble' -%>

	<% if @solutions %>
		<%= render :partial => 'shared/textae_css_js'-%>
		<section>
			<h1>Result spans rendered in <a href="http://textae.pubannotation.org">TextAE</a></h1>
			<%= render "page_index" %>
			<% color_coding = nil %>
			<% @bindings.each do |solution| %>
				<%
					projects = params[:projects].split(',')
					span_url = solution2span_url(solution)
					annotations = span_url2annotations(span_url, projects)
					color_coding ||= Annotation.generate_source_project_color_coding(annotations)
					Annotation.add_source_project_color_coding!(annotations, color_coding)
				%>

				<%= content_tag(:div, annotations.to_json, class: "textae-editor", status_bar: "off", control: "hidden", style:"margin:2px 0 0 0") %>
				<%= link_to ">PubAnnotation", span_url, class: "button" %>
			<% end %>
			<%= render "page_index" %>
		</section>
	<% end %>
</section>
