<p id="notice"><%= notice %></p>

<p>
  <b>Hid:</b>
  <%= @insann.hid %>
</p>

<p>
  <b>Type:</b>
  <%= @insann.type.hid %>
</p>

<p>
  <b>Annset:</b>
  <%= @insann.annset.name %>
</p>


<%= link_to 'Back', insanns_path %>
