<p id="notice"><%= notice %></p>

<p>
  <b>Hid:</b>
  <%= @insann.hid %>
</p>

<p>
  <b>Type:</b>
  <%= @insann.type %>
</p>

<p>
  <b>Annset:</b>
  <%= @insann.annset %>
</p>


<%= link_to 'Edit', edit_insann_path(@insann) %> |
<%= link_to 'Back', insanns_path %>
