<h1>
  Annotation sets
  <% if @sourcedb == 'PubMed' %>
    <span class='meta'>
    made to <span class='pname'><%= @sourcedb %>:<%= @sourceid %></span>
    </span>
  <% elsif @sourcedb == 'PMC' %>
    <span class='meta'>
    made to <%= @serial %>'th divition of <span class='pname'><%= @sourcedb %>:<%= @sourceid %></span>
    </span>
  <% else %>
    <span class='meta'>
    stored in PubAnnotation
    </span>
  <% end %>  
</h1>

<% if @annsets.empty? %>
<p>none</p>
<% else %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Author</th>
    <th></th>
  </tr>

<% @annsets.each do |annset| %>
  <tr>
    <td><%= annset.name %></td>
    <td class="text"><%= (annset.description.length < 64)? annset.description : annset.description[0, 62] + ' ...' %></td>
    <td><%= annset.author %></td>
    <td><%= link_to 'Show', annset_path(annset.name) %></td>
  </tr>
<% end %>
</table>
<% end %>

<% if user_signed_in? %>
<span class="button"><%= link_to 'Create new annotation set', new_annset_path %></span>
<% end %>

