<% content_for :path do %>
  > <%= link_to "home", home_path %>
  <% if @doc and @doc.sourcedb == 'PubMed' %>
    > <%= link_to "pmdocs", pmdocs_path %>
    > <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
  <% elsif @doc and @doc.sourcedb == 'PMC' %>
    > <%= link_to "pmcdocs", pmcdocs_path %>
    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
    > <%= link_to "divs",    pmcdoc_divs_path(@doc.sourceid) %>
    > <%= link_to @doc.serial,   pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
  <% end %>
  > annsets
<% end %>

<h1>
  Annotation sets
  <% if @doc and @doc.sourcedb == 'PubMed' %>
    <span class='meta'>
    made to <span class='pname'><%= @doc.sourcedb %>:<%= @doc.sourceid %></span>
    </span>
  <% elsif @doc and @doc.doc.sourcedb == 'PMC' %>
    <span class='meta'>
    made to <%= @doc.serial %>'th divition of <span class='pname'><%= @doc.sourcedb %>:<%= @doc.sourceid %></span>
    </span>
  <% else %>
    <span class='meta'>
    stored in PubAnnotation
    </span>
  <% end %>  
</h1>

<% if @annsets.empty? %>
  <p>none</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>Uploader</th>
      <th></th>
    </tr>

  <% @annsets.each do |annset| %>
    <tr>
      <td><%= annset.name %></td>
      <td class="text"><%= (annset.description.length < 64)? annset.description : annset.description[0, 62] + ' ...' %></td>
      <td><%= annset.author %></td>
      <td><%= annset.user.username %></td>
      <% if @doc and @doc.sourcedb == "PubMed" %>
        <td><%= link_to 'Show', pmdoc_annset_path(@doc.sourceid, annset.name) %></td>
      <% elsif @doc and @doc.sourcedb == "PMC" %>
        <td><%= link_to 'Show', pmcdoc_div_annset_path(@doc.sourceid, @doc.serial, annset.name) %></td>
      <% else %>
        <td><%= link_to 'Show', annset_path(annset.name) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<% if user_signed_in? %>
<span class="button"><%= link_to 'Create new annotation set', new_annset_path %></span>
<% end %>

