<% content_for :path do %>
	> <%= link_to "home", home_path %>
	<% if @sourcedb == 'PubMed' %>
		> <%= link_to "pmdocs", pmdocs_path %>
		> <%= link_to @sourceid, pmdoc_path(@sourceid) %>
	 	> <%= link_to "annsets", pmdoc_annsets_path(@sourceid) %>
	<% elsif @sourcedb == 'PMC' %>
		> <%= link_to "pmcdocs", pmdocs_path %>
		> <%= link_to @sourceid, pmdoc_path(@sourceid) %>
	 	> <%= link_to "annsets", pmdoc_div_annsets_path(@sourceid, @serial) %>
	<% end %>
 	> <%= link_to "annsets", annsets_path %>
 	> new
<% end %>

<h1>New annset</h1>

<%= render 'form' %>
