<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @annset.name %>
</p>

<p>
  <b>Description:</b>
  <%= @annset.description %>
</p>

<p>
  <b>Annotator:</b>
  <%= @annset.annotator %>
</p>


<%= link_to 'Edit', edit_annset_path(@annset.name) %> |
<%= link_to 'Back', annsets_path %>
