<h1>Annotation set description</h1>
<p id="notice"><%= notice %></p>

<table>
<tr>
<th>Name</th>
<td><%= @annset.name %></td>
</tr>
<tr>
<th>Description</th>
<td><%= @annset.description %></td>
</tr>
<tr>
<th>Author</th>
<td><%= @annset.author %></td>
</tr>
<tr>
<th>License</th>
<td><%= @annset.license %></td>
</tr>
<tr>
<th>Uploader</th>
<td><%= @annset.uploader %></td>
</tr>
<tr>
<th>Reference</th>
<td><a href="<%= @annset.reference %>"><%= @annset.reference %></a></td>
</tr>
</table>

<% unless @sourcedb %>
<h2>See the documents with the annotation</h2>
<ul>
	<li><%= link_to "Documents", annset_docs_url(@annset.name) %> (<%= @docs_num %>)</li>
	<ul>
		<li><%= link_to "PubMed documents", annset_pmdocs_url(@annset.name) %> (<%= @pmdocs_num %>)</li>
		<li><%= link_to "PMC documents", annset_pmcdocs_url(@annset.name) %> (<%= @pmcdocs_num %>)</li>
	</ul>
</ul>
<% end %>

<% if @sourcedb == 'PubMed' %>
<h2>Annotations in the set</h2>
<ul>
<li><%= link_to "All annotations", pmdoc_annset_annotations_url(@sourceid, @annset.name) %></li>
<ul>
<li><%= link_to "Category annotations", pmdoc_annset_catanns_url(@sourceid, @annset.name) %></li>
<li><%= link_to "Instance annotations", pmdoc_annset_insanns_url(@sourceid, @annset.name) %></li>
<li><%= link_to "Relation annotations", pmdoc_annset_relanns_url(@sourceid, @annset.name) %></li>
<li><%= link_to "Modification annotations", pmdoc_annset_modanns_url(@sourceid, @annset.name) %></li>
</ul>
</ul>
<% end %>
<% if @sourcedb == 'PMC' %>
<h2>See the annotations in the set</h2>
<ul>
<li><%= link_to "All annotations", pmcdoc_div_annset_annotations_url(@sourceid, @serial, @annset.name) %></li>
<ul>
<li><%= link_to "Category annotations", pmcdoc_div_annset_catanns_url(@sourceid, @serial, @annset.name) %></li>
<li><%= link_to "Instance annotations", pmcdoc_div_annset_insanns_url(@sourceid, @serial, @annset.name) %></li>
<li><%= link_to "Relation annotations", pmcdoc_div_annset_relanns_url(@sourceid, @serial, @annset.name) %></li>
<li><%= link_to "Modification annotations", pmcdoc_div_annset_modanns_url(@sourceid, @serial, @annset.name) %></li>
</ul>
</ul>
<% end %>
