<% content_for :path do %>
	> <%= link_to "home", home_path %>
	<% if @doc and @doc.sourcedb == 'PubMed' %>
		> <%= link_to "pmdocs", pmdocs_path %>
		> <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
	 	> <%= link_to "annsets", pmdoc_annsets_path(@doc.sourceid) %>
	<% elsif @doc and @doc.sourcedb == 'PMC' %>
		> <%= link_to "pmcdocs", pmcdocs_path %>
		> <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
		> <%= link_to "divs",    pmcdoc_divs_path(@doc.sourceid) %>
		> <%= link_to @doc.serial,   pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
	 	> <%= link_to "annsets", pmcdoc_div_annsets_path(@doc.sourceid, @doc.serial) %>
	<% else %>
 		> <%= link_to "annsets", annsets_path %>
 	<% end %>
 	> <%= @annset.name %>
<% end %>

<h1>Annotation set description</h1>

<% if @annset %>
	<table>
	<tr>
	<th>Name</th>
	<td><%= @annset.name %></td>
	</tr>
	<tr>
	<th>Description</th>
	<td><%= @annset.description %></td>
	</tr>
	<tr>
	<th>Author</th>
	<td><%= @annset.author %></td>
	</tr>
	<tr>
	<th>License</th>
	<td><%= @annset.license %></td>
	</tr>
	<tr>
	<th>Status</th>
	<td><%=
		case @annset.status
		when 1 then :Released
		when 2 then :Beta
		when 3 then :Developing
		end
	%></td>
	</tr>
	<tr>
	<th>Accessibility</th>
	<td><%=
		case @annset.accessibility
		when 1 then :Public
		when 2 then :Private
		end
	%></td>
	</tr>
	<tr>
	<th>Uploader</th>
	<td><%= @annset.user.username %></td>
	</tr>
	<tr>
	<th>Reference</th>
	<td><a href="<%= @annset.reference %>"><%= @annset.reference %></a></td>
	</tr>
	<th>Viewer</th>
	<td><a href="<%= @annset.viewer %>"><%= @annset.viewer %></a></td>
	</tr>
	<% if user_signed_in? and current_user == @annset.user %>
		<tr>
			<th>Editor</th>
			<td><a href="<%= @annset.editor %>"><%= @annset.editor %></a></td>
		</tr>
	<% end %>
	<% unless @annset.rdfwriter.empty? %>
		<tr>
			<th>RDF writer</th>
			<td><a href="<%= @annset.rdfwriter %>"><%= @annset.rdfwriter %></a></td>
		</tr>
	<% end %>
	<% unless @annset.xmlwriter.empty? %>
		<tr>
			<th>XML writer</th>
			<td><a href="<%= @annset.xmlwriter %>"><%= @annset.xmlwriter %></a></td>
		</tr>
	<% end %>
	<% unless @annset.bionlpwriter.empty? %>
		<tr>
			<th>BioNLP-ST writer</th>
			<td><a href="<%= @annset.bionlpwriter %>"><%= @annset.bionlpwriter %></a></td>
		</tr>
	<% end %>
	</table>

	<% if user_signed_in? and current_user == @annset.user %>
		<span class="button"><%= link_to 'Edit', edit_annset_path(@annset.name) %></span>
		<span class="button"><%= link_to 'Delete', @annset.name, :method => :delete, :confirm => 'Are you sure? All the annotations that belong to this annotation set will be deleted.' %></span>
	<% end %>

	<% if @doc %>
		<% if @doc.sourcedb == 'PubMed' %>
			<% annotation_url = pmdoc_annset_annotations_url(@doc.sourceid, @annset.name) %>
		<% else %>
			<% annotation_url = pmcdoc_div_annset_annotations_url(@doc.sourceid, @doc.serial, @annset.name) %>
		<% end %>

		<h2>Annotations
			<span class="meta">to the document, <span class="pname"><%=@doc.sourcedb%>:<%=@doc.sourceid%></span>,
			within this annotation set</span></span>
		</h2>
		<%= render :partial => "annotations/options", :locals => {:annset => @annset, :annotation_url => annotation_url, :identifier => "#{@doc.sourcedb}-#{@doc.sourceid}-#{@doc.serial}-#{@doc.section}" } %>
	<% else %>
		<h2>Documents <span class="meta">that belong to this annotation set</span></h2>
		<ul>
			<li><%= link_to "PubMed documents", annset_pmdocs_url(@annset.name) %> (<%= @pmdocs_num %>)</li>
			<li><%= link_to "PMC documents", annset_pmcdocs_url(@annset.name) %> (<%= @pmcdocs_num %>)</li>
		</ul>
	<% end %>
<% end %>