<% collection_size = local_assigns[:size].present? ? local_assigns[:size] : @annotations[:denotations].size-%>

<% if denotation_counter == 0 -%>
  <h2><%= t('activerecord.models.denotation') %></h2>
  <table class="ann">
    <tr>
      <% if local_assigns[:project].present? -%>
      	<th>Project</th>
      <% end -%>
      <th>Id</th>
      <th>Span</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>
<% end %>

<tr>
  <% if local_assigns[:project].present? && denotation_counter == 0 -%>
  	<td rowspan="<%= collection_size -%>" style="vertical-align: top">
      <%= link_to project.name, project_path(project.name) -%>
    </td>
  <% end -%>
  <td><%= denotation[:id] %></td>
  <td>
    <% unless denotation[:span].respond_to?(:keys) %>
      <% denotation[:span].each_with_index do |s, i| %><% unless i == 0 %>,<% end %><%= s[:begin] %>:<%= s[:end] %><% end %>
    <% else %>
        <%= span_link_helper(@doc, denotation[:span]) -%>
    <% end %>
  </td>
  <td>denote</td>
  <td><%= denotation[:obj] %></td>
  <% if @doc.present? -%>
      <td class="spans_preview">
  		<%= @doc.body[denotation[:span][:begin]...denotation[:span][:end]] -%>
      </td>
  <% end %> 
</tr>

<% if denotation_counter == collection_size - 1 -%>
  </table>
<% end -%>
