<h1>Category annotations</h1>

<table class="ann">
  <tr>
    <th>Annotation set</th>
    <!--th>Doc DB</th>
    <th>Doc Id</th>
    <th>Division</th-->
    <th>Id</th>
    <th>Denotation (begin:end)</th>
    <th>Category</th>
  </tr>

<% @denotations.each do |denotation| %>
  <tr>
    <td><%= denotation.project %></td>
    <!--td><= denotation.doc_sourcedb %></td>
    <td><= denotation.doc_sourceid %></td>
    <td><= denotation.doc_serial %></td-->
    <td><%= denotation.id %></td>
    <td>
      <% unless denotation.denotation.respond_to?(:keys) %>
        <% denotation.denotation.each_with_index do |s, i| %><% unless i == 0 %>,<% end %><%= s[:begin] %>:<%= s[:end] %><% end %>
      <% else %>
        <%= denotation.denotation[:begin] %>:<%= denotation.denotation[:end] %>
      <% end %>
    </td>
    <td><%= denotation.category %></td>
  </tr>
<% end %>
</table>

<% unless @relations.empty? %>
<h2>Chain annotations</h1>

<table class="ann">
  <tr>
    <th>Project</th>
    <th>Id</th>
    <th>Subject</th>
    <th>Type</th>
    <th>Object</th>
  </tr>

<% @relations.each do |relation| %>
  <tr>
    <td><%= relation.project %></td>
    <td><%= relation.id %></td>
    <td><%= relation.subject %></td>
    <td><%= relation.type %></td>
    <td><%= relation.object %></td>
  </tr>
<% end %>
</table>
<% end %>
