<p id="notice"><%= notice %></p>

<p>
  <b>Hid:</b>
  <%= @denotation.hid %>
</p>

<p>
  <b>Doc:</b>
  <%= @denotation.doc.sourceid %>
</p>

<p>
  <b>Begin:</b>
  <%= @denotation.begin %>
</p>

<p>
  <b>End:</b>
  <%= @denotation.end %>
</p>

<p>
  <b>Category:</b>
  <%= @denotation.category %>
</p>

<p>
  <b>Project:</b>
  <%= @denotation.project.name %>
</p>


<%= link_to 'Back', denotations_path %>
