<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<%=
		if params.has_key? :project_id
			link_to('> ' + t('activerecord.models.project').pluralize, projects_path) + ' ' +
			link_to('> ' + @organization.name, project_path(@organization.name))
		else
			link_to('> ' + t('activerecord.models.collection').pluralize, collections_path) + ' ' +
			link_to('> ' + @organization.name, collection_path(@organization.name))
		end
	%>
	> jobs
<% end %>

<section>
	<%=
		if params.has_key? :project_id
			@project = @organization
			render :partial => 'projects/titlebar'
		else
			@collection = @organization
			render :partial => 'collections/titlebar'
		end
	-%>

	<section>
		<h1>Background jobs
			<%=
				clear_finished_jobs_path = if params.has_key? :project_id
					project_clear_finished_jobs_path(@organization.name)
				else
					collection_clear_finished_jobs_path(@organization.name)
				end
				link_to 'Clear finished jobs', clear_finished_jobs_path, method: :delete, :class => 'control button'
			%>
		</h1>
		<table>
			<tr>
				<th>#</th>
				<th>Job type</th>
				<th>Created at</th>
				<th>State</th>
				<th>Progress</th>
				<th>#Messages</th>
			</tr>

			<% @jobs.each_with_index do |job, i| %>
				<tr
					<%=
						if job.running?
							'style=background-color:#ffcccc'
						elsif job.finished?
							'style=color:#888888'
						end
					%>
				>
					<td><%= i + 1 %></td>
					<td><%= job.name %></td>
					<td><%= job.created_at %></td>
					<td><%= job.state %></td>
					<td style="text-align:center"><%= job.num_items.nil? ? '-' : "#{job.num_dones} / #{job.num_items}" %></td>
					<td style="text-align:right"><%= job.messages.count %></td>
					<td>
						<%
							organization_job_path = if params.has_key? :project_id
								project_job_path(@organization.name, job)
							else
								collection_job_path(@organization.name, job)
							end
						%>
						<%= link_to 'Show', organization_job_path, class: :button %>
						<% if job.suspended? %>
							<button disabled="true">stopping<i class='fa fa-refresh fa-spin'></i></button>
						<% elsif job.running? %>
							<%= link_to 'Stop', organization_job_path, method: :put, data: { confirm: t('controllers.shared.confirm_stop'), disable_with: "stopping<i class='fa fa-refresh fa-spin'></i>" }, class: :button %>
						<% else %>
							<%= link_to 'Remove', organization_job_path, method: :delete, data: { confirm: t('controllers.shared.confirm_delete') }, class: :button %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</section>
</section>

<script>
  setTimeout("location.reload()",3000);
</script>
