<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<%=
		if params.has_key? :project_id
			link_to('> ' + t('activerecord.models.project').pluralize, projects_path) + ' ' +
			link_to('> ' + @organization.name, project_path(@organization.name))
		else
			link_to('> ' + t('activerecord.models.collection').pluralize, collections_path) + ' ' +
			link_to('> ' + @organization.name, collection_path(@organization.name))
		end
	%>
	> jobs
<% end %>

<section>
	<%=
		if params.has_key? :project_id
			@project = @organization
			render :partial => 'projects/titlebar'
		else
			@collection = @organization
			render :partial => 'collections/titlebar'
		end
	-%>

	<section>
		<h1>Background jobs
			<%=
				clear_finished_jobs_path = if params.has_key? :project_id
					project_clear_finished_jobs_path(@organization.name)
				else
					collection_clear_finished_jobs_path(@organization.name)
				end
				link_to 'Clear finished jobs', clear_finished_jobs_path, method: :delete, :class => 'control button'
			%>
		</h1>
		<div class="jobs-table">
			<%= render :partial => "jobs/jobs_table", :locals => { jobs: @jobs } %>
		</div>
	</section>
</section>

<script>
  $(document).ready(
    function() {
      setInterval(function() {
        $('.jobs-table').load(`${location.pathname}/reload_table`);
      }, 3000);
    });
</script>
