<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<%=
		if params.has_key? :project_id
			link_to('> ' + t('activerecord.models.project').pluralize, projects_path) + ' ' +
			link_to('> ' + @organization.name, project_path(@organization.name)) + ' ' +
			link_to('jobs', project_jobs_path(@organization.name))
		else
			link_to('> ' + t('activerecord.models.collection').pluralize, collections_path) + ' ' +
			link_to('> ' + @organization.name, collection_path(@organization.name)) + ' ' +
			link_to('jobs', collection_jobs_path(@organization.name))
		end
	%>
	> <%= @job.id %>
<% end %>

<section>
	<%=
		if params.has_key? :project_id
			@project = @organization
			render :partial => 'projects/titlebar'
		else
			@collection = @organization
			render :partial => 'collections/titlebar'
		end
	-%>

	<section>
		<h1>
		Job #<%= @job.id %>: <%= @job.name %>
		<%=
			unless @job.running?
				organization_job_path = if params.has_key? :project_id
					project_job_path(@organization.name, @job)
				else
					collection_job_path(@organization.name, @job)
				end
				link_to 'Remove', organization_job_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => :button
			end
		%>
		</h1>

		<p id="notice"><%= notice %></p>

		<table>
		<tr>
			<th>Created at</th>
			<td><%= @job.created_at %></td>
		</tr>

		<tr>
			<th>Begun at</th>
			<td><%= @job.begun_at %></td>
		</tr>

		<% if @job.ended_at.present? %>
			<tr>
				<th>Ended at</th>
				<td><%= @job.ended_at %></td>
			</tr>

			<tr>
				<th>Elapsed</th>
				<td><%= time_duration(@job.ended_at - @job.begun_at) %></td>
			</tr>

			<tr>
				<%
					duration = @job.ended_at - @job.begun_at
					pace = if @job.num_dones && @job.num_dones > 0 && duration > 0
					 @job.num_dones / duration
					else
						0
					end
				%>
				<th>Pace</th>
				<td><%= pace.round(3) %> docs/second</td>
			</tr>
		<% else %>
			<tr>
				<th>Now</th>
				<td><%= Time.now.utc %></td>
			</tr>

			<% if @job.begun_at.present? %>
				<% duration = Time.now.utc - @job.begun_at %>
				<tr>
					<th>Elapsed</th>
					<td><%= time_duration(duration) %></td>
				</tr>
				<tr>
					<th>Progress</th>
					<td><%= @job.num_dones %> / <%= @job.num_items %></td>
				</tr>

				<% if @job.num_dones > 0 %>
					<% pace = @job.num_dones / duration %>
					<tr>
						<th>Pace</th>
						<td><%= pace.round(3) %> docs/second</td>
					</tr>
					<tr>
						<th>will further take</th>
						<td><%= time_duration((@job.num_items - @job.num_dones) / pace) %> (estimation)</td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
		</table>

		<%= render partial: 'messages/messages_grid' -%>
	</section>
</section>
