<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @doc and @doc.sourcedb == 'PubMed' %>
    > <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
    > <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
    > <%= link_to t('activerecord.models.project').pluralize, pmdoc_projects_path(@doc.sourceid) %>
  <% elsif @doc and @doc.sourcedb == 'PMC' %>
    > <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
    > <%= link_to t('views.shared.divs'),    pmcdoc_divs_path(@doc.sourceid) %>
    > <%= link_to @doc.serial,   pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
    > <%= link_to t('activerecord.models.project').pluralize, pmcdoc_div_projects_path(@doc.sourceid, @doc.serial) %>
  <% else %>
    > <%= link_to t('activerecord.models.project').pluralize, projects_path %>
  <% end %>
  > <%= link_to @project.name, project_path(@project.name) %>
  > <%= link_to 'jobs', project_jobs_path(@project.name) %>
  > <%= @job.delayed_job_id %>

<% end %>

<section>
  <%= render :partial => 'projects/titlebar' -%>

  <section>
    <h1>
    Job #<%= @job.delayed_job_id %>: <%= @job.name %>
    <%= link_to 'Remove', project_job_path(@project.name, @job), method: :delete, data: { confirm: 'Are you sure?' }, :class => :button unless @job.running? %>
    </h1>

    <p id="notice"><%= notice %></p>

    <table>
    <tr>
      <th>Created at</th>
      <td><%= @job.created_at %></td>
    </tr>

    <tr>
      <th>Begun at</th>
      <td><%= @job.begun_at %></td>
    </tr>

    <tr>
      <th>Ended at</th>
      <td><%= @job.ended_at %></td>
    </tr>

    <tr>
      <th>Progress</th>
      <td><%= @job.num_dones %> / <%= @job.num_items %></td>
    </tr>
    </table>

    <% unless @job.messages.empty? %>
      <section>
        <h2>
          Problem reports (<%= @job.messages.count %>)
          <span class='tab-bar'>
            <%= link_to_unless_current 'JSON', params.merge(controller: :messages, action: :index, format: :json), :class => 'tab' -%>
            <%= link_to_unless_current 'TSV', params.merge(controller: :messages, action: :index, format: :tsv), :class => 'tab' -%>
            </span>
        </h2>
        <p class="note">The following items were rejected due to the reported reasons.</p>
        <table>
          <tr>
          <th>Item</th>
          <th>Error message</th>
          <th>Reported at</th>
          </tr>
          <%= render partial: 'messages/message', collection: @messages -%>
        </table>
      </section>
    <% end %>
  </section>
</section>