<h1>Category annotations</h1>

<table class="ann">
  <tr>
    <th>Annotation set</th>
    <!--th>Doc DB</th>
    <th>Doc Id</th>
    <th>Division</th-->
    <th>Id</th>
    <th>Span (begin:end)</th>
    <th>Category</th>
  </tr>

<% @catanns.each do |catann| %>
  <tr>
    <td><%= catann.project %></td>
    <!--td><= catann.doc_sourcedb %></td>
    <td><= catann.doc_sourceid %></td>
    <td><= catann.doc_serial %></td-->
    <td><%= catann.id %></td>
    <td>
      <% unless catann.span.respond_to?(:keys) %>
        <% catann.span.each_with_index do |s, i| %><% unless i == 0 %>,<% end %><%= s[:begin] %>:<%= s[:end] %><% end %>
      <% else %>
        <%= catann.span[:begin] %>:<%= catann.span[:end] %>
      <% end %>
    </td>
    <td><%= catann.category %></td>
  </tr>
<% end %>
</table>

<% unless @relations.empty? %>
<h2>Chain annotations</h1>

<table class="ann">
  <tr>
    <th>Project</th>
    <th>Id</th>
    <th>Subject</th>
    <th>Type</th>
    <th>Object</th>
  </tr>

<% @relations.each do |relation| %>
  <tr>
    <td><%= relation.project %></td>
    <td><%= relation.id %></td>
    <td><%= relation.subject %></td>
    <td><%= relation.type %></td>
    <td><%= relation.object %></td>
  </tr>
<% end %>
</table>
<% end %>
