<%= render :partial => 'sqls/form' -%>

<% if @denotations.present? -%>
	<table style="margin-bottom: 1em">
		<tr>
			<th>sourcedb</th>
			<th>sourceid</th>
			<th>doc_id</th>
			<th>begin</th>
			<th>end</th>
			<th>spans</th>
			<th></th>
		</tr>
		<% @denotations.each do |denotation| -%>
			<tr>
				<td>
					<%= denotation.doc.sourcedb if denotation.doc -%>
				</td>
				<td>
					<%= denotation.doc.sourceid if denotation.doc -%>
				</td>
				<td>
					<%= denotation.doc_id -%>
				</td>
				<td>
					<%= denotation.begin -%>
				</td>
				<td>
					<%= denotation.end -%>
				</td>
				<td>
					<% if denotation.doc.present? -%>
						<% spans = denotation.doc.spans({:begin => denotation.begin, :end => denotation.end}) -%>
						<%= spans[0] -%>
					<% end -%>
				</td>
				<td style='white-space: nowrap'>
					<% if denotation.doc.present? -%>
						<% if denotation.doc.sourcedb == 'PubMed'-%>
							<%= link_to t('views.shared.show'), spans_pmdoc_path(denotation.doc.sourceid, denotation.begin, denotation.end), :target => '_blank'-%>
						<% else -%>
							<%= link_to t('views.shared.show'), spans_pmcdoc_div_path(denotation.doc.sourceid, denotation.doc.serial, denotation.begin, denotation.end), :target => '_blank'-%>
						<% end -%>
					<% end -%>
				</td>
			</tr>
		<% end -%>
	</table>
	
	<%= will_paginate @denotations -%>
<% end -%>

