<h1>Listing catanns</h1>

<table>
  <tr>
    <th>Annotation set</th>
    <th>Doc DB</th>
    <th>Doc Id</th>
    <th>Id</th>
    <th>Begin</th>
    <th>End</th>
    <th>Category</th>
  </tr>

<% @catanns.each do |catann| %>
  <tr>
    <td><%= catann.annset_name %></td>
    <td><%= catann.sourcedb %></td>
    <td><%= catann.sourceid %></td>
    <td><%= catann.hid %></td>
    <td><%= catann.begin %></td>
    <td><%= catann.end %></td>
    <td><%= catann.category %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', home_path %>
