<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  > users
  > <%= @user.username %>
<% end %>

<section>
  <h1>
    User '<%= @user.username %>'
    <% if @user == current_user %>
      <%= link_to 'Edit', edit_user_registration_path, :class => :button %>
    <% end %>
  </h1>
  
  <% if @user == current_user %>
    <table>
    <tr>
    <th>E-mail</th>
    <td><%= @user.email -%></td>
    </tr>
    <tr>
    <th>Last login</th>
    <td><%= @user.last_sign_in_at -%></td>
    </tr>
    </table>
  <% end %>

  <section>
    <h2>
      Collections
      <%= link_to 'create', new_collection_path, {class: 'control button'} if @user == current_user %>
    </h2>

    <%=
      grid(@collections_grid) do |g|

        g.column name: 'Name', attribute: 'name' do |collection|
          [link_to(collection.name, collection_path(collection.name)), {title: collection.name}]
        end

        if @user == current_user
          g.column attribute: 'accessibility', filter: false, class: 'column-project-type' do |collection|
            [badge_accessibility(collection).html_safe, {style: 'text-align:center'}]
          end
        end

        g.column filter: false, class: 'column-project-type' do |collection|
          [badge_sharedtask(collection).html_safe, {style: 'text-align:center'}]
        end

        g.column name: 'Description', attribute: 'description' do |collection|
          [strip_tags(collection.description), {style: 'width:20em; max-width: 20em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
        end

        g.column name: 'Updated at', attribute: 'updated_at', filter: false do |collection|
          [collection.updated_at.strftime('%Y-%m-%d'), {style: 'width:7em; text-align:center'}]
        end

      end
    -%>
  </section>

  <section>
    <h2>
      Projects
      <%= link_to 'create', new_project_path, {class: 'control button'} if @user == current_user %>
    </h2>

    <%=
      grid(@projects_grid) do |g|

        g.column name: 'Name', attribute: 'name' do |project|
          [link_to(project.name, project_path(project.name)), {title: project.name}]
        end

        if @user == current_user
          g.column name: 'A', attribute: 'accessibility', filter: false, class: 'column-project-type' do |project|
            [badge_accessibility(project).html_safe, {style: 'text-align:center'}]
          end
        end

        g.column name: 'T', attribute: 'process', filter: false, class: 'column-project-type' do |project|
          [badge_type(project).html_safe, {style: 'text-align:center'}]
        end

        g.column name: 'Description', attribute: 'description' do |project|
          [strip_tags(project.description), {style: 'width:20em; max-width: 20em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
        end

        g.column name: '# Ann.', attribute: 'denotations_num' do |project|
          # [number_with_delimiter(project.denotations_num, :delimiter => ','), {style: 'width:5.5em; text-align:right'}]
          [number_to_human(project.denotations_num, units: {thousand:'K', million:'M', billion:'G', trillion:'T'}), {style: 'width:5.5em; text-align:right'}]
        end

        g.column name: 'Updated at', attribute: 'updated_at', filter: false do |project|
          [project.updated_at.strftime('%Y-%m-%d'), {style: 'width:7em; text-align:center'}]
        end

        g.column name: 'Status', attribute: 'status', custom_filter: {'released' => 1, 'beta' => 2, 'uploading' => 3, 'developing' => 8, 'testing' => 9} do |project|
          [project.status_text, {style: 'width:8em; text-align:center'}]
        end

      end
    -%>
  </section>

  <section>
    <h2>
      Automatic annotators
      <%= link_to 'create', new_annotator_path, {class: 'control button'} if @user == current_user %>
    </h2>

    <%=
      if @annotators_grid.resultset.count > 0
        grid(@annotators_grid) do |g|
          g.column name: 'Name', attribute: 'name' do |annotator|
            [link_to(annotator.name, annotator), {style: 'width:10em'}]
          end

          if @user == current_user
            g.column name: 'P', attribute: 'is_public', filter: false, class: 'column-project-type' do |annotator|
              [badge_is_public(annotator).html_safe, {style: 'text-align:center'}]
            end
          end

          g.column name: 'Description', attribute: 'description' do |annotator|
            [strip_tags(annotator.description), {style: 'width:20em; max-width: 20em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
          end
        end
      else
        'none'
      end
    -%>
  </section>

  <section>
    <h2>
      Editors
      <%= link_to 'create', new_editor_path, {class: 'control button'} if @user == current_user %>
    </h2>

    <%=
      if @editors_grid.resultset.count > 0
        grid(@editors_grid) do |g|
          g.column name: 'Name', attribute: 'name' do |editor|
            [link_to(editor.name, editor), {style: 'width:10em'}]
          end

          if @user == current_user
            g.column name: 'P', attribute: 'is_public', filter: false, class: 'column-project-type' do |editor|
              [badge_is_public(editor).html_safe, {style: 'text-align:center'}]
            end
          end

          g.column name: 'Description', attribute: 'description' do |editor|
            [strip_tags(editor.description), {style: 'width:20em; max-width: 20em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
          end
        end
      else
        'none'
      end
    -%>
  </section>

</section>