<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= link_to t('views.users.sign_in'), new_user_session_path %> 
	> <%= t('views.users.reset_password') %>
<% end %>

<h1><%= t('views.users.reset_password') %></h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table>
  <tr>
  	<th><%= f.label :login %></th>
  	<td><%= f.text_field :login, :placeholder => "Your username or e-mail address" %></td>
  </tr>
  <tr>
  	<th colspan="2" style="text-align:center"><%= f.submit t('views.users.send_reset_password_instructions') %></th>
  </tr>
  </table>

<% end %>
<br/>
<%= render "devise/shared/links" %>
