<h1><%= t('views.docs.document_content') %></h1>

<table>
<tr><th style="text-align:left">
	<% if @doc.sourcedb.present? -%>
		<%= @doc.sourcedb %>:<a href="<%= @doc.source %>"><%= @doc.sourceid %></a>
	<% else -%>
		<%= "Doc :#{@doc.id}" -%>
	<% end -%>
	<% if @doc.sourcedb == 'PMC' %>
		(<%= @doc.serial %> - <%= @doc.section %>)
	<% end %>
</th></tr>
<tr><td class="text"><%= raw @text.gsub(/\n/, "<br>") if @text.present? %></td><tr>
</table>

<%= link_to t('views.shared.edit_model', :model => t('activerecord.models.doc')), edit_doc_path(@doc), :class => 'button'  if @doc.updatable_for?(current_user) -%>
