<% if doc_counter == 0 -%>
	<table class="full">
		<tr>
			<th style="width:5em"><%= t('activerecord.attributes.doc.sourcedb') -%></th>
			<th style="width:5em"><%= t('activerecord.attributes.doc.sourceid') -%></th>
			<th style="width:2em"><%= t('views.divs.div')%></th>
			<th style="width:10em"><%= t('activerecord.attributes.doc.section') -%></th>
			<th><%= t('activerecord.attributes.doc.body') -%></th>
			<th style="width:12em"></th>
		</tr>
<% end -%>

<tr>
	<td> <%= sourceid_index_link_helper(doc) -%> </td>
	<td><a href="<%= doc.source -%>"><%= doc.sourceid -%></a></td>
	<td style="text-align:right"><%= doc.serial -%></td>
	<td><%= doc.section -%></td>
	<td class="text"><%= doc.body -%></td>
	<td style="text-align:center">
    	<% if @project -%>
    		<% if doc.has_divs? -%>
    			<%= link_to t('views.shared.show'), show_project_sourcedb_sourceid_divs_docs_path(@project.name, doc.sourcedb, doc.sourceid, doc.serial), class: 'button' -%>
    		<% else -%>
    			<%= link_to t('views.shared.show'), show_project_sourcedb_sourceid_docs_path(@project.name, doc.sourcedb, doc.sourceid), class: 'button' -%>
    		<% end -%>

   			<% if user_signed_in? && @project.user == current_user %>
				<%= link_to t('views.shared.delete'), project_doc_path(@project.name, doc.id), method: 'delete', confirm: t('controllers.shared.confirm_delete'), class: 'button' if @project.present? && doc.updatable_for?(current_user) -%>
			<% end %>
    	<% else -%>
    		<% if doc.has_divs? -%>
    			<%= link_to t('views.shared.show'), doc_sourcedb_sourceid_divs_show_path(doc.sourcedb, doc.sourceid, doc.serial), class: 'button' -%>
        	<% else -%>
    			<%= link_to t('views.shared.show'), doc_sourcedb_sourceid_show_path(doc.sourcedb, doc.sourceid), class: 'button' -%>
        	<% end -%>
    	<% end -%>

		<!-- <%= link_to t('views.shared.edit'), edit_doc_path(doc), :class => 'button' if doc.updatable_for?(current_user) -%> -->
	</td>
</tr>

<% if doc_counter == @docs.size-1 -%>
	</table>
<% end -%>
