<%= form_for(@doc) do |f| %>
	<%= errors_helper(@doc) %>

	<table style="width:610px">
		<tr>
			<th style="width:5em">Text</th>
			<td>
			<%= text_area_tag 'doc[text]', @doc.body, size: "60x10" %>
			<% if @doc.new_record? && current_user&.can_access_media? %>
				<br>
				<%= check_box_tag 'generate_text_from_media', '1', false %>
				<label for="generate_text_from_media">Generate text from media using LLM (overwrites text above)</label>
			<% end %>
		</td>
		</tr>
		<tr>
			<th>Meta-data</th>
			<td>
				Leave it blank if you don't know what they are.
				<table>
					<tr>
						<th>Source URL</th>
						<td><%= f.text_field :source %></td>
					</tr>
					<tr>
						<th>Source DB</th>
						<td><%= f.text_field :sourcedb %></td>
					</tr>
					<tr>
						<th>Source Id</th>
						<td><%= f.text_field :sourceid %></td>
					</tr>
				</table>
			</td>
		</tr>
	<% if @doc.new_record? && current_user&.can_access_media? %>
	<tr>
		<th>Media</th>
		<td>
			Leave it blank if not associated with a media.
			<table>
				<tr>
					<th>Media Source DB</th>
					<td><%= text_field_tag 'media[sourcedb]' %></td>
				</tr>
				<tr>
					<th>Media Source Id</th>
					<td><%= text_field_tag 'media[sourceid]' %></td>
				</tr>
			</table>
		</td>
	</tr>
	<% end %>
	</table>

	<%= f.hidden_field :username, value: current_user.username -%>
	<%= hidden_field_tag :project_id, @project.name if @project.present? -%>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
