<%= form_for(@doc) do |f| %>
	<%= errors_helper(@doc) %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :sourcedb %><br />
    <%= f.text_field :sourcedb %>
  </div>
  <div class="field">
    <%= f.label :sourceid %><br />
    <%= f.text_field :sourceid %>
  </div>
  <div class="field">
    <%= f.label :serial %><br />
    <%= f.number_field :serial %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </div>
  <%= f.hidden_field :username, value: current_user.id -%>
  <%= hidden_field_tag :project_id, @project.name if @project.present? -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
