<% if @project and user_signed_in? && current_user == @project.user && @project.class == Project %>
	<%= form_tag(project_docs_project_docs_path(@project.name), :method => "post") do %>
	  <table>
	    <tr>
	      <th><%= label_tag(:ids,  t('views.shared.add_model', :model => t('activerecord.models.doc').pluralize)) %><br/></th>
	      <td>
	      	<%= select_tag(:sourcedb, options_for_select({'PubMed' => 'PMDoc', 'PMC' => 'PMCDoc', 'FADoc' => 'FADoc'})) -%>
	        <%= text_area_tag(:ids, nil, :placeholder => t('activerecord.placeholders.doc.ids'), :required => true) %>
	        <%= submit_tag(t('views.shared.add')) %>
	      </td>
	    </tr>
	  </table>
	<% end %>
<% end %>
