<% if @project and user_signed_in? && current_user == @project.user && @project.class == Project %>
	<%= form_tag(project_docs_project_docs_path(@project.name), :method => "post") do %>
	  <table>
	    <tr>
		    <th><%= t('activerecord.attributes.doc.sourcedb')%></th>
		    <th><%= t('activerecord.attributes.doc.sourceid')%></th>
		</tr>
		<tr>
	    	<td><%= select_tag(:sourcedb, options_for_select({'PubMed' => 'PubMed', 'PMC' => 'PMC', 'FirstAuthor' => 'FirstAuthor'})) -%></td>
	        <td><%= text_area_tag(:ids, nil, :placeholder => t('activerecord.placeholders.doc.ids'), :required => true) %></td>
	        <td><%= submit_tag(t('views.shared.add')) %></td>
	    </tr>
	  </table>
	<% end %>
<% end %>
