<%= form_tag(@search_path, method: 'get')  do -%>
  <table class="search">		
    <tr>
      <th class="docs_header_sourcedb"><%= label_tag :sourcedb, t('activerecord.attributes.doc.sourcedb') -%></th>
      <th class="docs_header_sourceid"><%= label_tag :sourceid, t('activerecord.attributes.doc.sourceid') -%></th>
      <th><%= label_tag :sourceid, t('activerecord.attributes.doc.body') -%></th>
    </tr>
    <tr>
      <td><%= autocomplete_field_tag :sourcedb, params[:sourcedb], "#{autocomplete_sourcedb_docs_path}", style: "width:95%" -%></td>
      <td><%= text_field_tag :sourceid, params[:sourceid], value: params[:sourceid], style: "width:95%" -%></td>
      <td><%= text_field_tag :body, params[:body], value: params[:body], style: "width:97%" -%></td>
      <td>
        <%= submit_tag t('views.shared.search'), class: :button -%>
        <%= submit_tag t('views.shared.clear'), id: 'reset', class: :button -%>
      </td>
    </tr>
  </table>
<% end %>

<script>
  $("#reset").click(function(){
   $(this).closest('form').find("input[type=text], textarea").val("");
    return false
  });
</script>
