<% if source_doc_counter == 0 -%>
	<%= render :partial => 'projects/links' -%>

	<h2><%= t('views.docs.folded_docs_list') -%></h2>

	<table>		
		<tr>
			<th><%= t('activerecord.attributes.doc.sourcedb') %></th>
			<th class="sortable-th">
				<%= link_to_unless_current t('activerecord.attributes.doc.sourceid'), url_for(:only_path => true, :docs_order => 'sourceid', :accordion_id => 2), :class => 'sortable-a' %>
			</th>
			<th><%= t('activerecord.attributes.doc.body') %></th>
			<th></th>
		</tr>
<% end -%>

<tr>
	<td>
      	<%= sourceid_index_link_helper(source_doc) -%>
	</td>
	<td>
		<%= source_doc.sourceid -%>
	</td>
	<td>
		<div class="doc_body_ellipsis">
			<%= source_doc.body -%>
		</div>
	</td>
	<td>
        <span class="button">
        	<% if  params[:project_id].present? -%>
        		<% if source_doc.has_divs? -%>
        			<%= link_to t('views.shared.show_divisions'), index_project_sourcedb_sourceid_divs_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid) -%>
        		<% else -%>
        			<%= link_to t('views.shared.show'), show_project_sourcedb_sourceid_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid) -%>
        		<% end -%>
        	<% else -%>
        		<% if source_doc.has_divs? -%>
        			<%= link_to t('views.shared.show_divisions'), doc_sourcedb_sourceid_divs_index_path(source_doc.sourcedb, source_doc.sourceid) -%>
	        	<% else -%>
        			<%= link_to t('views.shared.show'), doc_sourcedb_sourceid_show_path(source_doc.sourcedb, source_doc.sourceid) -%>
	        	<% end -%>
        	<% end -%>
        </span>
	</td>
</tr>

<% if source_doc_counter == @source_docs.size - 1 -%>
	</table>
	
	<%= will_paginate @source_docs -%>
<% end -%>
