<% if source_doc_counter == 0 -%>
  <div style="float:right">
    <%= total_number(@source_docs, 'docs') -%>
  </div>
	
	<table class="full">		
		<tr>
      <th class="docs_header_sourcedb">
				<% if params[:action] == 'search' -%>
					<%= t('activerecord.attributes.doc.sourcedb') -%>
				<% else -%>
         <%= sortable(Doc, 'sourcedb', t('activerecord.attributes.doc.sourcedb')) %>
				<% end -%>
			</th>
      <th class="docs_header_sourceid">
				<% if params[:action] == 'search' -%>
					<%= t('activerecord.attributes.doc.sourceid') -%>
				<% else -%>
					<%= sortable(Doc, 'sourceid', t('activerecord.attributes.doc.sourceid')) %>
				<% end -%>
			</th>
			<th><%= t('activerecord.attributes.doc.body') %></th>
      <th style="width:6em">
				<% if params[:action] == 'search' -%>
					<%= t('activerecord.models.project') -%>
				<% else -%>
					<%= sortable(Doc, 'projects_count', t('activerecord.models.project')) %>
				<% end -%>
      </th>
			<th style="width:12em"></th>
		</tr>
<% end -%>

<tr>
	<td><%= sourceid_index_link_helper(source_doc) -%></td>
	<td><%= source_doc.sourceid -%></td>
	<td><%= source_doc.body -%></td>
  <td><%= source_doc.projects.count -%></td>
	<td>
        <span class="button">
        	<% if  params[:project_id].present? -%>
        		<% if source_doc.has_divs? -%>
        			<%= link_to t('views.shared.show_divisions'), index_project_sourcedb_sourceid_divs_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid) -%>
        		<% else -%>
        			<%= link_to t('views.shared.show'), show_project_sourcedb_sourceid_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid) -%>
        		<% end -%>
        	<% else -%>
        		<% if source_doc.has_divs? -%>
        			<%= link_to t('views.shared.show_divisions'), doc_sourcedb_sourceid_divs_index_path(source_doc.sourcedb, source_doc.sourceid) -%>
	        	<% else -%>
        			<%= link_to t('views.shared.show'), doc_sourcedb_sourceid_show_path(source_doc.sourcedb, source_doc.sourceid) -%>
	        	<% end -%>
        	<% end -%>
        </span>

		<% if @project && user_signed_in? && @project.user == current_user %>
	    	<%= link_to t('views.shared.delete'), delete_project_docs_project_sourcedb_sourceid_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid), method: 'delete', confirm: t('controllers.shared.confirm_delete'), class: 'button' if @project.present? && source_doc.updatable_for?(current_user) -%>
	    <% end %>
	</td>
</tr>

<% if source_doc_counter == @source_docs.size - 1 -%>
	</table>
	<%= will_paginate @source_docs -%>
<% end -%>
