<h1>
  <% @docs_path = @project.present? ? project_docs_path(@project.name) : docs_path -%>
	<%= link_to t('views.docs.list').capitalize, @docs_path -%>
  <span class='info'>
    (<%= number_with_delimiter(@search_count, :delimiter => ',') + '/' if @search_count.present? -%><%= cache(docs_count_cache_key) do %><%= docs_count %><% end -%>)
  </span>
	<span class='tab-bar'>
		<%= link_to 'JSON', params.merge(format: :json), class: 'tab', title: "To get the whole list (up to 5,000 items) in JSON" -%>
		<%= link_to 'TSV', params.merge(format: :tsv), class: 'tab', title: "To get the whole list (up to 5,000 items) in TSV (Tab-separated values)" -%>
	</span>
  <%= render partial: 'docs/search_form' -%>
</h1>

<table class="full">
<tr>
  <th class="docs_header_sourcedb">
    <%= t('activerecord.attributes.doc.sourcedb') -%>
  </th>
  <th class="docs_header_sourceid">
    <% if params[:keywords].present? -%>
      <%= t('activerecord.attributes.doc.sourceid') -%>
    <% else -%>
      <%= sortable(Doc, 'sourceid', t('activerecord.attributes.doc.sourceid')) %>
    <% end -%>
  </th>
  <th><%= t('activerecord.attributes.doc.body') %></th>
  <th class="docs_header_projects_number">
    <span title="number of projects">
      <% if params[:keywords].present? -%>
        <%= t('views.shared.projects_count') -%>
      <% else -%>
        <%= sortable(Doc, 'projects_num', t('views.shared.projects_count')) -%>
      <% end -%>
    </span>
  </th>
  <th class="docs_header_annotations_number">
    <span title= "number of denotations (sorting may not be precise).">
      <% if params[:keywords].present? -%>
        <%= t('views.shared.annotations_count') -%>
      <% else -%>
        <%= sortable(Doc, 'denotations_count', t('views.shared.annotations_count')) -%>
      <% end -%>
    </span>
  </th>
  <th class="docs_header_button"></th>
  <% if @project.present? && user_signed_in? && @project.user == current_user %>
    <th class="docs_header_button"></th>
  <% end -%>
  <th class="docs_header_button"></th>
</tr>

<%= render partial: 'source_doc', collection: @docs -%>

</table>
<%= simple_paginate -%>
