<section>
	<table>
		<% docs_counts = sourcedb_count(current_user, @project) %>
		<% docs_counts.each do |sourcedb, docs_count| -%>
			<tr>
				<td style="width:5em"><%= sourcedb %></td>
				<td style="width:5em;text-align: right"><%= number_with_delimiter(docs_count, :delimiter => ',') %></td>
				<td style="text-align: right">
					<%
						search_path, open_path = if @project.nil?
							[docs_path, open_docs_path]
						else
							[project_docs_path, open_docs_path]
						end
					%>
					<%= form_tag(search_path, method: 'get', style:"display:inline-block") do -%>
						<%= text_field_tag :keywords, nil,
							style: "width:6em",
							placeholder: t('views.shared.keywords'),
							minlength: 2,
							required: true -%>
						<button type="submit" class="short-button" title="Search"><i class='fa fa-search' aria-hidden='true'></i></button>
					<% end %>
					<%= form_tag(open_path, method: 'get')  do -%>
						<%= hidden_field_tag :sourcedb, sourcedb %>
						<%= text_field_tag :sourceid, nil,
							style: "width:6em",
							placeholder: t('activerecord.attributes.doc.sourceid') -%>
						<button type="submit" class="short-button" title="Open"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>
					<% end %>
				</td>
			</tr>
		<% end -%>
	</table>
</section>
