<tr>
	<td style="text-align:center"><%= source_doc.sourcedb -%></td>
	<td style="text-align:center"><%= source_doc.sourceid -%></td>
	<td class="snippet show-when-wide"><%= doc_snippet(source_doc).html_safe -%></td>
	<td style="text-align:right"><%= number_to_human_size(source_doc.body.length) %></td>
	<td style="text-align:right">
		<% if source_doc.has_divs? -%>
			<%= link_to source_doc.projects_num, doc_sourcedb_sourceid_divs_index_path(source_doc.sourcedb, source_doc.sourceid), style:"display:block" -%>
		<% else -%>
			<%= link_to source_doc.projects_num, doc_sourcedb_sourceid_show_path(source_doc.sourcedb, source_doc.sourceid), style:"display:block" -%>
		<% end -%>
	</td>
	<td style="text-align:right"><%= number_with_delimiter(annotations_count_helper(@project, source_doc)) -%></td>
	<td >
		<% if  params[:project_id].present? -%>
			<%= link_to t('views.shared.show'), show_project_sourcedb_sourceid_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid), class: "button long_button" -%>
		<% else -%>
			<%= link_to t('views.shared.show'), doc_sourcedb_sourceid_show_path(source_doc.sourcedb, source_doc.sourceid), class: "button long_button" -%>
		<% end -%>
	</td>
	<% if @project.present? && @project.editable?(current_user) %>
		<td>
			<%= link_to t('views.shared.delete'), delete_project_sourcedb_sourceid_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid), method: 'delete', confirm: t('controllers.shared.confirm_delete'), class: "button long_button" -%>
		</td>
	<% end %>
</tr>
