<% if source_doc_counter == 0 -%>
	<%= form_tag(@search_path, method: 'get')  do -%>
		<%= select_tag(:sourcedb, options_for_select({'PubMed' => 'PubMed', 'PMC' => 'PMC', 'FirstAuthor' => 'FirstAuthor'}, selected: params[:sourcedb])) -%>
		<%= label_tag :sourceid, t('activerecord.attributes.doc.sourceid') -%>
		<%= text_field_tag :sourceid, params[:body], value: params[:sourceid] -%>
		<%= label_tag :sourceid, t('activerecord.attributes.doc.body') -%>
		<%= text_field_tag :body, params[:body], value: params[:body] -%>
		<%= submit_tag t('views.shared.search') -%>
	<% end %>
	
	<table class="full">		
		<tr>
			<th style="width:6em">
				<% if params[:action] == 'search' -%>
					<%= t('activerecord.attributes.doc.sourcedb') -%>
				<% else -%>
					<%= sortable('sourcedb', t('activerecord.attributes.doc.sourcedb')) %>
				<% end -%>
			</th>
			<th style="width:6em">
				<% if params[:action] == 'search' -%>
					<%= t('activerecord.attributes.doc.sourceid') -%>
				<% else -%>
					<%= sortable('sourceid', t('activerecord.attributes.doc.sourceid')) %>
				<% end -%>
			</th>
			<th><%= t('activerecord.attributes.doc.body') %></th>
			<th style="width:12em"></th>
		</tr>
<% end -%>

<tr>
	<td><%= sourceid_index_link_helper(source_doc) -%></td>
	<td><%= source_doc.sourceid -%></td>
	<td><%= source_doc.body -%></td>
	<td>
        <span class="button">
        	<% if  params[:project_id].present? -%>
        		<% if source_doc.has_divs? -%>
        			<%= link_to t('views.shared.show_divisions'), index_project_sourcedb_sourceid_divs_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid) -%>
        		<% else -%>
        			<%= link_to t('views.shared.show'), show_project_sourcedb_sourceid_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid) -%>
        		<% end -%>
        	<% else -%>
        		<% if source_doc.has_divs? -%>
        			<%= link_to t('views.shared.show_divisions'), doc_sourcedb_sourceid_divs_index_path(source_doc.sourcedb, source_doc.sourceid) -%>
	        	<% else -%>
        			<%= link_to t('views.shared.show'), doc_sourcedb_sourceid_show_path(source_doc.sourcedb, source_doc.sourceid) -%>
	        	<% end -%>
        	<% end -%>
        </span>

		<% if @project && user_signed_in? && @project.user == current_user %>
	    	<%= link_to t('views.shared.delete'), delete_project_docs_project_sourcedb_sourceid_docs_path(params[:project_id], source_doc.sourcedb, source_doc.sourceid), method: 'delete', confirm: t('controllers.shared.confirm_delete'), class: 'button' if @project.present? && source_doc.updatable_for?(current_user) -%>
	    <% end %>
	</td>
</tr>

<% if source_doc_counter == @source_docs.size - 1 -%>
	</table>
	<%= will_paginate @source_docs -%>
<% end -%>
