<table>
	<tr>
		<th>
			<% if @doc.has_divs? %>
				<%= @doc.sourcedb %>:<%= @doc.sourceid %>(<%= @doc.serial %>)/spans/<%= params[:begin] %>-<%= params[:end] %>
			<% else %>
				<%= @doc.sourcedb %>:<%= link_to @doc.sourceid, @doc.source %>/spans/<%= params[:begin] %>-<%= params[:end] %>
			<% end %>
		</th>
	</tr>
	<tr>
		<td>
			<%= @highlight_text.html_safe -%>
		</td>
	</tr>
		
</table>