<table>
	<tr>
		<th>
			<%= @doc.sourcedb %>:<%= link_to @doc.sourceid, @doc.source %>
			<%= params[:begin] %> - <%= params[:end] %>
		</th>
	</tr>
	<tr>
		<td>
			<%= @highlight_text.html_safe -%>
		</td>
	</tr>
		
</table>