<h1>
	<%= link_to_unless_current "#{params[:sourcedb]}:#{params[:sourceid]}", doc_show_path_helper -%>
	<%= link_to_unless_current " / #{params[:begin]}-#{params[:end]}", span_show_path_helper if params[:begin].present? -%>

	<span class='tab-bar'>
		<%= json_text_link_helper.html_safe -%>
	</span>

	<span class='tab-bar'>
		<%= link_to '<', @prev_path, class: 'tab', title: 'previous division' unless @prev_path.nil? %>
		<%= link_to '>', @next_path, class: 'tab', title: 'next division' unless @next_path.nil? %>
	</span>

	<% if current_user && current_user.root? %>
		<span class='tab-bar'>
			<%= link_to 'uptodate', doc_sourcedb_sourceid_uptodate_path(params[:sourcedb], params[:sourceid]), class: 'tab', title: 'uptodate' %>
			<%= link_to 'delete', doc_sourcedb_sourceid_delete_path(params[:sourcedb], params[:sourceid]), :method => :delete, :confirm => 'Are you sure?', class: 'tab', title: 'delete' %>
		</span>
	<% end %>

	<%=
		if @project.present?
			# num_projects = (@doc.hannotations(@projects, @span)[:tracks] || []).length
			num_projects = @doc.get_project_count(@span)
			title = "Click this button to see all the #{num_projects} projects " + if @span.nil?
				"that include this document."
			else
				"that have annotations to this span."
			end

			if num_projects > 1
				if @span.present?
					link_to("#{num_projects} Projects", doc_sourcedb_sourceid_span_show_path(@doc.sourcedb, @doc.sourceid, params[:begin], params[:end]), :class => :button, title: title)
				else
					link_to("#{num_projects} Projects", doc_sourcedb_sourceid_show_path(@doc.sourcedb, @doc.sourceid), :class => :button, title: title)
				end
			end
		end
	%>

	<% if @project.present? && @project.editable?(current_user) -%>
		<span class='tab-bar'>
			<%= link_to t('views.shared.delete'), delete_project_sourcedb_sourceid_docs_path(@project.name, @doc.sourcedb, @doc.sourceid), method: 'delete', confirm: t('controllers.shared.confirm_delete'), class: 'button' -%>
		</span>
	<% end -%>
</h1>
