<h1 class="capitalize_first"><%= t('activerecord.models.doc').pluralize %></h1>

<% if @docs.empty? %>
  none
<% else %>
  <table>
    <tr>
      <th>Source DB</th>
      <th>Source Id</th>
      <th>Division</th>
      <th>Section</th>
      <th>Text</th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td><%= doc.serial %></td>
      <td><%= doc.section %></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
    <% if doc.sourcedb == 'PubMed' %>
      <td><%= link_to t('views.shared.show'), pmdoc_path(doc.sourceid) %></td>
    <% end %>
    <% if doc.sourcedb == 'PMC' %>
      <td><%= link_to t('views.shared.show'), pmcdoc_path(doc.sourceid) %></td>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @docs %>