<h1 class="capitalize_first">
	<%= t('views.docs.docs_list') -%>
</h1>

<%= render :partial => 'links' -%>

<% if @docs.empty? %>
  <%= t('views.shared.none') %>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.doc.sourcedb')%></th>
      <th><%= t('activerecord.attributes.doc.sourceid')%></th>
	  <th><%= t('views.divs.div')%></th>
      <th><%= t('activerecord.attributes.doc.section')%></th>
      <th><%= t('activerecord.attributes.doc.body')%></th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td><%= doc.serial %></td>
      <td><%= doc.section %></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
      <td>
      <% if @project %>
        <%= link_to t('views.shared.show'), project_doc_path(@project.name, doc.id), :class => 'button' %>
      <% else %>
        <%= link_to t('views.shared.show'), doc_path(doc.id), :class => 'button' %>
      <% end %>
      <%= link_to t('views.shared.edit'), edit_doc_path(doc), :class => 'button' if doc.updatable_for?(current_user) -%>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= link_to t('views.shared.new_model', :model => t('activerecord.models.doc')), @new_doc_src, :class => 'button' -%>

<%= will_paginate @docs %>
