<h1 class="capitalize_first"><%= t('activerecord.models.doc').pluralize %></h1>

<% if @docs.empty? %>
  <%= t('views.shared.none') %>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.doc.sourcedb')%></th>
      <th><%= t('activerecord.attributes.doc.sourceid')%></th>
	  <th><%= t('views.divs.div')%></th>
      <th><%= t('activerecord.attributes.doc.section')%></th>
      <th><%= t('activerecord.attributes.doc.body')%></th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td><%= doc.serial %></td>
      <td><%= doc.section %></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
    <% if doc.sourcedb == 'PubMed' %>
      <td><%= link_to t('views.shared.show'), pmdoc_path(doc.sourceid) %></td>
    <% elsif doc.sourcedb == 'PMC' %>
      <td><%= link_to t('views.shared.show'), pmcdoc_path(doc.sourceid) %></td>
    <% else  %>
      <td><%= link_to t('views.shared.show'), doc_path(doc.id) %></td>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @docs %>