<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @project %>
    > <%= link_to t('activerecord.models.project').pluralize, projects_path %>
    > <%= link_to @project.name, project_path(@project.name) %>
    > <%= link_to "docs", project_docs_path(@project.name) %>
	> <%= link_to "sourcedb", project_sourcedb_docs_path(@project.name) %>
  <% else %>
	> <%= link_to "docs", docs_path %>
	> <%= link_to "sourcedb", sourcedb_docs_path %>
  <% end %>
  > <%= @sourcedb %>
<% end %>

<section>
  <%= render :partial => 'source_docs' -%>
</section>
