<% content_for :path do -%>
	> <%= link_to t('views.paths.home'), home_path -%>
	<% if @project -%>
		> <%= link_to t('activerecord.models.project').pluralize, projects_path -%>
		> <%= link_to @project.name, project_path(@project.name) -%>
		> <%= link_to "docs", project_docs_path(@project.name) %>
	<% end -%>
	> new
<% end -%>

<% if @project.present? -%>
	<section>
		<%= render partial: 'projects/titlebar' -%>
<% end %>

		<section>
			<h2><%= t('views.shared.new_model', :model => t('activerecord.models.doc')) %></h2>
			<%= render 'form' %>
		</section>

<% if @project.present? -%>
	</section>
<% end %>
