<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @project %>
    > <%= link_to t('activerecord.models.project'), projects_path %>
    > <%= link_to @project.name, project_path(@project.name) %>
  <% end %>
  > <%= t('views.docs.docs_list') -%>
<% end %>


<%= render :partial => 'projects/links' -%>

<h2><%= t('views.docs.docs_list') -%></h2>

<% if @docs.empty? %>
  <p><%= t('views.shared.none') %></p>
<% else %>
	<%= render partial: 'doc', collection: @docs -%>
<% end %>

<%= will_paginate @docs %>

