<% content_for :path do -%>
  > <%= link_to t('views.paths.home'), home_path -%>
  <% if @project -%>
    > <%= link_to t('activerecord.models.project'), projects_path -%>
    > <%= link_to @project.name, project_path(@project.name) -%>
    > <%= link_to t('views.paths.docs'), project_docs_path(@project.name) -%>
  <% else -%>
    > <%= link_to t('views.paths.docs'), docs_path -%>
  <% end %>
  > <%= t('views.shared.search') -%>
<% end -%>

<% if @project.present? -%>
  <%= render :partial => 'projects/titlebar' -%>
<% end -%>

<%= render partial: 'source_docs' -%>

<h3>Search documents</h3>
<%= render partial: 'docs/search_form' -%>

<h3>List</h3>
<% if @docs_size.present? && @docs_size < 5000 -%>
  <%= link_to t('views.docs.list_button'), @project.present? ? project_docs_path(@project.name) : docs_path, {class: 'button'} -%>
<% else -%>
Too many documents to list them all. Please use search.
<% end -%>
