<%= render :partial => 'docs/path'-%>
<section>
	<%= render :partial => 'docs/titlebar' -%>
	<%= render :partial => 'docs/content'-%>

	<section>
		<h2>
			Projects
			<span class='meta'>
				<% if @span.present? -%>
					that have annotations to this span
				<% else %>
					that include this document
				<% end %>
			</span>
		</h2>

    <!-- Select projects area -->
    <div>
      <div class="projects_wrapper">
        <div>
          Unselected projects
          <span id="unselected_projects_annotations_count"></span>
        </div>
        <div id="unselected_projects_list">
          <%= render partial: "projects/name_list", collection: @projects -%>
        </div>
      </div>
      <div id="projects_switches">
        <i class="fa fa-arrow-right move_projects" aria-hidden="true" id="move_to_selected"></i>
        <i class="fa fa-arrows-h" aria-hidden="true" id="switch_selection"></i><br />
        <i class="fa fa-arrow-left move_projects" aria-hidden="true" id="move_to_unselected"></i><br />
      </div>
      <div class="projects_wrapper">
        <div>
          Selected projects
          <span id="selected_projects_annotations_count"></span>
          <span class="project_select_button" style="position:absolute; right: 3em;">
            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
          </span>
          <span class="project_select_button" style="position:absolute; right: 1em;">
            <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
          </span>
        </div>
        <div id="selected_projects_list">
        </div>
      </div>
    </div>
    <div id="annotation_links">
      <%=
        link_to_unless_current 'VIEW', annotations_url, :class => 'tab inactive_tab', id: 'annotations_view' do
            content_tag :span, 'VIEW', :class => 'tab active_tab'
          end
      %>

      <%= link_to_unless_current 'JSON', annotations_url + '.json', :class => 'tab', id: 'annotations_json' -%>
      <% if @project.present? -%>
        <%= link_to 'TextAE', textae_url(@project, annotations_url), :class => 'tab', id: 'annotations_textae' -%>	
      <% else -%>
        <%=
          link_to_unless_current 'TextAE', annotations_url + '/visualize', :class => 'tab inactive_tab', id: 'annotations_textae' do
              content_tag :span, 'TextAE', :class => 'tab active_tab'
            end
        %>
      <% end -%>
    </div>
	</section>
</section>
