<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @project %>
		> <%= link_to "projects", projects_path %>
		> <%= link_to @project.name, project_path(@project.name) %>
		<% if @doc and @doc.sourcedb == 'PubMed' %>
		    > <%= t('views.shared.a_pmdoc', :sourceid => @doc.sourceid) %>
		<% elsif @doc and @doc.sourcedb == 'PMC' %>
		    > <%= link_to t('views.shared.a_pmcdoc', :sourceid => @doc.sourceid), project_pmcdoc_path(@project.name, @doc.sourceid) %>
		    > <%= t('views.shared.divs') %>: <%= @doc.serial %>
		<% end %>
	<% else %>
		<% if @doc.sourcedb == 'PubMed' %>
		    > <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
			> <%= @doc.sourceid %>
		<% elsif @doc.sourcedb == 'PMC' %>
		    > <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
		    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
		    > <%= link_to t('views.shared.divs'), pmcdoc_divs_path(@doc.sourceid) %>
		    > <%= @doc.serial %>
		<% end %>
  <% end %>
<% end %>

<h1><%= t('views.docs.document_content') %></h1>

<table>
<tr><th style="text-align:left">
	<%= @doc.sourcedb %>:<a href="<%= @doc.source %>"><%= @doc.sourceid %></a>
	<% if @doc.sourcedb == 'PMC' %>
	(<%= @doc.serial %> - <%= @doc.section %>)
	<% end %>
</th></tr>
<tr><td class="text"><%= raw @text.gsub(/\n/, "<br>") %></td><tr>
</table>


<% if @project %>
	<% if @doc.sourcedb == 'PubMed' %>
		<% annotation_url = project_pmdoc_annotations_url(@project.name, @doc.sourceid) %>
	<% else %>
		<% annotation_url = project_pmcdoc_div_annotations_url(@project.name, @doc.sourceid, @doc.serial) %>
	<% end %>

	<h2>
		<%= t('views.docs.annotation_within_project', :project_name => @project.name).html_safe %>
	</h2>
	<ul>
		<li>denotations: <%= @annotations[:denotations]? @annotations[:denotations].length : 0 %></li>
		<li>relations: <%= @annotations[:relations]? @annotations[:relations].length : 0 %></li>
	</ul>

	<%= render :partial => "annotations/options", :locals => {:project => @project, :annotation_url => annotation_url, :identifier => "#{@doc.sourcedb}-#{@doc.sourceid}-#{@doc.serial}-#{@doc.section}" } %>

	<!-- automatic annotation -->
	<% if @project and user_signed_in? and current_user == @project.user %>
	<h2><%= t('views.docs.get_annotations') %></h2>
		<ul>
			<li class="notice">It is an experimental feature, and should be treated as such.</li>
		</ul>

	 	<%= form_tag annotation_url, :method => "post" do %>
        	<table style="border-color:#FFFFFF; margin-left:20px">
        		<tr><th>Entrez Gene Linking</th></tr>
        		<tr><td style="text-align:center">
        		<%#= text_field_tag :annotation_server, nil, :placeholder => t('activerecord.placeholders.doc.annotation_server') %>
        		<%= hidden_field_tag :annotation_server, "http://nlp.dbcls.jp/db_app1/ss_pg/retrieve" %>
				<%#= text_field_tag :dictionary, nil, :placeholder => "(optional) dictionary name" %>
				<%= text_field_tag :tax_ids, nil, :placeholder => "Option: tax ids (space-separated)" %><br/>
				<%= submit_tag(t('views.shared.get')) %>
				</td></tr>
			</table>
		<% end %>
	<% end %>

<% else %>
	<h2>
		<%= t('views.docs.annsets_made_to_document').html_safe %>
	</h2>
	<% if !@projects || @projects.empty? %>
		<%= t('views.shared.none') %>
	<% else %>
		<ul>
		<% @projects.each do |s| %>
		<% if @doc and @doc.sourcedb == 'PubMed' %><li><%= link_to s.name, pmdoc_project_path(@doc.sourceid, s.name) %></li><% end %>
		<% if @doc and @doc.sourcedb == 'PMC' %><li><%= link_to s.name, pmcdoc_div_project_path(@doc.sourceid, @doc.serial, s.name) %></li><% end %>
		<% end %>
		</ul>
	<% end %>
<% end %>
