<%= render :partial => 'docs/path'-%>
<%= render :partial => 'docs/titlebar' -%>
<%= render :partial => 'docs/content'-%>

<h2>
	Projects
	<span class='meta'>
	<% if @span.present? -%>
		that have annotations to this span
	<% else %>
		that include this document
	<% end %>
	</span>
</h2>
<%= render :partial => "projects/list", :locals => {:doc => @doc, :projects => @projects, :scope => nil} %>
<%= render :partial => 'annotations/titlebar' -%>
<%= render :partial => 'annotations/summary' -%>
