<% content_for :path do %>
	> <%= link_to "home", home_path %>
	<% if @annset %>
		> <%= link_to "annsets", annsets_path %>
		> <%= link_to @annset.name, annset_path(@annset.name) %>
		<% if @doc and @doc.sourcedb == 'PubMed' %>
		    > <%= link_to "pmdocs", annset_pmdocs_path(@annset.name) %>
		    > <%= @doc.sourceid %>
		<% elsif @doc and @doc.sourcedb == 'PMC' %>
		    > <%= link_to "pmcdocs", annset_pmcdocs_path(@annset.name) %>
		    > <%= link_to @doc.sourceid, annset_pmcdoc_path(@annset.name, @doc.sourceid) %>
		    > <%= link_to "divs", annset_pmcdoc_divs_path(@annset.name, @doc.sourceid) %>
		    > <%= @doc.serial %>
		<% end %>
	<% else %>
		<% if @doc.sourcedb == 'PubMed' %>
		    > <%= link_to "pmdocs", pmdocs_path %>
			> <%= @doc.sourceid %>
		<% elsif @doc.sourcedb == 'PMC' %>
		    > <%= link_to "pmcdocs", pmcdocs_path %>
		    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
		    > <%= link_to "divs", pmcdoc_divs_path(@doc.sourceid) %>
		    > <%= @doc.serial %>
		<% end %>
  <% end %>
<% end %>

<h1>Document content</h1>

<table>
<tr><th style="text-align:left">
	<%= @doc.sourcedb %>:<a href="<%= @doc.source %>"><%= @doc.sourceid %></a>
	<% if @doc.sourcedb == 'PMC' %>
	(<%= @doc.serial %> - <%= @doc.section %>)
	<% end %>
</th></tr>
<tr><td class="text"><%= raw @text.gsub(/\n/, "<br>") %></td><tr>
</table>


<% if @annset %>
	<% if @doc.sourcedb == 'PubMed' %>
		<% annotation_url = annset_pmdoc_annotations_url(@annset.name, @doc.sourceid) %>
	<% else %>
		<% annotation_url = annset_pmcdoc_div_annotations_url(@annset.name, @doc.sourceid, @doc.serial) %>
	<% end %>

	<h2>Annotations
		<span class="meta"> made to this document</span>
		<span class="meta">within <span class="pname"><%=@annset.name%></span></span>
	</h2>

	<table style="border-color:#FFFFFF">
	<tr>
		<th>See</th>
		<td>in</td>
		<td>[<%= link_to "Table", annotation_url %>]</td>
		<% unless @annset.viewer.empty? %>
		<td>[<a href="<%= @annset.viewer %>?target=<%= annotation_url + '.json' %>">Viewer</a>]</td>
		<% end %>
	</tr>
	<tr>
		<th>Get</th>
		<td>in</td>
		<td>[<%= link_to "JSON",  annotation_url + '.json' %>]</td>
		<% unless @annset.rdfwriter.empty? %>
			<td>[<%= link_to "RDF",   annotation_url + '.ttl' %>]</td>
		<% end %>
	</tr>
	<% if user_signed_in? and current_user == @annset.user %>
		<% unless @annset.viewer.empty? %>
			<tr>
				<th>Edit</th>
				<td>in</td>
				<td>[<a href="<%= @annset.editor %>?target=<%= annotation_url + '.json' %>">Editor</a>]</td>
			</tr>
		<% end %>
	<% end %>
	</table>

<% else %>
	<h2>Annotation sets <span class="meta">made to this document</span></h2>
	<% if !@annsets || @annsets.empty? %>
		none
	<% else %>
		<ul>
		<% @annsets.each do |s| %>
		<% if @doc and @doc.sourcedb == 'PubMed' %><li><%= link_to s.name, pmdoc_annset_path(@doc.sourceid, s.name) %></li><% end %>
		<% if @doc and @doc.sourcedb == 'PMC' %><li><%= link_to s.name, pmcdoc_div_annset_path(@doc.sourceid, @doc.serial, s.name) %></li><% end %>
		<% end %>
		</ul>
	<% end %>
<% end %>
