<%= render :partial => 'docs/path'-%>
<%= render :partial => 'docs/content'-%>

<h2>
	<% if @span.present? -%>
		<%= t('views.spans.projects_that_annotates_this').html_safe %>
	<% else %>
		<%= t('views.docs.projects_that_annotates_this').html_safe %>
	<% end %>
</h2>
<%= render :partial => "projects/list", :locals => {:doc => @doc, :projects => @projects, :scope => nil} %>


<%
	postfix = if @span.present?
		t('views.annotations.to_this_span')
	else
		t('views.annotations.to_this_document')
	end
-%>
<%= render :partial => 'annotations/title_with_options', locals: {postfix: postfix} -%>
