<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @project %>
		> <%= link_to "projects", projects_path %>
		> <%= link_to @project.name, project_path(@project.name) %>
		<% if @doc and @doc.sourcedb == 'PubMed' %>
		    > <%= link_to t('views.shared.pmdocs'), project_pmdocs_path(@project.name) %>
		    > <%= @doc.sourceid %>
		<% elsif @doc and @doc.sourcedb == 'PMC' %>
		    > <%= link_to t('views.shared.pmcdocs'), project_pmcdocs_path(@project.name) %>
		    > <%= link_to @doc.sourceid, project_pmcdoc_path(@project.name, @doc.sourceid) %>
		    > <%= link_to t('views.shared.divs'), project_pmcdoc_divs_path(@project.name, @doc.sourceid) %>
		    > <%= @doc.serial %>
		<% end %>
	<% else %>
		<% if @doc.sourcedb == 'PubMed' %>
		    > <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
			> <%= @doc.sourceid %>
		<% elsif @doc.sourcedb == 'PMC' %>
		    > <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
		    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
		    > <%= link_to t('views.shared.divs'), pmcdoc_divs_path(@doc.sourceid) %>
		    > <%= @doc.serial %>
		<% end %>
  <% end %>
<% end %>

<h1><%= t('views.docs.document_content') %></h1>

<table>
<tr><th style="text-align:left">
	<%= @doc.sourcedb %>:<a href="<%= @doc.source %>"><%= @doc.sourceid %></a>
	<% if @doc.sourcedb == 'PMC' %>
	(<%= @doc.serial %> - <%= @doc.section %>)
	<% end %>
</th></tr>
<tr><td class="text"><%#= raw @text.gsub(/\n/, "<br>") %></td><tr>
</table>


<% if @project %>
	<% if @doc.sourcedb == 'PubMed' %>
		<% annotation_url = project_pmdoc_annotations_url(@project.name, @doc.sourceid) %>
	<% else %>
		<% annotation_url = project_pmcdoc_div_annotations_url(@project.name, @doc.sourceid, @doc.serial) %>
	<% end %>

	<h1>
		<%= t('views.docs.annotation_within_project', :project_name => @project.name).html_safe %>
	</h1>

	<%= render :partial => "annotations/options", :locals => {:project => @project, :annotation_url => annotation_url, :identifier => "#{@doc.sourcedb}-#{@doc.sourceid}-#{@doc.serial}-#{@doc.section}" } %>

	<!-- automatic annotation -->
	<!--script type="text/javascript">
	  // function getannotation() {
	  //   var annserver = document.getElementById("annserver").value;
	  //   var target = '<%= annotation_url %>' + 'json'

	  //   xmlhttp = new XMLHttpRequest();
	  //   xmlhttp.open('POST', annserver, false);
	  //   xmlhttp.onreadystatechange = function() {
	  //     if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	  //       document.getElementById("result").value = xmlhttp.responseText;
	  //     }
	  //   }

	  //   xmlhttp.send("target=" + target);
	  // }
	</script-->
	<%= form_tag annotation_url, :method => "post" do %>
		<%= text_field_tag :annotation_server, nil, :placeholder => t('activerecord.placeholders.doc.annotation_server') %>
		<%= submit_tag(t('views.docs.get_annotations')) %>
	<% end %>
	<span id="result"></span>

<% else %>
	<h2>
		<%= t('views.docs.annsets_made_to_document').html_safe %>
	</h2>
	<% if !@projects || @projects.empty? %>
		<%= t('views.shared.none') %>
	<% else %>
		<ul>
		<% @projects.each do |s| %>
		<% if @doc and @doc.sourcedb == 'PubMed' %><li><%= link_to s.name, pmdoc_project_path(@doc.sourceid, s.name) %></li><% end %>
		<% if @doc and @doc.sourcedb == 'PMC' %><li><%= link_to s.name, pmcdoc_div_project_path(@doc.sourceid, @doc.serial, s.name) %></li><% end %>
		<% end %>
		</ul>
	<% end %>
<% end %>
