<h1>Document content</h1>
<p id="notice"><%= notice %></p>

<table>
<tr><th style="text-align:left">
	<%= @doc.sourcedb %>:<a href="<%= @doc.source %>"><%= @doc.sourceid %></a>
	<% if @doc.sourcedb == 'PMC' %>
	(<%= @doc.serial %> - <%= @doc.section %>)
	<% end %>
</th></tr>
<tr><td class="text"><%= raw @text.gsub(/\n/, "<br>") %></td><tr>
</table>


<% if @annset %>
	<h2>Annotations
		<span class="meta"> made to this document</span>
		<span class="meta">within <span class="pname"><%=@annset.name%></span></span>
	</h2>
	<table style="border-color:#FFFFFF">
	<tr>
	<td>See</td>
	<td>in the format,
	<% if @doc.sourcedb == 'PubMed' %>
		[<%= link_to "Table", annset_pmdoc_annotations_url(@annset.name, @doc.sourceid) %>],
		[<%= link_to "JSON",  annset_pmdoc_annotations_url(@annset.name, @doc.sourceid, :format => :json) %>], or
		[<%= link_to "RDF",   annset_pmdoc_annotations_url(@annset.name, @doc.sourceid, :format => :ttl) %>],
		</td>
		</tr>
		<tr>
		<td></td>
		<td>
		or in the annotation viewer,
		[<a href="http://bionlp.dbcls.jp/textav/textav.html?target=<%= annset_pmdoc_annotations_url(@annset.name, @doc.sourceid, :format => :json) %>">TextAV</a>].
	<% elsif @doc.sourcedb == 'PMC' %>
		[<%= link_to "Table", annset_pmcdoc_div_annotations_url(@annset.name, @doc.sourceid, @doc.serial) %>],
		[<%= link_to "JSON",  annset_pmcdoc_div_annotations_url(@annset.name, @doc.sourceid, @doc.serial, :format => :json) %>], or
		[<%= link_to "RDF",   annset_pmcdoc_div_annotations_url(@annset.name, @doc.sourceid, @doc.serial, :format => :ttl) %>],
		</td>
		</tr>
		<tr>
		<td></td>
		<td>
		or in the annotation viewer,
		[<a href="http://bionlp.dbcls.jp/textav/textav.html?target=<%= annset_pmcdoc_div_annotations_url(@annset.name, @doc.sourceid, @doc.serial, :format => :json) %>">TextAV</a>].
	<% end %>
	</td>
	</tr>
	</table>
<% else %>
	<h2>Annotation sets <span class="meta">made to this document</span></h2>
	<% if !@annsets || @annsets.empty? %>
		none
	<% else %>
		<ul>
		<% @annsets.each do |s| %>
		<% if @doc.sourcedb == 'PubMed' %><li><%= link_to s.name, pmdoc_annset_path(@doc.sourceid, s.name) %></li><% end %>
		<% if @doc.sourcedb == 'PMC' %><li><%= link_to s.name, pmcdoc_div_annset_path(@doc.sourceid, @doc.serial, s.name) %></li><% end %>
		<% end %>
		</ul>
	<% end %>
<% end %>
