<h1>Document content</h1>
<p id="notice"><%= notice %></p>

<table>
<tr><th><%= @doc.sourcedb %>:<a href="<%= @doc.source %>"><%= @doc.sourceid %></a> (<%= @doc.serial %> - <%= @doc.section %>)</th></tr>
<tr><td class="text"><%= @text %></td><tr>
</table>

<h2>Annotation sets</h2>
<ul>
<% @annsets.each do |s| %>
<% if @doc.sourcedb == 'PubMed' %><li><%= link_to s.name, pmdoc_annset_path(@doc.sourceid, s.name) %></li><% end %>
<% if @doc.sourcedb == 'PMC' %><li><%= link_to s.name, pmcdoc_div_annset_path(@doc.sourceid, @doc.serial, s.name) %></li><% end %>
<% end %>
</ul>
