<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @project %>
	    > <%= link_to t('activerecord.models.project').pluralize, projects_path %>
	    > <%= link_to @project.name, project_path(@project.name) %>
	    > <%= link_to "docs", project_docs_path(@project.name) %>
	<% else %>
		> <%= link_to "docs", docs_path %>
	<% end %>
	> sourcedb
<% end %>

<section>
	<h1>
		<%= t('views.docs.sourcedb_list')-%>
	</h1>

	<% cache 'docs_count_per_sourcedb' do -%>
	<%= render :partial => "docs/sourcedbs" -%>
	<% end %>

	<% if user_signed_in? && @project.present? && current_user == @project.user %>
		<section>
			<h2><%= t('views.docs.add_new_documents') -%></h2>
			<ul>
			  <li>by sourcing from a public database<br/>
			    <%= render :partial => "docs/project_form", :locals => {:model => @project} if @project.present? -%>
			  </li>
			</ul>
		</section>
	<% end %>
</section>