<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @project %>
    > <%= link_to t('activerecord.models.project').pluralize, projects_path %>
    > <%= link_to @project.name, project_path(@project.name) %>
  <% end %>
  > docs
<% end %>

<% if @project.present? -%>
	<%= render :partial => 'projects/title_and_links' -%>
<% end %>

<h2><%= t('views.docs.list') -%></h2>
<%= render :partial => 'source_doc', :collection => @source_docs -%>
