<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @project %>
		> <%= link_to t('activerecord.models.project').pluralize, projects_path %>
		> <%= link_to @project.name, project_path(@project.name) %>
		> <%= link_to "docs", project_docs_path(@project.name) %>
	<% else %>
		> <%= link_to "docs", docs_path %>
	<% end %>
	> sourcedb
<% end %>

<section>
	<h1>
		<%= t('views.docs.sourcedb_list')-%>
	</h1>

	<%
		cache_key  = 'sourcedb_counts'
		cache_key += "_#{@project.name}" if @project
	%>

	<% cache cache_key, skip_digest: true do -%>
		<%= render :partial => "docs/sourcedb_counts" -%>
	<% end %>

</section>
