<%= render :partial => 'docs/path' -%>

<%= render :partial => 'docs/span' -%>

<% if params[:project_id].present? -%>
	<%= render :partial => 'annotations/summary_and_view_options'-%>
<% else -%>
  <script>
    var path = "<%= @annotations_path -%>?projects=";
    var annotationsText = "<%= t('views.shared.annotation') -%>";
    var projectsArray = [];
    var updateLink = function(projectsArray){
      var project_names = projectsArray.join(',');
      if (projectsArray.length > 0){
        // show annotation link
        $('#annotations_projects').html("<a href='" + path + project_names + "'>" + annotationsText + "</a>");
      }else{
        $('#annotations_projects').html("<a href='<%= @annotations_path -%>'>" + annotationsText + "</a>");
      };
    };
    var getCheckedProjects = function(){
      $('#AnnotationProjectLists :checked').each(function() {
        projectsArray.push($(this).attr('value'));
        updateLink(projectsArray);
      }); 
    };

    $(document).ready(
        function(){
          getCheckedProjects()
          $('.annotations_projects_check').change(
            function(){
              var projectName = $(this).attr('value');
              if($(this).is(":checked")) {
                // push checked project name 
                projectsArray.push(projectName);
              }else{
                // remove checked project name 
                projectsArray = jQuery.grep(projectsArray, function(value) {
                  return value != projectName;
                });
              };
              updateLink(projectsArray);
            }
          );
        }
    );
  </script>
  <div id="AnnotationProjectLists">
    <%= render :partial => "projects/list", :locals => {:doc => @doc, :projects => @projects, :scope => nil } %>
  </div>
  <div id='annotations_projects'>
    <%= visualization_link({class: 'button'}) -%>
  </div>
<% end -%>
