<%= render :partial => 'sqls/form' -%>

<% if @docs.present? -%>
	<table style="margin-bottom: 1em">
		<tr>
			<% @columns.each do |column|-%>
				<th>
					<%= column -%>
				</th>
			<% end -%>
			<th>
			
			</th>
		</tr>
		<% @docs.each do |doc| -%>
			<tr>
				<% @columns.each do |column|-%>
					<td>
						<%= doc[column] -%>
					</td>
				<% end -%>
				<% if doc.sourcedb == 'PubMed' -%>
      				<td><%= link_to t('views.shared.show'), pmdoc_path(doc.sourceid) -%></td>
    			<% end -%>
			    <% if doc.sourcedb == 'PMC' -%>
			    	<td><%= link_to t('views.shared.show'), pmcdoc_path(doc.sourceid) -%></td>
			    <% end -%>
			</tr>
		<% end -%>
	</table>
	
	<%= will_paginate @docs -%>
<% end -%>

