<%= form_for(@modann) do |f| %>
  <% if @modann.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modann.errors.count, "error") %> prohibited this modann from being saved:</h2>

      <ul>
      <% @modann.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hid %><br />
    <%= f.text_field :hid %>
  </div>
  <div class="field">
    <%= f.label :modtype %><br />
    <%= f.text_field :modtype %>
  </div>
  <div class="field">
    <%= f.label :modobj %><br />
    <%= f.text_field :modobj %>
  </div>
  <div class="field">
    <%= f.label :annset %><br />
    <%= f.text_field :annset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
