<p id="notice"><%= notice %></p>

<p>
  <b>Hid:</b>
  <%= @modann.hid %>
</p>

<p>
  <b>Modtype:</b>
  <%= @modann.modtype %>
</p>

<p>
  <b>Modobj:</b>
  <%= @modann.modobj %>
</p>

<p>
  <b>Annset:</b>
  <%= @modann.annset %>
</p>


<%= link_to 'Edit', edit_modann_path(@modann) %> |
<%= link_to 'Back', modanns_path %>
