<% content_for :path do %>
> <%= t('views.paths.home') %>
<% end %>

<h1>
	<span class="capitalize_first"><%= t('views.shared.stored_in', :pname => t('views.service.title'), :content => t('activerecord.models.doc').pluralize).html_safe %></span>
</h1>
<ul>
	<li><%= link_to "PubMed #{t('activerecord.models.doc').pluralize}", pmdocs_path %> (<%= @pmdocs.length %>)</li>
	<li><%= link_to "PMC #{t('activerecord.models.doc').pluralize}", pmcdocs_path %> (<%= @pmcdocs.length %>)</li>
</ul>

<%= render :partial => "projects/list", :locals => {:doc => nil, :projects => @projects, :scope => nil } %>
