<% content_for :path do %>
> <%= t('views.paths.home') %>
<% end %>

<div class="panel show-on-mobiles">
	<%= render :partial => "news" %>
</div>

<div class="panel">
	<section>
		<h1>
			<%= link_to t('activerecord.models.doc').pluralize.capitalize.html_safe, docs_path -%>
			<%= render partial: 'docs/search_form', locals: {path: docs_path} -%>
		</h1>
		<% cache 'sourcedb_counts' do -%>
			<%= render :partial => "docs/sourcedb_counts" -%>
		<% end %>
	</section>
</div>

<div class="panel hide-on-mobiles">
	<%= render :partial => "news" %>
</div>

<section>
	<h1>
		<%= link_to t('activerecord.models.project').pluralize.capitalize.html_safe, projects_path %>
		<span class='info'>(<%= @projects_number -%>)</span>
		<span class='control'><%= render partial: 'projects/search_all_form' -%></span>
	</h1>

	<div class="panel">
		<section>
			<h3>With most annotations</h3>
			<%= render :partial => "projects/list_simple", :locals => {:doc => nil, :projects => @projects_top_annotations_count, :scope => nil } %>
		</section>
	</div>
		<div class="panel">
		<section>
			<h3>Recently updated</h3>
			<%= render :partial => "projects/list_simple", :locals => {:doc => nil, :projects => @projects_top_recent, :scope => nil } %>
		</section>
	</div>
</section>