<% content_for :path do %>
> <%= t('views.paths.home') %>
<% end %>

<div class="two-columns">
	<div class="column-left">
		<!-- <h1><%= t('activerecord.models.doc').pluralize.capitalize.html_safe %></h1> -->
		<h1><%= link_to t('activerecord.models.doc').pluralize.capitalize.html_safe, docs_path %></h1>
		<% cache 'sourcedbs' do -%>
		<%= render :partial => "docs/sourcedbs" -%>
		<% end %>
	</div>

	<div class="column-right">
<!-- 		<fieldset id="announcements">
		<legend>Notice</legend>
		<ul>
		<li>Next maintenance is scheduled for 29 March (7AM - 9AM UTC).</li>
		</ul>
		</fieldset>
 -->	</div>

</div>

<h1>
	<%= link_to t('activerecord.models.project').pluralize.capitalize.html_safe, projects_path %>
	<span class='info'>(<%= @projects_number -%>)</span>
	<%= link_to t('views.shared.full_list'), projects_path, {class: 'button'} -%>
</h1>
<%= render partial: 'projects/search_all_form' -%>
<%= render :partial => "projects/list", :locals => {:doc => nil, :projects => @projects_top, :scope => nil } %>
