<% content_for :path do %>
> <%= t('views.paths.home') %>
<% end %>

<h1>
	<%= t('activerecord.models.doc').pluralize.capitalize.html_safe %>
	<%= link_to t('views.shared.full_list'), docs_path, {class: 'button'} -%>
</h1>
<%= render :partial => "docs/sourcedb", collection: @sourcedbs -%>

<h1>
	<%= t('activerecord.models.project').pluralize.capitalize.html_safe %>
	<%= link_to t('views.shared.full_list'), projects_path, {class: 'button'} -%>
</h1>
<%= render :partial => "projects/list", :locals => {:doc => nil, :projects => @projects, :scope => nil } %>
