<% content_for :path do %>
> home
<% end %>

<h1>Documents <span class="meta">stored in <span class="pname">PubAnnotation</span></span></h1>
<ul>
	<li><%= link_to "PubMed documents", pmdocs_path %> (<%= @pmdocs.length %>)</li>
	<li><%= link_to "PMC documents", pmcdocs_path %> (<%= @pmcdocs.length %>)</li>
</ul>

<%= render :partial => "projects/list", :locals => {:doc => nil, :projects => @projects } %>