<% content_for :path do %>
> <%= t('views.paths.home') %>
<% end %>

<div class="group">
	<div class="panel">
		<h1><%= link_to t('activerecord.models.doc').pluralize.capitalize.html_safe, docs_path %></h1>
		<% cache 'sourcedbs' do -%>
		<%= render :partial => "docs/sourcedbs" -%>
		<% end %>
	</div>
	<div class="panel">
		<fieldset id="announcements">
		<legend>Announcements</legend>
		<ul>
		<li>Next maintenance is scheduled for 29 March (7AM - 9AM UTC).</li>
		</ul>
		</fieldset>
	 </div>
</div>

<div class="group">
	<div class="panel-long" style="margin-bottom:0; padding-bottom:0">
		<h1>
			<%= link_to t('activerecord.models.project').pluralize.capitalize.html_safe, projects_path %>
			<span class='info'>(<%= @projects_number -%>)</span>
			<span class='control'><%= render partial: 'projects/search_all_form' -%></span>
			<%= link_to t('views.shared.show_all'), projects_path, {:class=> 'control button'} -%>
		</h1>
	</div>
</div>

<div class="group">
	<div class="panel">
		<h3>Manual, with most annotations</h3>
		<%= render :partial => "projects/list_with_no_annotations", :locals => {:doc => nil, :projects => @projects_top_manual_annotations_count, :scope => nil } %>
	</div>

	<div class="panel">
		<h3>Manual, recently updated</h3>
		<%= render :partial => "projects/list_with_update", :locals => {:doc => nil, :projects => @projects_top_manual_recent, :scope => nil } %>
	</div>
</div>

<div class="group">
	<div class="panel">
		<h3>Automatic, with most annotations</h3>
		<%= render :partial => "projects/list_with_no_annotations", :locals => {:doc => nil, :projects => @projects_top_automatic_annotations_count, :scope => nil } %>
	</div>

	<div class="panel">
		<h3>Automatic, recently updated</h3>
		<%= render :partial => "projects/list_with_update", :locals => {:doc => nil, :projects => @projects_top_automatic_recent, :scope => nil } %>
	</div>
</div>