<% content_for :path do %>
> <%= t('views.paths.home') %>
<% end %>

<div class="two-columns">
<div class="column-left">
<h1>left</h1>
</div>
<div class="column-right">
<h1>Test</h1>
</div>
</div>


<h1><%= t('activerecord.models.doc').pluralize.capitalize.html_safe %></h1>
<% cache 'sourcedbs' do -%>
  <%= render :partial => "docs/sourcedbs" -%>
<% end %>

<h1>
	<%= t('activerecord.models.project').pluralize.capitalize.html_safe %>
	<span class='info'>(<%= @projects_number -%>)</span>
	<%= link_to t('views.shared.full_list'), projects_path, {class: 'button'} -%>
</h1>
<%= render :partial => "projects/list", :locals => {:doc => nil, :projects => @projects_top, :scope => nil } %>
