<table>
	<tr>
		<th></th>
		<th colspan="2">Recall</th>
		<th colspan="2">Precision</th>
		<th>F-score</th>
	</tr>
	<% comparison[:counts_ref].each do |e, c| %>
		<% next if e == :_ALL_ %>
		<tr>
			<th><%= e %></th>
			<td style="text-align:right"><%= '%.02f' % comparison[:recall][e] %></td>
			<td style="text-align:center">(<%= number_with_delimiter(comparison[:counts_common][e], :delimiter => ',') || '-' %> / <%= number_with_delimiter(c, :delimiter => ',') || '-' %>)</td>
			<td style="text-align:right"><%= '%.02f' % comparison[:precision][e] %></td>
			<td style="text-align:center">(<%= number_with_delimiter(comparison[:counts_common][e], :delimiter => ',') || '-' %> / <%= number_with_delimiter(comparison[:counts][e], :delimiter => ',') || '-' %>)</td>
			<td style="text-align:right"><%= '%.02f' % comparison[:fscore][e] %></td>
		</tr>
	<% end %>

	<% e = :_ALL_ %>
	<tr>
		<th><%= e %></th>
		<td style="text-align:right"><%= '%.02f' % comparison[:recall][e] %></td>
		<td style="text-align:center">(<%= number_with_delimiter(comparison[:counts_common][e], :delimiter => ',') %> / <%= number_with_delimiter(comparison[:counts_ref][e], :delimiter => ',') %>)</td>
		<td style="text-align:right"><%= '%.02f' % comparison[:precision][e] %></td>
		<td style="text-align:center">(<%= number_with_delimiter(comparison[:counts_common][e], :delimiter => ',') %> / <%= number_with_delimiter(comparison[:counts][e], :delimiter => ',') %>)</td>
		<td style="text-align:right"><%= '%.02f' % comparison[:fscore][e] %></td>
	</tr>

</table>
