<%= form_for(@project, :html => {:class => 'IndicatorForm', :id => 'project_form'}) do |f| %>
	<%= errors_helper(@project) %>

<table style="table-layout:auto">
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, :class => "input", :placeholder => t('activerecord.placeholders.project.name') %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description, :rows => 5, :class => "input" %></td>
  </tr>
  <tr>
    <th><%= f.label :author %></th>
    <td>
      <%= f.text_field :author, :class => "input", :placeholder => t('activerecord.placeholders.project.author') %>
      <%= hint_helper({:model => :project,  :column  => :author}) %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :license %></th>
    <td>
      <table style="border-style:none">
      <tr>
        <td style="border-style:none">
          <%= f.radio_button(:license, 'CC-BY') %>
          <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>*
        </td>
        <td style="border-style:none">
          <%= f.radio_button(:license, 'BY-SA') %>
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">BY-SA</a>*
        </td>
        <td style="border-style:none">
          <%= f.radio_button(:license, 'BY-ND') %>
          <a href="https://creativecommons.org/licenses/by-nd/4.0/">BY-ND</a>
        </td>
      </tr>
      <tr>
        <td style="border-style:none">
          <%= f.radio_button(:license, 'BY-NC') %>
          <a href="https://creativecommons.org/licenses/by-nc/4.0/">BY-NC</a>
        </td>
        <td style="border-style:none">
          <%= f.radio_button(:license, 'BY-NC-SA') %>
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA</a>
        </td>
        <td style="border-style:none">
          <%= f.radio_button(:license, 'BY-NC-ND') %>
          <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">BY-NC-ND</a>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="border-style:none">
          <% if @project[:license].nil? || @project[:license].empty? || ['CC-BY', 'BY-SA', 'BY-ND', 'BY-NC', 'BY-NC-SA', 'BY-NC-ND'].include?(@project[:license]) %>
            <%= f.radio_button(:license, 'other') %>
            <%= text_field_tag :license, nil, placeholder: "Name of license condition", style: "width:200px" %>
          <% else %>
            <%= f.radio_button(:license, 'other', :checked => true) %>
            <%= text_field_tag :license, @project[:license], placeholder: "Name of license condition", style: "width:200px" %>
          <% end %>

          <script type="text/javascript">
            $(function() {
                $('#project_form').submit(function() {
                  if ($('input[type="radio"]:checked', '#project_form').val() == 'other') {
                    $('input[id="project_license_other"]', '#project_form').val($('#license').val());
                  }
                  return true;
                });
            });
          </script>

        </td>
      </tr>

      </table>
      <ul class="note">
      <li>*: <a href="http://creativecommons.org/freeworks">free culture licenses</a>.</li>
      <li>PubAnnotation advocates <a href="http://creativecommons.org/freeworks">free culture works</a>.</li>
      <li>The license terms are to be applied only to the annotations.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><%= f.label :status %></th>
    <td>
      <%= f.radio_button(:status, 1) %>
      <%= f.label :status, t('activerecord.options.project.status.released'), value: 1 %>
      <span class="note">- annotation is finalized.</span>
      <br/>
      <%= f.radio_button(:status, 2) %>
      <%= f.label :status, t('activerecord.options.project.status.beta'), value: 2 %>
      <span class="note">- release candidate.</span>
      <br/>
      <%= f.radio_button(:status, 3) %>
      <%= f.label :status, t('activerecord.options.project.status.uploading'), value: 3 %>
      <span class="note">- annotation is done, but uploading may take time.</span>
      <br/>
      <%= f.radio_button(:status, 8) %>
      <%= f.label :status, t('activerecord.options.project.status.developing'), value: 8 %>
      <span class="note">- under development. will be frequent changed.</span>
      <br/>
      <%= f.radio_button(:status, 9) %>
      <%= f.label :status, t('activerecord.options.project.status.testing'), value: 9 %>
      <span class="note">- testing purpose. (may be removed after a while)</span>
    </td>
  </tr>
  <tr>
    <th><%= f.label :accessibility %></th>
    <td><%= f.select :accessibility, 
    		options_for_select([
    			[t('activerecord.options.project.accessibility.public'), 1],
    			[t('activerecord.options.project.accessibility.private'), 2]], 
    		f.object.accessibility) %></td>
  </tr>
  <tr>
    <th><%= f.label :process %></th>
    <td><%= f.select :process, 
    		options_for_select([
				[t('activerecord.options.project.process.manual'), 1],
				[t('activerecord.options.project.process.automatic'), 2]],
    		f.object.process) %></td>
  </tr>
  <tr>
    <th><%= f.label :user, :maintainer %></th>
    <td><%= @project.user.username %></td>
  </tr>

<!--   <tr>
  	<th>
  		<%= t('activerecord.models.associate_maintainer') -%>
  	</th>
  	<td>
		<% @project.associate_maintainers.each do |associate_maintainer| -%>
			<div>
				<%= associate_maintainer.user.username -%>
				<% if associate_maintainer.destroyable_for?(current_user) -%>
					<%= link_to t('views.shared.delete'), project_associate_maintainer_path(@project, associate_maintainer), :method => :delete, :confirm => t('controllers.shared.confirm_delete') -%>
				<% end -%>
			</div>
		<% end -%>

		<% if @project.associate_maintainers_addable_for?(current_user) -%>
	  		<%= fields_for :associate_maintainer do -%>
	  			<div id="associate_maintainers">
	  				<% if params[:usernames].present? -%>
	  					<% params[:usernames].each do |username| -%>
				  			<div class="associate_username">
		  						<%= username -%>
				  				<input type="hidden" value="<%= username -%>" id="usernames[]" name="usernames[]">
				  				<span class="clickable-text" onclick='$(this).parent().remove()'>
				  					<%= t('views.shared.delete') -%>
				  				</span>
				  			</div>
		  				<% end %>
	  				<% end %>
	  			</div>
	  			<% if @project.new_record? -%>
  					<%= autocomplete_field_tag :username, "", "#{ autocomplete_username_users_path }", :placeholder => t('activerecord.placeholders.project.username')  -%>
  				<% else -%>
  					<%= autocomplete_field_tag :username, "", "#{ autocomplete_username_users_path }?project_id=#{@project.id}", :placeholder => t('activerecord.placeholders.project.username')  -%>
  				<% end -%>
		  		<script type="text/javascript">
			  		$('#username').bind('railsAutocomplete.select', function(event, data){
			  			var userName = data.item.value;
			  			// append associate maintainer username
			  			$( "<div class='associate_username'>" + userName +"<input type='hidden' value='" + userName + "' id='usernames[]' name='usernames[]'> <span class='clickable-text' onclick='$(this).parent().remove()'><%= t('views.shared.delete') -%></span></div>" ).appendTo( "#associate_maintainers" );
			  			$('#username').val('');
					});
		  		</script>
			<% end -%>
		<% end -%>
  	</td>
  </tr>
 -->

  <tr>
    <th><%= f.label :reference %></th>
    <td>
      <%= f.text_field :reference, :class => "input", :placeholder => t('activerecord.placeholders.project.reference') %>
	  <%= hint_helper({:model => :project, :column => :reference}) %>
    </td>
  </tr>

  <tr>
    <th><%= f.label :sample %></th>
    <td>
      <%= f.text_field :sample, :class => "input", :placeholder => t('activerecord.placeholders.project.sample') %>
      <%= hint_helper({:model => :project, :column => :sample}) %><br/>
      <span class="note">See <a href="http://www.pubannotation.org/docs/spans/">this help page (<i>Spans</i>)</a> to learn how-to.</span>
    </td>
  </tr>


	<!-- associate projects search and add field -->
<!-- 	<tr>
	  	<th>
	  		<%= t('activerecord.models.project') -%>
	  	</th>
	  	<td>
	  		<% if @project.present? && @project.associate_projects.present? -%>
		  		<% @project.associate_projects.each do |associate_project| -%>
		  			<div>
			  			<%= link_to associate_project.name, project_path(associate_project.name) -%>
			  			<%= link_to t('views.shared.delete'), delete_associate_projects_project_path(@project.id, associate_project.id), :method => :delete, :confirm => t('views.shared.confirm.delete_model', :model => t('activerecord.models.project')) -%>
		  			</div>
		  		<% end -%>
	  		<% end -%>
	  		<%= fields_for :associate_projects_project do |ps| -%>
	  			<div id="associate_projects_projects">
	  				<% if params[:associate_projects].present? -%>
	  					<% params[:associate_projects][:name].each do |index, name|-%>
							<div class="associate_project">
								<%= name -%>
		  						<%= hidden_field_tag "associate_projects[name][#{index}]", name -%>
								<span onclick="$(this).parent().remove()" href="" class="clickable-text"><%= t('views.shared.delete') -%></span>
								<label>
									<%= check_box_tag "associate_projects[import][#{index}]", 'true', params[:associate_projects][:import].present? && params[:associate_projects][:import][index].present? -%><%= t('controllers.projects.new.import') -%>
								</label>
							</div>	  					
	  					<% end -%>
	  				<% end -%>
	  			</div>
	  			<%= ps.autocomplete_field :project_name, "/projects/autocomplete_project_name/#{@project.associatable_project_ids(current_user)}", :id => 'associate_project_name', :placeholder => t('activerecord.placeholders.project.associate_project_name') -%>
		  		<script type="text/javascript">
		  			var i = 0;  
			  		$('#associate_project_name').bind('railsAutocomplete.select', function(event, data){
			  			var projectName = data.item.value;
			  			// append associate projects name
			  			$( "<div class='associate_project'>" + projectName +"<input type='hidden' value='" + projectName + "' id='associate_projects[name][" + i + "]' name='associate_projects[name][" + i + "]'> <span class='clickable-text' href='' onclick='$(this).parent().remove()'><%= t('views.shared.delete') -%></span> <label><input type='checkbox' checked='checkced' id='associate_projects[import][" + i + "]' name='associate_projects[import][" + i + "]' value='true'><%= t('controllers.projects.new.import') -%></label></div>" ).appendTo( "#associate_projects_projects" );
			  			$('#associate_project_name').val('');
			  			i += 1;
					});
		  		</script>
	  		<% end -%>
	  	</td>
	</tr>
 -->

  <tr><td style="border:none"></td></tr>
<!--   <tr>
    <th><%= f.label :viewer %></th>
    <td><%= f.text_field :viewer, :class => "input", :placeholder => 'URL' %></td>
  </tr> -->
  <tr>
    <th><%= f.label :editor %></th>
    <td>
      <%= f.text_field :editor, :class => "input", :placeholder => 'URL' %>
      <%= hint_helper({:model => :project, :column => :editor})%>
      <br/>
      <span class="note"><a href="http://textae.pubannotation.org">TextAE</a> <%= t('views.projects.try_textae') %></span>
    </td>
  </tr>
  <tr>
    <th><%= f.label :namespaces %></th>
    <td id="project_namespaces">
      <%= label_tag 'project[namespaces][][uri]', 'BASE' -%>
      <%= hidden_field_tag 'project[namespaces][][prefix]', '_base', :class => "input" -%>
      <%= text_field_tag 'project[namespaces][][uri]', @project.base_uri, :class => "input" -%>
      <%= namespaces_prefix_input_fields -%>
      <span id="namespaces_inputs"></span>
      <br />
      <span id="add_namespaces_input" class="button">ADD</span>
    </td>
  </tr>
  <tr>
    <th><%= f.label :rdfwriter %></th>
    <td><%= f.text_field :rdfwriter, :class => "input", :placeholder => 'URL' %></td>
  </tr>
  <tr>
    <th><%= f.label :xmlwriter %></th>
    <td><%= f.text_field :xmlwriter, :class => "input", :placeholder => 'URL' %></td>
  </tr>
  <tr>
    <th><%= f.label :bionlpwriter %></th>
    <td><%= f.text_field :bionlpwriter, :class => "input", :placeholder => 'URL' %></td>
  </tr>
  <tr>
    <th><%= t('activerecord.attributes.project.annotations_downloadable') %></th>
    <td><%= f.check_box :annotations_zip_downloadable %><%= f.label :annotations_zip_downloadable, t('views.shared.permit') -%></td>
  </tr>
  <tr>
    <th colspan="2"><%= f.submit %></th>
  </tr>
</table>
<% end %>		

<% content_for :css do -%>
  <style>
  .prefix_label:before{
    content: '\A';
    white-space: pre;
  }
  #project_namespaces input{
    margin: 2px;
  }
  </style>
<% end -%>
<% content_for :javascript do -%>
  <script type="text/javascript">
    var inputTag = '<%= render(partial: 'namespace_prefix_input') -%>'
    $(document).ready(function(){
      $('#add_namespaces_input').click(function(){
        $('#namespaces_inputs').append(inputTag);
      })
    })
  </script>
<% end -%>
