<%= form_for(model) do |f| %>
	<%= errors_helper(model) %>

<table>
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name, :class => "input", :placeholder => t('activerecord.placeholders.project.name') %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description, :rows => 5, :class => "input" %></td>
  </tr>
  <tr>
    <th><%= f.label :author %></th>
    <td>
      <%= f.text_field :author, :class => "input", :placeholder => t('activerecord.placeholders.project.author') %>
      <%= hint_helper({:model => :project,  :column  => :author}) %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :license %></th>
    <td>
      <%= f.text_field :license, :value => "Creative Commons Attribution 3.0 Unported License", :class => "input" %>
      <%= hint_helper({:model => :project, :column => :license}) %>
    </td>

  </tr>
  <tr>
    <th><%= f.label :status %></th>
    <td><%= f.select :status, 
    		options_for_select([
				[t('activerecord.options.project.status.released'), 1],
				[t('activerecord.options.project.status.beta'), 2], 
				[t('activerecord.options.project.status.developing'), 3]], 
    		f.object.status) %></td>
  </tr>
  <tr>
    <th><%= f.label :accessibility %></th>
    <td><%= f.select :accessibility, 
    		options_for_select([
    			[t('activerecord.options.project.accessibility.public'), 1],
    			[t('activerecord.options.project.accessibility.private'), 2]], 
    		f.object.accessibility) %></td>
  </tr>
  <tr>
    <th><%= f.label :maintainer %></th>
    <td><%= current_user.username %></td>
  </tr>
  <tr>
  	<th>
  		<%= t('activerecord.models.associate_maintainer') -%>
  	</th>
  	<td>
		<% model.associate_maintainers.each do |associate_maintainer| -%>
			<div>
				<%= associate_maintainer.user.username -%>
				<% if associate_maintainer.destroyable_for?(current_user) -%>
					<%= link_to t('views.shared.delete'), project_associate_maintainer_path(model, associate_maintainer), :method => :delete, :confirm => t('controllers.shared.confirm_delete') -%>
				<% end -%>
			</div>
		<% end -%>
		<!-- associate maintainer search and add field -->
		<% if model.associate_maintaines_addable_for?(current_user) -%>
	  		<%= fields_for :associate_maintainer do -%>
	  			<div id="associate_maintainers"></div>
  				<%= autocomplete_field_tag :username, "", "#{ autocomplete_username_users_path }?project_id=#{model.id}", :placeholder => t('activerecord.placeholders.project.username')  -%>
		  		<script type="text/javascript">
			  		$('#username').bind('railsAutocomplete.select', function(event, data){
			  			var userName = data.item.value;
			  			// append associate maintainer username
			  			$( "<div class='associate_username'>" + userName +"<input type='hidden' value='" + userName + "' id='usernames[]' name='usernames[]'> <a href='' onclick='$(this).parent().remove()'><%= t('views.shared.delete') -%></a></div>" ).appendTo( "#associate_maintainers" );
			  			$('#username').val('');
					});
		  		</script>
			<% end -%>
		<% end -%>
  	</td>
  </tr>
  <tr>
    <th><%= f.label :reference %></th>
    <td>
      <%= f.text_field :reference, :class => "input", :placeholder => t('activerecord.placeholders.project.reference') %>
	  <%= hint_helper({:model => :project, :column => :reference}) %>
    </td>
  </tr>
  <% if model.class == Sproject -%>
	<!-- associate projects search and add field -->
	<tr>
	  	<th>
	  		<%= t('activerecord.models.project') -%>
	  	</th>
	  	<td>
	  		<% if @projects_sprojects.present? -%>
		  		<% @projects_sprojects.each do |projects_sproject| -%>
		  			<div>
			  			<%= link_to projects_sproject.project.name, project_path(projects_sproject.project.name) -%>
			  			<%= link_to t('views.shared.delete'), projects_sproject_path(projects_sproject), :method => :delete, :confirm => t('views.shared.confirm.delete_model', :model => t('activerecord.models.project')) -%>
		  			</div>
		  		<% end -%>
	  		<% end -%>
	  		<%= fields_for :projecs_sproject do |ps| -%>
	  			<div id="sproject_projects"></div>
	  			<%= ps.autocomplete_field :project_name, "/projects/autocomplete_project_name/#{@sproject.project_ids}", :id => 'project_name', :placeholder => t('activerecord.placeholders.sproject.project_name') -%>
		  		<script type="text/javascript">
			  		$('#project_name').bind('railsAutocomplete.select', function(event, data){
			  			var projectName = data.item.value;
			  			// append associate projects name
			  			$( "<div class='associate_username'>" + projectName +"<input type='hidden' value='" + projectName + "' id='project_names[]' name='project_names[]'> <a href='' onclick='$(this).parent().remove()'><%= t('views.shared.delete') -%></a></div>" ).appendTo( "#sproject_projects" );
			  			$('#project_name').val('');
					});
		  		</script>
	  		<% end -%>
	  	</td>
	  </tr>
  <% end -%>
  <tr><td style="border:none"></td></tr>
<!--   <tr>
    <th><%= f.label :viewer %></th>
    <td><%= f.text_field :viewer, :class => "input", :placeholder => 'URL' %></td>
  </tr> -->
  <tr>
    <th><%= f.label :editor %></th>
    <td>
      <!-- <%= f.text_field :editor, :class => "input", :value => 'http://bionlp.dbcls.jp/textae-term/', :placeholder => 'URL' %> -->
      <%= f.text_field :editor, :class => "input", :placeholder => 'URL' %>
      <%= hint_helper({:model => :project, :column => :editor})%>
      <br/>
      <span class="note"><%= t('views.projects.try_textae') %> <a href="http://bionlp.dbcls.jp/textae/">TextAE</a></span>.
    </td>
  </tr>
  <tr>
    <th><%= f.label :rdfwriter %></th>
    <td><%= f.text_field :rdfwriter, :class => "input", :placeholder => 'URL' %></td>
  </tr>
  <tr>
    <th><%= f.label :xmlwriter %></th>
    <td><%= f.text_field :xmlwriter, :class => "input", :placeholder => 'URL' %></td>
  </tr>
  <tr>
    <th><%= f.label :bionlpwriter %></th>
    <td><%= f.text_field :bionlpwriter, :class => "input", :placeholder => 'URL' %></td>
  </tr>
  <tr>
    <th colspan="2"><%= f.submit %></th>
  </tr>
</table>
<% end %>		

