
<h1>
  <% if scope.present? -%>
	<%= t("views.projects.#{scope}").html_safe -%>
  <% else -%>
	  <% if @doc and @doc.sourcedb == 'PubMed' %>
	  	<%= t('views.projects.that_annotate_a_pmdoc', :href => projects_path, :sourcedb => @doc.sourcedb, :sourceid => @doc.sourceid).html_safe %>
	  <% elsif @doc and @doc.sourcedb == 'PMC' %>
	  	<%= t('views.projects.that_annotate_a_division', :href => projects_path, :serial => @doc.serial, :sourcedb => @doc.sourcedb, :sourceid => @doc.sourceid).html_safe %>
	  <% else %>
    	<%= t('views.projects.in_pubannotation').html_safe %>
    	<% new_path = new_project_path -%>
	    <% if params[:action] == 'index' -%>
		    <% if user_signed_in?%>
		      	<span class="button"><%= link_to t('views.shared.create_model', :model => t("activerecord.models.project")), new_path %></span>
		    <% else %>
			    <span class="button"><%= link_to t('views.users.sign_in_to_create_model', :model => t('activerecord.models.project')), new_user_session_path %></span>
		    <% end %>
	    <% end %>
	  <% end %>
  <% end %>
</h1>

<% if projects.blank? %>
  <p>none</p>
<% else %>
  <table>
    <tr>
      <th class="sortable-th"><%= link_to_unless_current t('activerecord.attributes.project.name'), url_for(:only_path => true, :projects_order => 'name'), :class => 'sortable-a' %></th>
      <th><%= t('activerecord.attributes.project.description') %></th>
      <th><%= link_to_unless_current t('activerecord.attributes.project.author'), url_for(:only_path => true, :projects_order => 'author'), :class => 'sortable-a' %></th>
      <th class="sortable-th" ><%= link_to_unless_current t('activerecord.attributes.project.maintainer'), url_for(:only_path => true, :projects_order => 'maintainer'), :class => 'sortable-a' %></th>
      <!-- <th class="sortable-th" title='Association'><%= link_to_unless_current 'A', url_for(:only_path => true, :projects_order => 'association'), :class => 'sortable-a' %></th> -->
      <th class="sortable-th" title='PubMed abstracts'><%= link_to_unless_current 'P', url_for(:only_path => true, :projects_order => 'pmdocs_count'), :class => 'sortable-a' %></th>
      <th class="sortable-th" title='PubMed Central documents'><%= link_to_unless_current 'C', url_for(:only_path => true, :projects_order => 'pmcdocs_count'), :class => 'sortable-a' %></th>
      <th class="sortable-th" title="<%= t('activerecord.models.denotations') %>"><%= link_to_unless_current 'D', url_for(:only_path => true, :projects_order => 'denotations_count'), :class => 'sortable-a' %></th>
      <th class="sortable-th" title="<%= t('activerecord.models.relations') %>"><%= link_to_unless_current 'R', url_for(:only_path => true, :projects_order => 'relations_count'), :class => 'sortable-a' %></th>
      <th>AP</th>
      <th></th>
    </tr>

  <% projects.each do |project| %>
    <% project_path = project_path(project.name) -%>
    <% type = 'P' -%>
    <tr>
      <td style="white-space: nowrap"><%= project.name %></td>
      <td class="text"><%= (project.description.length < 42)? project.description : project.description[0, 40] + ' ...' %></td>
      <td style="white-space: nowrap"><%= project.author %></td>
      <td style="white-space: nowrap"><%= project.user.username %></td>
<!--       <td>
      	<%= project.association_for(current_user) -%>
      </td>
 -->      <td style="text-align:right">
      	<%= project.pmdocs_count -%>
      </td>
      <td style="text-align:right">
      	<%= project.pmcdocs_count -%>
      </td>
      <td style="text-align:right">
    	<%= denotations_count_helper(project, {:doc => doc}) %>
      </td>
      <td style="text-align:right">
    	<%= relations_count_helper(project, {:doc => doc}) %>
      </td>
      <td>
  		<%= project.associate_projects.size -%>
  	  </td>
      <td>
	      <% if @doc and @doc.sourcedb == "PubMed" %>
	        <%= link_to t('views.shared.show'), project_pmdoc_path(project.name, @doc.sourceid) %>
	      <% elsif @doc and @doc.sourcedb == "PMC" %>
	        <%= link_to t('views.shared.show'), project_pmcdoc_div_path(project.name, @doc.sourceid, @doc.serial) %>
	      <% else %>
	        <%= link_to t('views.shared.show'), project_path(project.name) %>
	      <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
