
<h1>
  <% if @doc and @doc.sourcedb == 'PubMed' %>
	<%= t('views.projects.made_to_source', :href => projects_path, :sourcedb => @doc.sourcedb, :sourceid => @doc.sourceid).html_safe %>
  <% elsif @doc and @doc.sourcedb == 'PMC' %>
	<%= t('views.projects.made_to_division', :href => projects_path, :serial => @doc.serial, :sourcedb => @doc.sourcedb, :sourceid => @doc.sourceid).html_safe %>
  <% else %>
	<%= t('views.projects.in_pubannotation').html_safe %>
  <% end %>
  (<%= @projects.length %>)
  <% if user_signed_in? %>
  <span class="button"><%= link_to t('views.shared.create_model', :model => t('activerecord.models.project')), new_project_path %></span>
  <% else %>
  <span class="button"><%= link_to t('views.users.sign_in_to_create_model', :model => t('activerecord.models.project')), new_user_session_path %></span>
  <% end %>
</h1>

<% if @projects.empty? %>
  <p>none</p>
<% else %>
  <table>
    <tr>
      <th><%= t('activerecord.attributes.project.name') %></th>
      <th><%= t('activerecord.attributes.project.description') %></th>
      <th><%= t('activerecord.attributes.project.author') %></th>
      <th><%= t('activerecord.attributes.project.uploader') %></th>
      <th>PubMed</th>
      <th>PMC</th>
      <th><%= t('activerecord.models.denotation') %></th>
      <th><%= t('activerecord.models.relation') %></th>
      <th></th>
    </tr>

  <% @projects.each do |project| %>
    <tr>
      <td style="white-space: nowrap"><%= project.name %></td>
      <td class="text"><%= (project.description.length < 42)? project.description : project.description[0, 40] + ' ...' %></td>
      <td style="white-space: nowrap"><%= project.author %></td>
      <td style="white-space: nowrap"><%= project.user.username %></td>
      <td>
      	<%= project.docs.pmdocs.size %>
      </td>
      <td>
      	<%= project.docs.pmcdocs.size %>
      </td>
      <td>
    	<%= denotations_count_helper(project) %>      	
      </td>
      <td>
    	<%= relations_count_helper(project) %>
      </td>
      <% if @doc and @doc.sourcedb == "PubMed" %>
        <td><%= link_to t('views.shared.show'), pmdoc_project_path(@doc.sourceid, project.name) %></td>
      <% elsif @doc and @doc.sourcedb == "PMC" %>
        <td><%= link_to t('views.shared.show'), pmcdoc_div_project_path(@doc.sourceid, @doc.serial, project.name) %></td>
      <% else %>
        <td><%= link_to t('views.shared.show'), project_path(project.name) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>
