<% if projects.blank? %>
  <p>none</p>
<% else %>
  <table class="full">
    <tr>
      <% if @annotations_projects_check -%>
        <th style="width:1.7em"></th>
      <% end -%>
      <th class="projects_header_name"><%= sortable(Project, 'name', t('activerecord.attributes.project.name')) %></th>
      <th class="projects_header_type"></th>
      <th class="show_when_wide"><%= t('activerecord.attributes.project.description') %></th>
      <th class="projects_header_denotations_count"><%= sortable(Project, 'annotations_count', t('views.shared.annotations_count')) -%></th>
      <th class="projects_header_author"><%= sortable(Project, 'author', t('activerecord.attributes.project.author')) %></th>
      <th class="projects_header_user"><%= t('activerecord.attributes.project.maintainer') -%></th>
      <th class="projects_header_date"><%= sortable(Project, 'projects.updated_at', t('activerecord.attributes.project.updated_at')) -%></th>
      <th class="projects_header_status"><%= sortable(Project, 'status', t('activerecord.attributes.project.status')) -%></th>
    </tr>

    <%= render partial: 'projects/project', collection: projects -%>
  </table>

	<%= paginate projects if projects.respond_to?('total_pages') -%>
<% end %>
