<h3>
Batch obtain annotations
<a href="http://www.pubannotation.org/docs/obtain-annotation/">
<%= image_tag("hint.png",
      :size => "16x16",
      :title => "click for help") %>
</a>
</h3>



<%= form_tag project_obtain_annotations_path(@project.name), :method => "post" do %>
   	<table style="border-color:#FFFFFF; margin-left:20px">
   		<tr>
	   		<th>Annotation server</th>
	   		<td style="text-align:center">
				<%= text_field_tag :annotation_server, nil, :placeholder => "URL of annotation server" %>
			</td>
			<td rowspan="3">
				<%= submit_tag('Request annotation') %>
			</td>
		</tr>

		<tr>
			<th title="You can prefix the id of all the annotations from the server to avoid confliction with other annotations.">Prefix</th>
	   		<td style="text-align:center">
				<%= text_field_tag :prefix, nil, :placeholder => "a unique short character string" %>
			</td>
		</tr>

		<tr>
			<th>Storing mode</th>
			<td>
				<input type="radio" name="mode" value="replace" checked="checked"><span title="The obtained annotations will replace the existing ones. (CAUTION: All the exsiting annotations will be deleted.)">replace</span></input>
				<input type="radio" name="mode" value="add"><span title="The obtained annotations will be added to the existing ones. (CAUTION: It may cause cross-boundarying annotations which will not be properly shown in TextAE.)">add</span></input>
			</td>
		</tr>
	</table>
<% end %>
