<% if @project.annotator %>
	<table class='sub-pane' style="width:100%">
		<tr>
			<td style="text-align:center">
				<%= number_docs_without_annotation(@project) %> doc(s) are yet to be annotated
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
				<%= form_tag obtain_path, style: 'width:100%' do %>
					<%= hidden_field_tag :annotator, @project.annotator.name %>
					<%= hidden_field_tag :mode, :fill %>
					<%= submit_tag 'annotate the doc(s)', class: 'button long_button', title: 'To obtain annotations from the last annotation service, for the documents which have not been annotated' %>
				<% end %>
			</td>
		</tr>
	</table>
<% end %>
