<% content_for :javascript do -%>
	<script>
		$(function() {
			$( "#accordion" ).accordion({
				heightStyle: "content",
				collapsible: true, 
				<%= "active: #{@accordion_id}" if @accordion_id.present? -%>
			});
		});
	</script>
<% end -%>

<h1><span class="pname"><%= model.name %></span></h1>

<div id="accordion">
	<h1><%= t('views.projects.project_details') %></h1>
	<div>
		<% if model %>
			<table>
				<tr>
					<th><%= t('activerecord.attributes.project.name') %></th>
					<td><%= model.name %></td>
				</tr>
				<tr>
					<th><%= t('activerecord.attributes.project.description') %></th>
					<td><%= model.description %></td>
				</tr>
				<tr>
					<th><%= t('activerecord.attributes.project.author') %></th>
					<td><%= model.author %></td>
				</tr>
				<tr>
					<th><%= t('activerecord.attributes.project.license') %></th>
					<td><%= model.license %></td>
				</tr>
				<tr>
					<th><%= t('activerecord.attributes.project.status') %></th>
					<td>
						<%= model.status_text -%>
					</td>
				</tr>
				<tr>
					<th><%= t('activerecord.attributes.project.accessibility') %></th>
					<td>
						<%= model.accessibility_text -%>
					</td>
				</tr>
				<tr>
					<th><%= t('activerecord.attributes.project.maintainer') %></th>
					<td><%= model.user.username %></td>
				</tr>
				<tr>
					<th><%= t('activerecord.models.associate_maintainer') %></th>
					<td>
						<% model.associate_maintainers.each do |associate_maintainer| -%>
							<div>
								<%= associate_maintainer.user.username -%>
							</div>
						<% end -%> 
					</td>
				</tr>
				<tr>
					<th><%= t('activerecord.attributes.project.reference') %></th>
					<td><a href="<%= model.reference %>"><%= model.reference %></a></td>
				</tr>
				<th><%= t('activerecord.attributes.project.viewer') %></th>
				<td><a href="<%= model.viewer %>"><%= model.viewer %></a></td>
				</tr>
				<% if user_signed_in? and current_user == model.user %>
					<tr>
						<th><%= t('activerecord.attributes.project.editor') %></th>
						<td><a href="<%= model.editor %>"><%= model.editor %></a></td>
					</tr>
				<% end %>
				<% unless model.rdfwriter.blank? %>
				<tr>
					<th><%= t('activerecord.attributes.project.rdfwriter') %></th>
					<td><a href="<%= model.rdfwriter %>"><%= model.rdfwriter %></a></td>
				</tr>
				<% end %>
				<% unless model.xmlwriter.blank? %>
				<tr>
					<th><%= t('activerecord.attributes.project.xmlwriter') %></th>
					<td><a href="<%= model.xmlwriter %>"><%= model.xmlwriter %></a></td>
				</tr>
				<% end %>
				<% unless model.bionlpwriter.blank? %>
				<tr>
					<th><%= t('activerecord.attributes.project.bionlpwriter') %></th>
					<td><a href="<%= model.bionlpwriter %>"><%= model.bionlpwriter %></a></td>
				</tr>
				<% end %>
			</table>
			<% if user_signed_in? -%>
				<% if model.updatable_for?(current_user) -%>
					<% edit_path = edit_project_path(model.name) -%> <span class="button"> <%= link_to t('views.shared.edit'), edit_path, :class => 'capitalize_first' -%> </span>
				<% end -%>
				<% if model.destroyable_for?(current_user) -%> 
					<span class="button"><%= link_to t('views.shared.delete'), model.name, :method => :delete, :confirm => t('views.projects.confirm_delete') %></span>
				<% end -%>
			<% end %>
		<% end %>
		
		<%= project_annotations_zip_link_helper(model.name) -%>
		
		<% if model.associate_projects.present? -%>
			<%= render :partial => "projects/list", :locals => {:doc => nil, :projects => model.associate_projects, :scope => 'associate_project' } %>
		<% end -%>
	</div>
