<div class='project-title'>
	<%= link_to_unless_current @project.name, project_path(@project.name) -%>
	<%= home_button -%>
	<%= badge_type(@project).html_safe %>
	<%= badge_accessibility(@project).html_safe %>
	<%= link_to_unless_current content_tag(:i, '', class: "fa fa-search", "aria-hidden" => "true", title: "search"), sparql_project_path(@project.name) %>
	<% if @project.jobs.exists? && @project.editable?(current_user) -%>
		<span>
			<a href=<%= project_jobs_path(@project.name) %>>
				<span class = ''><%= icon_job(@project) %></span>
			</a>
		</span>
	<% end -%>
	&nbsp;
</div>
