<div class='project-title'>
	<%= link_to_unless_current @project.name, project_path(@project.name) -%>
	<%= home_button -%>
	<%= badge_type(@project).html_safe %>
	<%= badge_accessibility(@project).html_safe %>
	<%= link_to content_tag(:i, '', class: "fa fa-search", "aria-hidden" => "true", title: "search"), sparql_project_path(@project.name) %>
	<% if @project.jobs.exists? && @project.editable?(current_user) -%>
		<%= render 'projects/gear_icon' %>
	<% end -%>
	&nbsp;
</div>

<script>
  $(document).ready(
    function() {
      setInterval(function() {
        const pathArray = location.pathname.split('/');
        $('.gear-icon').load(`/${pathArray[1]}/${pathArray[2]}/jobs/reload_gear_icon`);
      }, 3000);
    });
</script>
