<div class='project-title'>
	<%= link_to_unless_current @project.name, project_path(@project.name) -%>
	<%= home_button -%>
	<%= badge_type(@project).html_safe %>
	<%= badge_accessibility(@project).html_safe %>
	<% if @project.jobs.exists? && @project.editable?(current_user) -%>
		<span class = 'tab-bar'>
			<%= link_to_unless_current 'Jobs', project_jobs_path(@project.name), :class => 'tab inactive_tab' do
		    	content_tag :span, 'Jobs', :class => 'tab active_tab'
			end -%>
		</span>
	<% end -%>
</div>
