<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @sourcedb == 'PubMed' %>
		> <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
		> <%= link_to @sourceid, pmdoc_path(@sourceid) %>
	 	> <%= link_to "projects", pmdoc_projects_path(@sourceid) %>
	 	> <%= link_to @project.name, pmdoc_project_path(@sourceid, @project.name) %>
	<% elsif @sourcedb == 'PMC' %>
		> <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
		> <%= link_to @sourceid, pmcdoc_path(@sourceid) %>
	 	> <%= link_to t('views.shared.divs'),    pmcdoc_divs_path(@sourceid) %>
	 	> <%= link_to @serial,   pmcdoc_div_path(@sourceid, @serial) %>
	 	> <%= link_to "projects", pmcdoc_div_projects_path(@sourceid, @serial) %>
	 	> <%= link_to @project.name, pmcdoc_div_project_path(@sourceid, @serial, @project.name) %>
	<% else %>
	 	> <%= link_to "projects", projects_path %>
	 	> <%= link_to @project.name, project_path(@project.name) %>
 	<% end %>
 	> edit
<% end %>

<%= render :partial => 'titlebar' -%>

<h1>
	Properties
</h1>

<%= render :partial => 'form' -%>
