<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @doc and @doc.sourcedb == 'PubMed' %>
    > <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
    > <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
  <% elsif @doc and @doc.sourcedb == 'PMC' %>
    > <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
    > <%= link_to t('views.shared.divs'),    pmcdoc_divs_path(@doc.sourceid) %>
    > <%= link_to @doc.serial,   pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
  <% end %>
  > <%= t('activerecord.models.project').pluralize %>
<% end %>

<h1>
  <%= t('activerecord.models.project').pluralize.capitalize.html_safe %>
  <span class='info'>(<%= total_number(@projects) -%>)</span>

  <% if user_signed_in?%>
      <span class="button"><%= link_to t('views.shared.create_model', :model => t("activerecord.models.project")), new_project_path %></span>
  <% else %>
    <span class="button"><%= link_to t('views.users.sign_in_to_create_model', :model => t('activerecord.models.project')), new_user_session_path %></span>
  <% end %>
</h1>
<%= render :partial => "list", :locals => {:doc => @doc, :projects => @projects, :scope => nil} %>

