<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @doc and @doc.sourcedb == 'PubMed' %>
    > <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
    > <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
  <% elsif @doc and @doc.sourcedb == 'PMC' %>
    > <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
    > <%= link_to t('views.shared.divs'),    pmcdoc_divs_path(@doc.sourceid) %>
    > <%= link_to @doc.serial,   pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
  <% end %>
  > <%= t('activerecord.models.project').pluralize %>
<% end %>

<section>
<h1>
  <%= link_to t('activerecord.models.project').pluralize.capitalize.html_safe, projects_path %>
  <span class='info'>
    (<%= "#{total_number(@projects)}/" if params[:commit].present? -%><%= @projects_total_number -%>)
  </span>
  <span class='control'><%= render partial: 'search_all_form' -%></span>

  <% if user_signed_in?%>
    <%= link_to t('views.shared.create'), new_project_path, {:class=> 'control button'} %>
  <% end %>
</h1>
<%= render :partial => "list", :locals => {:doc => @doc, :projects => @projects, :scope => nil} %>
</section>