<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @doc and @doc.sourcedb == 'PubMed' %>
    > <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
    > <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
  <% elsif @doc and @doc.sourcedb == 'PMC' %>
    > <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
    > <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
    > <%= link_to t('views.shared.divs'),    pmcdoc_divs_path(@doc.sourceid) %>
    > <%= link_to @doc.serial,   pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
  <% end %>
  > <%= t('activerecord.models.project').pluralize %>
<% end %>

<h1 class="capitalize_first">
  <% @doc = Doc.last %>
  <% if @doc and @doc.sourcedb == 'PubMed' %>
  	<%= t('views.shared.made_to', :pname => "#{@doc.sourcedb}:#{@doc.sourceid}", :content => "#{t('views.shared.annotation_sets')}/#{t('activerecord.models.project')}").html_safe %>
	<!-- I18n
    <span class='meta'>
    made to <span class='pname'><%= @doc.sourcedb %>:<%= @doc.sourceid %></span>
    </span>
    -->
  <% elsif @doc and @doc.sourcedb == 'PMC' %>
  	<%= t('views.shared.made_to_division', :serial => @doc.serial, :pname => "#{@doc.sourcedb}:#{@doc.sourceid}", :content => "#{t('views.shared.annotation_sets')}/#{t('activerecord.models.project')}").html_safe %>
  <% else %>
    <%= t('views.shared.stored_in', :pname => t('views.service.title'), :content => "#{t('views.shared.annotation_sets')}/#{t('activerecord.models.project')}").html_safe %>
  <% end %>  
</h1>

<% if @projects.empty? %>
  <p>none</p>
<% else %>
  <table>
    <tr class="capitalize">
      <th><%= t('activerecord.attributes.project.name') %></th>
      <th><%= t('activerecord.attributes.project.description') %></th>
      <th><%= t('activerecord.attributes.project.author') %></th>
      <th><%= t('views.shared.uploader') %></th>
      <th></th>
    </tr>

  <% @projects.each do |project| %>
    <tr>
      <td style="white-space: nowrap"><%= project.name %></td>
      <td class="text"><%= (project.description.length < 42)? project.description : project.description[0, 40] + ' ...' %></td>
      <td style="white-space: nowrap"><%= project.author %></td>
      <td style="white-space: nowrap"><%= project.user.username %></td>
      <% if @doc and @doc.sourcedb == "PubMed" %>
        <td><%= link_to t('views.shared.show'), pmdoc_project_path(@doc.sourceid, project.name) %></td>
      <% elsif @doc and @doc.sourcedb == "PMC" %>
        <td><%= link_to t('views.shared.show'), pmcdoc_div_project_path(@doc.sourceid, @doc.serial, project.name) %></td>
      <% else %>
        <td><%= link_to t('views.shared.show'), project_path(project.name) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

	
<span class="button">
<% if user_signed_in? %>
	<%= link_to t('views.shared.create_model', :model => t('activerecord.models.project')), new_project_path %>
<% else %>
	<%= link_to t('views.user.sign_in_to_create_model', :model => "#{t('views.shared.annotation_sets')}/#{t('activerecord.models.project')}"), new_user_session_path %>
<% end %>
</span>

