<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @sourcedb == 'PubMed' %>
		> <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
		> <%= link_to @sourceid, pmdoc_path(@sourceid) %>
	 	> <%= link_to "projects", pmdoc_projects_path(@sourceid) %>
	<% elsif @sourcedb == 'PMC' %>
		> <%= link_to t('views.shared.pmcdocs'), pmdocs_path %>
		> <%= link_to @sourceid, pmdoc_path(@sourceid) %>
	 	> <%= link_to "projects", pmdoc_div_projects_path(@sourceid, @serial) %>
	<% end %>
 	> <%= link_to "projects", projects_path %>
 	> <%= t('views.paths.new') %>
<% end %>

<h1>
	<%= t('views.shared.new_model', :model => t('activerecord.models.project')) %>
</h1>

<%= render :partial => 'form' -%>
