<% content_for :path do -%>
	> <%= link_to t('views.paths.home'), home_path -%>
	> <%= link_to t('activerecord.models.project').pluralize, projects_path -%>
	> <%= link_to @project.name, project_path(@project.name) -%>
	> obtain-annotations
<% end -%>

<% if @project.present? -%>
	<section>
		<%= render partial: 'projects/titlebar' -%>
<% end %>

		<section>
			<h2>
				<%= t('views.docs.obtain_annotations') %>
				<%= link_to(content_tag(:i, '', class: "fa fa-question-circle", "aria-hidden" => "true"), 'https://www.pubannotation.org/docs/obtain-annotation/', title: "Help") %>
			</h2>
			<%= render partial: 'annotations/obtain_annotation' -%>
		</section>

<% if @project.present? -%>
	</section>
<% end %>
