<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= link_to t('activerecord.models.project').pluralize, projects_path %>
 	> <%= link_to @project.name, project_path(@project.name) %>
 	> comparison
<% end %>

<section>
	<%= render partial: 'projects/titlebar' -%>
	<h1>
		Comparison with '<%= @comparison[:reference] %>'
    <span class='tab-bar'>
      <%= link_to_unless_current 'JSON', params.merge(controller: :projects, action: :show_comparison, format: :json), :class => 'tab' -%>
    </span>
	</h1>

	<% if @comparison[:individual].present? %>
		<section>
			<h2>Individual annotations</h2>

			<% if @comparison[:individual][:denotations].present? && @comparison[:individual][:denotations][:counts].present?%>
				<section>
					<h3>Denotations</h3>
					<%= render partial: 'comparison', locals: {comparison: @comparison[:individual][:denotations]} %>
				</section>
			<% end %>

			<% if @comparison[:individual][:relations].present? && @comparison[:individual][:relations][:counts].present?%>
				<section>
					<h3>Relations</h3>
					<%= render partial: 'comparison', locals: {comparison: @comparison[:individual][:relations]} %>
				</section>
			<% end %>

			<% if @comparison[:individual][:modifications].present? && @comparison[:individual][:modifications][:counts].present? %>
				<section>
					<h3>Modifications</h3>
					<%= render partial: 'comparison', locals: {comparison: @comparison[:individual][:modifications]} %>
				</section>
			<% end %>
		</section>

	<% end %>

	<% if @comparison[:compound].present? %>
		<section>
			<h2>Compound annotations</h2>

			<% if @comparison[:compound][:denotations].present? && @comparison[:compound][:denotations][:counts].present? %>
				<section>
					<h3>Denotations</h3>
					<%= render partial: 'comparison', locals: {comparison: @comparison[:compound][:denotations]} %>
				</section>
			<% end %>

			<% if @comparison[:compound][:relations].present? && @comparison[:compound][:relations][:counts].present? %>
				<section>
					<h3>Relations</h3>
					<%= render partial: 'comparison', locals: {comparison: @comparison[:compound][:relations]} %>
				</section>
			<% end %>

			<% if @comparison[:compound][:modifications].present? && @comparison[:compound][:modifications][:counts].present?%>
				<section>
					<h3>Modifications</h3>
					<%= render partial: 'comparison', locals: {comparison: @comparison[:compound][:modifications]} %>
				</section>
			<% end %>
		</section>
	<% end %>
</section>