<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @doc and @doc.sourcedb == 'PubMed' %>
		> <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
		> <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
	 	> <%= link_to "projects", pmdoc_projects_path(@doc.sourceid) %>
	<% elsif @doc and @doc.sourcedb == 'PMC' %>
		> <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
		> <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
		> <%= link_to t('views.shared.divs'),    pmcdoc_divs_path(@doc.sourceid) %>
		> <%= link_to @doc.serial,   pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
	 	> <%= link_to "projects", pmcdoc_div_projects_path(@doc.sourceid, @doc.serial) %>
	<% else %>
 		> <%= link_to "projects", projects_path %>
 	<% end %>
 	> <%= @project.name %>
<% end %>

<div id="accordion">
<h1><%= t('views.projects.about_the_project', :project_name => @project.name).html_safe %></h1>
<div>
<% if @project %>
	<table>
	<tr>
	<th><%= t('activerecord.attributes.project.name') %></th>
	<td><%= @project.name %></td>
	</tr>
	<tr>
	<th><%= t('activerecord.attributes.project.description') %></th>
	<td><%= @project.description %></td>
	</tr>
	<tr>
	<th><%= t('activerecord.attributes.project.author') %></th>
	<td><%= @project.author %></td>
	</tr>
	<tr>
	<th><%= t('activerecord.attributes.project.license') %></th>
	<td><%= @project.license %></td>
	</tr>
	<tr>
	<th><%= t('activerecord.attributes.project.status') %></th>
	<td><%=
		case @project.status
		when 1 then t('activerecord.options.project.status.released')
		when 2 then t('activerecord.options.project.status.beta')
		when 3 then t('activerecord.options.project.status.developing')
		end
	%></td>
	</tr>
	<tr>
	<th><%= t('activerecord.attributes.project.accessibility') %></th>
	<td><%=
		case @project.accessibility
		when 1 then t('activerecord.options.project.accessibility.public')
		when 2 then :Private
		end
	%></td>
	</tr>
	<tr>
	<th><%= t('activerecord.attributes.project.uploader') %></th>
	<td><%= @project.user.username %></td>
	</tr>
	<tr>
	<th><%= t('activerecord.attributes.project.reference') %></th>
	<td><a href="<%= @project.reference %>"><%= @project.reference %></a></td>
	</tr>
	<th><%= t('activerecord.attributes.project.viewer') %></th>
	<td><a href="<%= @project.viewer %>"><%= @project.viewer %></a></td>
	</tr>
	<% if user_signed_in? and current_user == @project.user %>
		<tr>
			<th><%= t('activerecord.attributes.project.editor') %></th>
			<td><a href="<%= @project.editor %>"><%= @project.editor %></a></td>
		</tr>
	<% end %>
	<% unless @project.rdfwriter.empty? %>
		<tr>
			<th><%= t('activerecord.attributes.project.rdfwriter') %></th>
			<td><a href="<%= @project.rdfwriter %>"><%= @project.rdfwriter %></a></td>
		</tr>
	<% end %>
	<% unless @project.xmlwriter.empty? %>
		<tr>
			<th><%= t('activerecord.attributes.project.xmlwriter') %></th>
			<td><a href="<%= @project.xmlwriter %>"><%= @project.xmlwriter %></a></td>
		</tr>
	<% end %>
	<% unless @project.bionlpwriter.empty? %>
		<tr>
			<th><%= t('activerecord.attributes.project.bionlpwriter') %></th>
			<td><a href="<%= @project.bionlpwriter %>"><%= @project.bionlpwriter %></a></td>
		</tr>
	<% end %>
	</table>

	<% if user_signed_in? and current_user == @project.user %>
		<span class="button"><%= link_to t('views.shared.edit'), edit_project_path(@project.name), :class => 'capitalize_first' %></span>
		<span class="button"><%= link_to t('views.shared.delete'), @project.name, :method => :delete, :confirm => t('views.projects.confirm_delete') %></span>
	<% end %>
<% end %>
</div>

<%= render :partial => "pmdocs/list", :locals => {:docs => @pmdocs, :project => @project} %>

<%= render :partial => "pmcdocs/list", :locals => {:docs => @pmcdocs, :project => @project} %>
</div>
