<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	<% if @doc and @doc.sourcedb == 'PubMed' %>
		> <%= link_to t('views.shared.pmdocs'), pmdocs_path %>
		> <%= link_to @doc.sourceid, pmdoc_path(@doc.sourceid) %>
	 	> <%= link_to t('activerecord.models.project').pluralize, pmdoc_projects_path(@doc.sourceid) %>
	<% elsif @doc and @doc.sourcedb == 'PMC' %>
		> <%= link_to t('views.shared.pmcdocs'), pmcdocs_path %>
		> <%= link_to @doc.sourceid, pmcdoc_path(@doc.sourceid) %>
		> <%= link_to t('views.shared.divs'), pmcdoc_divs_path(@doc.sourceid) %>
		> <%= link_to @doc.serial, pmcdoc_div_path(@doc.sourceid, @doc.serial) %>
	 	> <%= link_to t('activerecord.models.project').pluralize, pmcdoc_div_projects_path(@doc.sourceid, @doc.serial) %>
	<% else %>
 		> <%= link_to t('activerecord.models.project').pluralize, projects_path %>
 	<% end %>
 	> <%= @project.name %>
<% end %>

<%= render :partial => 'title_and_links' -%>

<% if @project.description.present? -%>
	<div><%= @project.description.html_safe %></div>
<% end -%>
<br/>

<table>
	<tr>
		<th><%= t('activerecord.attributes.project.maintainer') %></th>
		<td><%= @project.user.username %></td>
		<th><%= t('activerecord.attributes.project.status') %></th>
		<td><%= @project.status_text -%></td>
	</tr>
	<tr>
		<th><%= t('activerecord.attributes.project.author') %></th>
		<td><%= @project.author %></td>
		<th><%= t('activerecord.attributes.project.license') %></th>
		<td><%= @project.license %></td>
	</tr>
</table>

<% if user_signed_in? -%>
	<% if @project.updatable_for?(current_user) -%>
		<% edit_path = edit_project_path(@project.name) -%> <span class="button"> <%= link_to t('views.shared.edit'), edit_path, :class => 'capitalize_first' -%> </span>
	<% end -%>
	<% if @project.destroyable_for?(current_user) -%> 
		<span class="button"><%= link_to t('views.shared.delete'), @project.name, :method => :delete, :confirm => t('views.projects.confirm_delete') %></span>
	<% end -%>
<% end %>


<h2>
	<%= t('activerecord.models.doc').pluralize.capitalize %> <span class="info" style="margin-right:10px">(<%= total_number(@docs) -%>)</span>
	<% if total_number(@docs) < 5000 -%>
		<%= link_to t('views.shared.full_list'), project_docs_path(@project.name), {class: 'button'} -%>
	<% else -%>
		<span class="button_disabled" title="disabled due to too many documents to list"><%= t('views.shared.full_list') %></span>
	<% end -%>
</h2>

<h3>Search</h3>
<%= render partial: 'docs/search_form' -%>

<% if user_signed_in? && @project.present? && current_user == @project.user %>
	<h3><%= t('views.docs.add_new_documents') -%></h3>
    <%= render :partial => "docs/project_form", :locals => {:model => @project} if @project.present? -%>
<% end -%>

<h2>Annotations <span class='info'>(<%= annotations_count_helper(@project) %>)</span></h2>

<h3>Batch download</h3>
<div>
	<%= project_annotations_zip_link_helper(@project) -%>
</div>
<!-- <div>
	<%= project_annotations_rdf_link_helper(@project) -%>
</div>
 -->
<% if user_signed_in? && @project.updatable_for?(current_user) -%>
	<%= render partial: 'annotations/upload_zip' -%>
	<%= render partial: 'delete_annotations' -%>
<% end -%>