<% content_for :path do -%>
	> <%= link_to t('views.paths.home'), home_path -%>
	> <%= link_to t('activerecord.models.project').pluralize, projects_path -%>
	> <%= link_to @project.name, project_path(@project.name) -%>
	> upload-annotations
<% end -%>

<section>
	<%= render partial: 'projects/titlebar' -%>

	<section>
		<h2><%= t('views.docs.upload_annotations') %></h2>
		You can upload a <span title="gzip compressed tar file" style="text-decoration:underline">.tgz or .tar.gz file</span> which contains annotation json files.
		<%= render partial: 'annotations/upload_tgz' -%>
	</section>

</section>
