<% content_for :path do -%>
	> <%= link_to t('views.paths.home'), home_path -%>
	> <%= link_to t('activerecord.models.project').pluralize, projects_path -%>
	> <%= link_to @project.name, project_path(@project.name) -%>
	> upload-annotations
<% end -%>

<section>
	<%= render partial: 'projects/titlebar' -%>

	<section>
		<h2><%= t('views.docs.upload_annotations') %></h2>
		You can upload an annotation JSON file (<span style="text-decoration:underline">*.json</span>), or a gzip compressed tar file (<span style="text-decoration:underline">*.tgz</span> or <span style="text-decoration:underline">*.tar.gz</span>) which contains multitple annotation JSON files.
		<%= render partial: 'annotations/upload' -%>
	</section>
</section>
