<% content_for :path do -%>
	> <%= link_to t('views.paths.home'), home_path -%>
	> <%= link_to t('activerecord.models.project').pluralize, projects_path -%>
	> <%= link_to @project.name, project_path(@project.name) -%>
	> upload-annotations
<% end -%>

<section>
	<%= render partial: 'projects/titlebar' -%>

	<section>
		<h2><%= t('views.docs.upload_docs') %></h2>
		<ul>
			<li>You can upload documents, which are in either JSON or TXT files.</li>
			<li>A JSON file must conform the <a href="http://www.pubannotation.org/docs/annotation-format/">PubAnnotation JSON format</a>, in which the sourcedb, the sourcedb, and the text have to be specified.</li>
			<li>A text file must have the text in it, and its filename has to be in the form '<i>sourcedb-sourceid.txt</i>' where the sourcedb and the sourceid have to be properly speficied.</li>
			<li>You can also put multiple JSON or TXT files in a gzip compressed tar file (<span style="text-decoration:underline">*.tgz</span> or <span style="text-decoration:underline">*.tar.gz</span>), and submit it.</li>
		</ul>
		<%= render partial: 'docs/upload' -%>
	</section>
</section>
