<% content_for :path do -%>
  > <%= link_to t('views.paths.home'), home_path -%>
  > <%= link_to t('activerecord.models.project').pluralize, projects_path -%>
  > <%= link_to @project.name, project_path(@project.name) -%>
  > obtain-annotations-with-callback
<% end -%>

<% if @project.present? -%>
  <%= render partial: 'projects/titlebar' -%>

  <section>
    <h2><%= t('views.docs.obtain_annotations_with_callback') %></h2>
    <%= render partial: 'obtain_annotation_with_callback_job' -%>
  </section>
<% end %>
