<h2>
	<%= link_to 'Divisions', request.path -%>
	(<%= @search_count.to_s + '/' if @search_count.present? -%><%= @divs_count -%>)
	<% if @project.present? || params[:action] == 'search' -%>
		<span class='tab-bar'>
			<%= link_to 'JSON', params.merge(format: :json), :class => 'tab' -%>
			<%= link_to 'TSV', params.merge(format: :tsv), :class => 'tab' -%>
		</span>
	<% end -%>
	<span style="margin-left:7px"><%= render partial: 'docs/search_form' -%></span>
</h2>
<% if divs.present? -%>
	<% content_for :javascript do %>
		<script type="text/javascript">
			$(document).ready(function() 
			    { 
			        $("#divisions").tablesorter({
			        	sortInitialOrder: 'desc',
			        	// set sortable headers
			        	headers: { 
				            0: { sorter: false }, 
				            1: { sorter: false }, 
				            3: { sorter: false }, 
				            4: { sorter: false }, 
				            5: { sorter: false },
				            8: { sorter: false }
				        }
			        });
			    } 
			); 	
		</script>
	<% end %>

	<table class="full">
		<thead>
			<tr>
				<th style="width:4em">div.</th>
				<th style="width:14em"><%= t('activerecord.attributes.doc.section') %></th>
				<th><%= t('activerecord.attributes.doc.body') %></th>
			    <th class="docs_header_projects_number">
					<span title="number of projects"><%= t('views.shared.projects_count') -%></span>
			    </th>
				<th class="docs_header_annotations_number">
        			<span title="number of annotations"><%= t('views.shared.length') -%></span>
				</th>
        		<th class="docs_header_annotations_number">
        			<span title="number of annotations"><%= t('views.shared.annotations_count') -%></span>
        		</th>
				<th class="docs_header_button"></th>
			</tr>
		</thead>
		<tbody>
			<%= render partial: 'div', collection: divs -%>
		</tbody>
	</table>
<% else %>
	none
<% end -%>