<tr>
    <td style="text-align:center"><%= div.serial %></td>
    <td style="text-align:center"><%= div.section %></td>
    <td style="text-align:left"><%= div.body %></td>
    <td style="text-align:right"><%= div.body.length %></td>
    <td style="text-align:right"><%= div.denotations_count(@project) %></td>
    <td><span class='button'><%= div_link_helper(@project, div) -%></span></td>
</tr>
