
<%= form_tag(@docs_path, method: 'get', style:"display:inline-block") do -%>
  <%= text_field_tag :keywords, params[:keywords], style: "width:7em", placeholder: t('views.shared.keywords') -%>
  <%= submit_tag t('views.shared.search'), class: :button -%>
<% end %>

<% @divs_path = @project.present? ? project_divs_path(@project.name) : divs_path -%>

<%= form_tag(@search_path, method: 'get')  do -%>
  <table class="search">		
    <tr>
      <th><%= label_tag :sourceid, t('activerecord.attributes.doc.body') -%></th>
    </tr>
    <tr>
      <td><%= text_field_tag :body, params[:body], value: params[:body] -%></td>
      <td>
        <%= submit_tag t('views.shared.search'), class: :button -%>
        <%= submit_tag t('views.shared.clear'), id: 'reset', class: :button -%>
      </td>
    </tr>
  </table>
<% end %>

<script>
  $("#reset").click(function(){
   $(this).closest('form').find("input[type=text], textarea").val("");
    return false
  });
</script>
