<h1>Divisions</h1>

<table>
  <tr>
    <th>Source DB</th>
    <th>Source Id</th>
    <th>Div.</th>
    <th>Section</th>
    <th>Text</th>
    <th>Annotation</th>
    <th></th>
  </tr>

<% @docs.each_with_index do |doc, i| %>
  <tr>
    <td><%= doc.sourcedb %></td>
    <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
    <td><%= doc.serial %></td>
    <td><%= doc.section %></td>
    <td class="text"><%= (doc.body.length < 32)? doc.body : doc.body[0, 30] + ' ...' %></td>
    <td style="text-align:right">bionlp-st-2013-ge [
      <%= link_to "table", pmcdoc_div_annset_annotations_url(doc.sourceid, doc.serial, "bionlp-st-ge-2013-sample") %> |
      <%= link_to "json", pmcdoc_div_annset_annotations_url(doc.sourceid, doc.serial, "bionlp-st-ge-2013-sample", :format => :json) %> |
      <%= link_to "rdf", pmcdoc_div_annset_annotations_url(doc.sourceid, doc.serial, "bionlp-st-ge-2013-sample", :format => :ttl) %>
      <!--a href="http://bionlp-st.dbcls.jp/brat/index.xhtml#/bionlp-st-ge-2013_sample/PMC-2626671-<%= "%02d" % doc.serial.to_i %>">view</a-->
      ]</td>
    <td><%= link_to 'Detail', pmcdoc_div_path(doc.sourceid, doc.serial) %></td>
  </tr>
<% end %>
</table>
