<% content_for :path do -%>
	> <%= link_to t('views.paths.home'), home_path -%>
	<% if @project.present? -%>
		> <%= link_to t('activerecord.models.project').pluralize, projects_path -%>
		> <%= link_to @project.name, project_path(@project.name) -%>
		> <%= link_to 'docs', project_docs_path(@project.name) -%>
	<% else -%>
	    > <%= link_to "docs", docs_path %>
	<% end -%>
	> <%= t('views.shared.a_doc_id', :sourcedb => @divs.first.sourcedb, :sourceid => @divs.first.sourceid) -%>
	> divs
<% end -%>

<% if @project.present? -%>
  <%= render :partial => 'projects/title_and_links' -%>
<% end -%>

<%= render partial: 'divs', locals: {title: "Divisions of #{params[:sourcedb]}:#{params[:sourceid]}", divs: @divs} -%>

<h3>Search divisions</h3>
<%= render partial: 'search_form' -%>

