<% content_for :path do %>
  > <%= link_to "home", home_path %>
  <% if @annset_name %>
    > <%= link_to "annsets", annsets_path %>
    > <%= link_to @annset_name, annset_path(@annset_name) %>
    > <%= link_to "pmcdocs", annset_pmcdocs_path(@annset_name) %>
  <% else %>
    > <%= link_to "pmcdocs", pmcdocs_path %>
  <% end %>
  > <%= @docs.first.sourceid %>
  > divs
<% end %>

<h1>
Divisions
<span class="meta">
of the document, <span class="pname"><%= @docs.first.sourcedb %>:<%= @docs.first.sourceid %></span>
</span>
</h1>

<table>
  <tr>
    <th>Source DB</th>
    <th>Source Id</th>
    <th>Div.</th>
    <th>Section</th>
    <th>Text</th>
    <th>Size</th>
    <th></th>
  </tr>

<% @docs.each_with_index do |doc, i| %>
  <tr>
    <td style="text-align:center"><%= doc.sourcedb %></td>
    <td style="text-align:center"><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
    <td style="text-align:center"><%= doc.serial %></td>
    <td style="text-align:center"><%= doc.section %></td>
    <td style="text-align:left"><%= (doc.body.length < 42)? doc.body : doc.body[0, 40] + ' ...' %></td>
    <% if doc.body.length > 5000 %>
      <td style="text-align:right;color:red"><%= doc.body.length %></td>
    <% else %>    
      <td style="text-align:right"><%= doc.body.length %></td>
    <% end %>
    <% if @annset_name %>
    <td><%= link_to 'Show', annset_pmcdoc_div_path(@annset_name, doc.sourceid, doc.serial) %></td>
    <% else %>    
    <td><%= link_to 'Show', pmcdoc_div_path(doc.sourceid, doc.serial) %></td>
    <% end %>
  </tr>
<% end %>
</table>
