<% content_for :path do -%>
	> <%= link_to t('views.paths.home'), home_path -%>
	> <%= link_to "docs", docs_path %>
	> <%= t('views.shared.a_doc_id', :sourcedb => params[:sourcedb], :sourceid => params[:sourceid]) -%>
	> divs
<% end -%>

<section>
	<%= render :partial => 'docs/titlebar' -%>
	<section>
		<%= render partial: 'divs', locals: {divs: @divs} -%>
	</section>
</section>
