<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @project %>
    > <%= link_to t('activerecord.models.project'), projects_path %>
    > <%= link_to @project.name, project_path(@project.name) %>
  <% end %>
  > <%= t('views.shared.a_pmcdoc', :sourceid => @docs.first.sourceid) %>
<% end %>

<h1>
	<%= t('views.divs.document_divs', :sourcedb => @docs.first.sourcedb, :sourceid => @docs.first.sourceid).html_safe %>
</h1>

<!-- tablesorter js -->
<% content_for :javascript do %>
	<%= javascript_include_tag "jquery.tablesorter" %>
	<script type="text/javascript">
		$(document).ready(function() 
		    { 
		        $("#divisions").tablesorter({
		        	sortInitialOrder: 'desc',
		        	// set sortable headers
		        	headers: { 
			            0: { sorter: false }, 
			            1: { sorter: false }, 
			            3: { sorter: false }, 
			            4: { sorter: false }, 
			            5: { sorter: false },
			            8: { sorter: false }
			        }
		        });
		    } 
		); 	
	</script>
<% end %>

<table id="divisions" class="tablesorter">
	<thead>
		<tr>
			<th><%= t('activerecord.attributes.doc.sourcedb')%></th>
			<th><%= t('activerecord.attributes.doc.sourceid')%></th>
			<th class="sortable-th"><%= t('views.divs.div')%></th>
			<th><%= t('activerecord.attributes.doc.section') %></th>
			<th><%= t('activerecord.attributes.doc.body') %></th>
			<th><%= t('views.shared.size') %></th>
			<th class="sortable-th" title="<%= t('activerecord.models.denotations') %>">D</th>
			<th class="sortable-th" title="<%= t('activerecord.models.relations') %>">R</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @docs.each_with_index do |doc, i| %>
			<tr>
			    <td style="text-align:center"><%= doc.sourcedb %></td>
			    <td style="text-align:center"><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
			    <td style="text-align:center"><%= doc.serial %></td>
			    <td style="text-align:center"><%= doc.section %></td>
			    <td style="text-align:left"><%= (doc.body.length < 42)? doc.body : doc.body[0, 40] + ' ...' %></td>
			    <% if doc.body.length > 5000 %>
			      <td style="text-align:right;color:red"><%= doc.body.length %></td>
			    <% else %>    
			      <td style="text-align:right"><%= doc.body.length %></td>
			    <% end %>
			    <td>
			    	<%= denotations_count_helper(@project, {:doc => doc}) %>
			    </td>
			    <td>
			    	<%= relations_count_helper(@project, {:doc => doc})%>
			    </td>
			    <% if @project %>
			    	<% if params[:pmcdoc_id].present? -%>
			    		<% div_href = project_pmcdoc_div_path(@project_name, doc.sourceid, doc.serial) -%>
				    <% else -%>    
			    	<% end -%>
			    <% else %>    
			    	<% if params[:pmcdoc_id].present? -%>
			    		<% div_href = pmcdoc_div_path(doc.sourceid, doc.serial) -%>
				    <% else %>    
			    		<% div_href = doc_sourcedb_sourceid_divs_show_path(params[:sourcedb], params[:sourceid], doc.serial) -%>
				    <% end %>
			    <% end %>
		    	<td><span class="button"><%= link_to t('views.shared.show'),  div_href -%></span></td>
		    </tr>
		<% end %>
	</tbody>
</table>
