<% content_for :path do -%>
  > <%= link_to t('views.paths.home'), home_path -%>
  <% if @project.present? -%>
    > <%= link_to t('activerecord.models.project'), projects_path -%>
    > <%= link_to @project.name, project_path(@project.name) -%>
    > <%= link_to t('views.paths.docs'), project_docs_path(@project.name) -%>
    > <%= link_to t('views.shared.a_doc_id', :sourcedb => params[:sourcedb], :sourceid => params[:sourceid]) + '> divs', index_project_sourcedb_sourceid_divs_docs_path(@project.name, params[:sourcedb], params[:sourceid]) %>
  <% else -%>
    > <%= link_to t('views.paths.docs'), docs_path -%>
    > <%= link_to t('views.shared.a_doc_id', :sourcedb => params[:sourcedb], :sourceid => params[:sourceid]) + '> divs', doc_sourcedb_sourceid_divs_index_path(params[:sourcedb], params[:sourceid]) %>
  <% end %>


  > <%= t('views.shared.search') -%>
<% end -%>

<% if @project.present? -%>
  <%= render :partial => 'projects/title_and_links' -%>
<% end -%>

<%= render partial: 'divs', locals: {title: "Division search results of #{params[:sourcedb]}:#{params[:sourceid]}", divs: @search_divs} -%>

<h3>Search documents</h3>
<%= render partial: 'divs/search_form' -%>

<h3>List</h3>
<%= link_to t('views.divs.list_button'), url_for.sub(/\/search/, ''), {class: 'button'} -%>
