<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= link_to 'editors', editors_path %>
	> <%= @editor.name %>
<% end %>

<section>
	<h1>
		<%= @editor.name %>
		<%= button_home(@editor.home) -%>
		<%= badge_private(@editor.is_public).html_safe %>

		<% if @editor.changeable?(current_user) -%>
			<%= button :edit, edit_editor_path(@editor), 'Edit' %>
			<%= button_destroy @editor, 'Delete' %>
		<% end %>
	</h1>

	<% if @editor.description.present? %>
		<p><%= @editor.description %></p>
	<% end -%>

	<table class="column-head">

		<tr>
			<th>Creator</th>
			<td><%= @editor.user.username %></td>
		</tr>

		<tr>
			<th>URL</th>
			<td><%= link_to @editor.url, @editor.url %></td>
		</tr>

		<tr>
			<th>Parameters</th>
			<td><pre><%= @editor.parameters_to_string %></pre></td>
		</tr>

	</table>

</section>
