<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> login
<% end %>

<h1><%= t('views.users.sign_in') %></h1>
<!--
<div style="margin:2px"><%= link_to login_with_google.html_safe, omniauth_authorize_path(resource_name, :google_oauth2) %></div>
<br/>
 -->
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<table>
<tr>
<th><%= f.label :login %></th>
<td><%= f.text_field :login, :placeholder => "Your username or e-mail address" %></td>
</tr>
<tr>
<th><%= f.label :password %></th>
<td><%= f.password_field :password %></td>
</tr>
<tr>
<th colspan="2">
<%= f.label :remember_me %>
<%= f.check_box :remember_me %>
<%= f.submit t('views.users.sign_in'), :class => 'capitalize_first', :style => 'width: 10em' %>
</th>
</tr>
</table>
<% end %>
<br/>
<%= render "devise/shared/links" %>
