<% if @denotations.present? -%>
	<%= render :partial => 'denotations/denotation', :collection => @denotations, :locals => {:project => @project} -%>
<% else -%>
	<%= t('controllers.shared.not_exists', :model => t('views.shared.annotation')) %>
<% end -%>

<% if @instances and !@instances.empty? %>
  <h2><%= t('activerecord.models.instance') %></h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @instances.each do |instance| %>
    <tr>
      <td><%= instance[:id] %></td>
      <td><%= instance[:pred] %></td>
      <td><%= instance[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<% if @relations and !@relations.empty? %>
  <h2>Relations</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Subject</th>
      <th>Object</th>
    </tr>

  <% @relations.each do |relation| %>
    <tr>
      <td><%= relation[:id] %></td>
      <td><%= relation[:pred] %></td>
      <td><%= relation[:subj] %></td>
      <td><%= relation[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if @modifications and !@modifications.empty? %>
  <h2>Modifications</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @modifications.each do |modification| %>
    <tr>
      <td><%= modification[:id] %></td>
      <td><%= modification[:pred] %></td>
      <td><%= modification[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>
