<% project = Project.find_by_name(annotations[:project]) %>

<section>
	<h2><%= link_to project.name, project_path(project.name) -%></h2>

	<% if annotations.present? -%>
		<% annotations[:text] = body unless annotations[:text].present? -%>
		<% array = Annotation.hash_to_array(annotations, project.get_textae_config) -%>
		<% headers = array.shift %>

		<% if project.has_discontinuous_span? %>
			<%
				ds_model, alternative = if params['discontinuous_span'] == 'bag' then ['bag', 'chain'] else ['chain', 'bag'] end
			%>
			<p class='note'>Below, discontinuous spans are shown in the
				<%= content_tag :span, ds_model, :class => 'tab active_tab' %> model.
				You can change it to the
				<%= link_to alternative, params.permit(:controller, :action).merge(discontinuous_span: alternative), :class => 'tab inactive_tab' %> model.</p>
		<% end %>

		<table class="ann">
			<tr>
				<% headers.each do |h| -%>
					<th><%= h %></th>
				<% end %>
			</tr>

			<% array.each do |a| -%>
				<%
					spans = a[1].parse_csv
					slinks = if spans[0] =~ /^(\d+)-(\d+)$/
						spans.collect do |s|
							s =~ /^(\d+)-(\d+)$/
							link_to "#{$1}-#{$2}", span_url(doc, {begin:$1, end:$2})
						end.join(',').html_safe
					end

					type = case a[3]
					when 'denotes'
						'denotation'
					when 'hasMood'
						'modification'
					else
						'relation'
					end
				%>
				<tr class=<%= type %>>
					<% a.each_with_index do |e, i| -%>
						<% if i == 1 -%>
							<td><%= slinks.nil? ? a[1] : slinks %></td>
						<% else -%>
							<td><%= a[i] %></td>
						<% end -%>
					<% end -%>
				</tr>
			<% end %>
		</table>
	<% end %>
</section>
