<section>
	<% unless @project.present? %>
		<h2><%= link_to annotations[:project], project_path(annotations[:project]) -%></h2>
	<% end %>

	<% if annotations.present? -%>

		<table class="ann">
			<tr>
				<th class='annotation_header_id'>Id</th>
				<th class='annotation_header_span'>Subject</th>
				<th class='annotation_header_object'>Object</th>
				<th class='annotation_header_predicate'>Predicate</th>
				<th class='annotation_header_object'>Lexical cues</th>
			</tr>

			<% annotations[:text] = body unless annotations[:text].present? -%>
			<% array = Annotation.hash_to_array(annotations) -%>
			<% array.each do |a| -%>
				<%
					spans = a[1].parse_csv
					slinks = if spans[0] =~ /^(\d+)-(\d+)$/
						spans.collect do |s|
							s =~ /^(\d+)-(\d+)$/
							link_to "#{$1}-#{$2}", span_url(doc, {begin:$1, end:$2})
						end.join(',').html_safe
					end

					type = case a[3]
					when 'denotes'
						'denotation'
					when 'hasMood'
						'modification'
					else
						'relation'
					end
				%>
				<tr class=<%= type %>>
					<td><%= a[0] %></td>
					<td><%= slinks.nil? ? a[1] : slinks %></td>
					<td><%= a[2] %></td>
					<td><%= a[3] %></td>
					<td><%= a[4] %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</section>