<% if @denotations and !@denotations.empty? %>
  <h2><%= t('activerecord.models.denotation') %></h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Span (begin:end)</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @denotations.each do |denotation| %>
    <tr>
      <td><%= denotation[:id] %></td>
      <td>
        <% unless denotation[:span].respond_to?(:keys) %>
          <% denotation[:span].each_with_index do |s, i| %><% unless i == 0 %>,<% end %><%= s[:begin] %>:<%= s[:end] %><% end %>
        <% else %>
        	<% if params[:controller] == 'annotations'-%>
	         	<% if params[:pmcdoc_id].present? -%>
	          		<%= link_to "#{denotation[:span][:begin]}-#{ denotation[:span][:end]}", spans_project_pmcdoc_div_path(params[:project_id], params[:pmcdoc_id], params[:div_id], denotation[:span][:begin], denotation[:span][:end])  -%>
	          	<% elsif params[:pmdoc_id].present? -%>
	      			<%= link_to "#{denotation[:span][:begin]}-#{ denotation[:span][:end]}", spans_project_pmdoc_path(params[:project_id], params[:pmdoc_id], denotation[:span][:begin], denotation[:span][:end])  -%>
		        <% end %>
	        <% end %>
        	<% if params[:controller] == 'pmdocs'-%>
	        	<!-- pmdocs#annotations-->
      			<% if params[:project_id].present? -%>
      				<%= link_to "#{denotation[:span][:begin]}-#{ denotation[:span][:end]}", spans_project_pmdoc_path(params[:project_id], params[:id], denotation[:span][:begin], denotation[:span][:end])  -%>
      			<% else -%>
      				<%= link_to "#{denotation[:span][:begin]}-#{ denotation[:span][:end]}", spans_pmdoc_path(params[:id], denotation[:span][:begin], denotation[:span][:end])  -%>
		        <% end -%>
	        <% end -%>
        	<% if params[:controller] == 'divs'-%>
	        	<!-- pmdocs#annotations-->
      			<% if params[:project_id].present? -%>
      				<!-- divs#spans -->
      				<%= link_to "#{denotation[:span][:begin]}-#{ denotation[:span][:end]}", spans_project_pmcdoc_div_path(params[:project_id], params[:pmcdoc_id], params[:id], denotation[:span][:begin], denotation[:span][:end])  -%>
      			<% else -%>
                  	<!-- spans_pmcdoc_div GET    /pmcdocs/:pmcdoc_id/divs/:id/spans/:begin-:end(.:format) -->
      				<%= link_to "#{denotation[:span][:begin]}-#{ denotation[:span][:end]}",spans_pmcdoc_div_path(params[:pmcdoc_id], params[:id], denotation[:span][:begin], denotation[:span][:end])  -%>
		        <% end -%>
	        <% end -%>
        <% end %>
      </td>
      <td>denote</td>
      <td><%= denotation[:obj] %></td>
      <td style="text-align:left; font-style:italic; color:#888888;">
  		<%= @spans -%>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>


<% if @instances and !@instances.empty? %>
  <h2><%= t('activerecord.models.instance') %></h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @instances.each do |instance| %>
    <tr>
      <td><%= instance[:id] %></td>
      <td><%= instance[:pred] %></td>
      <td><%= instance[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<% if @relations and !@relations.empty? %>
  <h2>Relations</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Subject</th>
      <th>Object</th>
    </tr>

  <% @relations.each do |relation| %>
    <tr>
      <td><%= relation[:id] %></td>
      <td><%= relation[:pred] %></td>
      <td><%= relation[:subj] %></td>
      <td><%= relation[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if @modifications and !@modifications.empty? %>
  <h2>Modifications</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @modifications.each do |modification| %>
    <tr>
      <td><%= modification[:id] %></td>
      <td><%= modification[:pred] %></td>
      <td><%= modification[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>
