<%= form_tag annotations_obtain_path, :method => "get" do %>
   	<table style="border-color:#FFFFFF">
   		<tr>
	   		<th>Choose a predefined annotator</th>
	   		<td>
				<%= select_tag(:annotator, options_for_select(@annotator_options), prompt: 'choose one') %>
			</td>
		</tr>

		<tr>
			<th>... or, specify one</th>
			<td>

		   	<table>
				<tr>
					<th title="Specify a short (unique) identifier of the annotations to avoid confliction with other existing annotations." style="width:6em">Identifier</th>
			   		<td style="text-align:center; width:17em">
						<%= text_field_tag :abbrev, nil, placeholder: "a short unique character string", size: 30 %>
					</td>
				</tr>

		   		<tr>
			   		<th>URL</th>
			   		<td style="text-align:center">
						<%= text_field_tag :url, nil, placeholder: "URL of annotation server", size: 30 %>
					</td>
				</tr>

				<tr>
					<th>Method</th>
					<td>
					    <%= radio_button_tag :method, 0 %>
						<%= label_tag :method_0, :GET, value: 0 %>
					    <%= radio_button_tag :method, 1, checked: true %>
					    <%= label_tag :method_1, :POST, value: 1 %>
					</td>
				</tr>

			</table>
			
		</td></tr>

		<% unless params[:sourceid].present? %>
		<tr>
			<th>
				and, specify the documents<br>to be annotated<br>
				* <i>leave blank to annotate<br>all the documents in the project</i>
			</th>
			<td>
			  <table>
			    <tr>
				    <th style="width:6em"><%= t('activerecord.attributes.doc.sourcedb')%></th>
			    	<td style="width:17em"><%= select_tag(:sourcedb, options_for_select(sourcedb_options_for_select)) -%></td>
				</tr>
				<tr>
				    <th><%= t('activerecord.attributes.doc.sourceid')%></th>
			        <td><%= text_area_tag(:ids, nil, :placeholder => t('activerecord.placeholders.doc.ids')) %></td>
			    </tr>
			  </table>
			</td>
		</tr>
		<% end %>

		<tr>
			<th>
				Clear existing annotations?
			</th>
			<td>
				<%= radio_button_tag :mode, :replace %>
				<%= label_tag :mode_replace, :Yes, value: :replace %>
			    <%= radio_button_tag :mode, :add, checked: true %>
			    <%= label_tag :mode_add, :No, value: :add %>
			</td>
		</tr>
		<tr>
			<th colspan="2">
				<%= submit_tag('Request annotation') %>
			</th>
		</tr>
	</table>
<% end %>

