<%= form_tag annotations_obtain_path, multipart: true do %>
	<table style="border-color:#FFFFFF">
		<tr>
			<th>Choose a predefined annotator</th>
			<td>
				<%= select_tag(:annotator, options_for_select(annotator_options), prompt: 'choose one') %>
			</td>
		</tr>

		<tr>
			<th>... or, specify one</th>
			<td>

		   	<table>
				<tr>
					<th title="Specify a short (unique) identifier of the annotations to avoid confliction with other existing annotations." style="width:6em">Prefix</th>
			   		<td style="text-align:center; width:17em">
						<%= text_field_tag :prefix, nil, placeholder: "a short unique character string", size: 30 %>
					</td>
				</tr>

		   		<tr>
			   		<th>URL</th>
			   		<td style="text-align:center">
						<%= text_field_tag :url, nil, placeholder: "URL of annotation server", size: 30 %>
					</td>
				</tr>

				<tr>
					<th>Method</th>
					<td>
						<%= radio_button_tag :method, 1, required: true %>
						<%= label_tag :method_1, :POST, value: 1 %>
						<%= radio_button_tag :method, 0 %>
						<%= label_tag :method_0, :GET, value: 0 %>
					</td>
				</tr>

			</table>
			
		</td></tr>

		<% unless params[:sourceid].present? %>
		<tr>
			<th>
				and, specify the documents<br>to be annotated<br>
				* <i>leave it blank to annotate<br>all the documents in the project</i>
			</th>
			<td>
			  <table>
					<tr>
						<th style="width:6em"><%= t('activerecord.attributes.doc.sourcedb')%></th>
						<td style="width:17em"><%= select_tag(:sourcedb, options_for_select(Doc::SOURCEDBS)) -%></td>
					</tr>
					<tr>
						<th><%= t('activerecord.attributes.doc.sourceid')%></th>
						<td>
							<p>Specify source IDs below:</p>
							<%= text_area_tag(:ids, nil, :placeholder => t('activerecord.placeholders.doc.ids')) %>
							<p style="text-align: center">--- or ---</p>
							<p>Upload a text file with source IDs (one ID at a line):</p>
							<%= file_field_tag 'upfile', accept: '.txt' -%>
						</td>
					</tr>
			  </table>
			</td>
		</tr>
		<% end %>

		<tr>
			<th>Choose mode</th>
			<td>
				For each document, when there is existing annotation, the automatic annotation will
				<ul>
					<li><%= radio_button_tag :mode, :replace, checked: true %><%= label_tag :mode_replace,
						'<span style="font-weight:bold">REPLACE</span> the existing one,'.html_safe %></li>
					<li><%= radio_button_tag :mode, :add %><%= label_tag :mode_add,
						'<span style="font-weight:bold">ADD</span> the new annotation to the existing one, or'.html_safe %></li>
					<li><%= radio_button_tag :mode, :skip %><%= label_tag :mode_skip,
						'be <span style="font-weight:bold">SKIP</span>ped.'.html_safe %></li>
				</ul>
			</td>
		</tr>

		<tr>
			<th>
				Change unicode to ASCII?
			</th>
			<td>
				<%= radio_button_tag :encoding, :ascii %>
				<%= label_tag :encoding_ascii, :Yes, value: :ascii %>
			    <%= radio_button_tag :encoding, :unicode, checked: true %>
			    <%= label_tag :encoding_unicode, :No, value: :unicode %>
			</td>
		</tr>

		<tr>
			<th colspan="2">
				<%= submit_tag('Request annotation') %>
			</th>
		</tr>
	</table>
<% end %>

