<h2>
<%= t('views.docs.automatic_annotation') %>
<a href="http://www.pubannotation.org/docs/obtain-annotation/">
<%= image_tag("hint.png",
      :size => "16x16",
      :title => "click for help") %>
</a>
</h2>

<%= form_tag annotations_obtain_path, :method => "get" do %>
   	<table style="border-color:#FFFFFF; margin-left:20px">
   		<tr>
	   		<th>Annotator</th>
	   		<td style="text-align:center">
				<%= select_tag(:annotator, options_for_select(@annotator_options)) %>
			</td>
			<td rowspan="4">
				<%= submit_tag('Request annotation') %>
			</td>
		</tr>

		<tr>
			<th>Clear existing annotations?</th>
			<td>
				<input type="radio" name="mode" value="replace" checked="checked"><span title="The obtained annotations will replace the existing ones. (CAUTION: All the exsiting annotations will be deleted.)">Yes</span></input>
				<input type="radio" name="mode" value="add"><span title="The obtained annotations will be added to the existing ones. (CAUTION: It may cause boundary-crossing annotations which will not be properly shown in TextAE.)">No</span></input>
			</td>
		</tr>
	</table>
<% end %>

