<table style="border-color:#FFFFFF">
<tr>
	<th>See</th>
	<td>in</td>
	<td>[<%= link_to "Table", annotation_url %>]</td>
	<td>[<%= link_to "JSON",  annotation_url + '.json' %>]</td>
</tr>

<% unless @annset.editor.empty? %>
	<tr>
		<th>Open</th>
		<td>in</td>
		<% if @annset.editor.include?('?') %>
			<td>[<a href="<%= @annset.editor %>&target=<%= annotation_url + '.json' %>">Editor</a>]</td>
		<% else %>
			<td>[<a href="<%= @annset.editor %>?target=<%= annotation_url + '.json' %>">Editor</a>]</td>
		<% end %>
	</tr>
<% end %>

<% unless @annset.rdfwriter.empty? and @annset.xmlwriter.empty? and @annset.bionlpwriter.empty? %>
	<tr>
		<th>Get</th>
		<td>in</td>
		<% unless @annset.rdfwriter.empty? %>
			<td>[<%= link_to "RDF",  annotation_url + '.ttl' %>]</td>
		<% end %>

		<% unless @annset.xmlwriter.empty? %>
			<td>[<%= link_to "RDF",  annotation_url + '.xml' %>]</td>
		<% end %>

		<% unless @annset.bionlpwriter.empty? %>

			<!--script type="text/javascript">
				// function getconversion(name) {
				// 	xmlhttp = new XMLHttpRequest();
				// 	xmlhttp.open('GET', '<%= annotation_url %>' + '.json', false);
				// 	xmlhttp.send();
				// 	var json = xmlhttp.responseText;
				// 	document.getElementById(name).children[2].setAttribute("value", json);
				// 	document.forms[name].submit();
				// }
			</script>

	 		<td>
				<%= form_tag(annset.bionlpwriter, :method => "post", :id => "getbionlp") do %>
					<%= hidden_field_tag(:identifier, identifier) %>
					<%= hidden_field_tag(:data, "") %>
					[<a onclick="getconversion('getbionlp')" href="#">BioNLP-ST</a>]
				<% end %>
			</td>
	 -->
	 	<% end %>

	</tr>
<% end %>

</table>
