<table style="border-color:#FFFFFF">
<tr>
	<th>See</th>
	<td>in</td>
	<td>[<%= link_to "Table", annotation_url %>]</td>
	<% unless @annset.viewer.empty? %>
	<td>[<a href="<%= @annset.viewer %>?target=<%= annotation_url + '.json' %>">Viewer</a>]</td>
	<% end %>
</tr>
<tr>
	<th>Get</th>
	<td>in</td>
	<td>[<%= link_to "JSON",  annotation_url + '.json' %>]</td>
	<% unless @annset.rdfwriter.empty? %>
		<script type="text/javascript">
			function submitform() {
				xmlhttp = new XMLHttpRequest();
				xmlhttp.open('GET', '<%= annotation_url %>' + '.json', false);
				xmlhttp.send();
				var json = xmlhttp.responseText;
				document.getElementById("annotation").setAttribute("value", json);
				document.forms["getrdf"].submit();
			}
		</script>
		<td>
		<%= form_tag(annset.rdfwriter, :method => "post", :id => "getrdf") do %>
			<%= hidden_field_tag(:annotation, "") %>
			[<a onclick="submitform()" href="#">RDF</a>]
		<% end %>
		</td>
	<% end %>
</tr>
<% if user_signed_in? and current_user == @annset.user %>
	<% unless @annset.editor.empty? %>
		<tr>
			<th>Edit</th>
			<td>in</td>
			<td>[<a href="<%= @annset.editor %>?target=<%= annotation_url + '.json' %>">Editor</a>]</td>
		</tr>
	<% end %>
<% end %>
</table>
