<%= form_tag store_annotation_rdf_project_path(@project.name), multipart: true do %>
	<table>
		<tr>
			<th style="width:6em"><%= t('activerecord.attributes.doc.sourcedb')%></th>
			<td style="width:17em"><%= select_tag(:sourcedb, options_for_select(Doc::SOURCEDBS)) -%></td>
		</tr>
		<tr>
			<th><%= t('activerecord.attributes.doc.sourceid')%></th>
			<td>
				<p>Specify source IDs below:</p>
				<%= text_area_tag(:ids, nil, :placeholder => t('activerecord.placeholders.doc.ids')) %>
				<p style="text-align: center">--- or ---</p>
				<p>Upload a text file with source IDs (one ID at a line):</p>
				<%= file_field_tag 'upfile', accept: '.txt' -%>
			</td>
		</tr>
		<% if root_user? %>
			<tr>
				<th>skip span indexing?</th>
				<td>Yes<%= check_box_tag :skip_span_indexing %></td>
			</tr>
		<% end %>
		<tr>
			<th colspan="2">
				<%= submit_tag('RDFize annotations') %>
			</th>
		</tr>
	</table>
<% end %>

<% if root_user? %>
	<%= link_to 'Crete annotation RDF', create_annotations_rdf_project_path(@project.name), method: :post, data: { confirm: 'Are you sure?' }, :class => :button %>
	<%= link_to 'Crete spans RDF', create_spans_rdf_project_path(@project.name), method: :post, data: { confirm: 'Are you sure?' }, :class => :button %>
<% end %>
