<% @span ||= nil %>

<ul>
	<li>
		<%= t('activerecord.models.denotations') %>:
		<%= @project.get_denotations_count(@doc, @span) %>
	</li>
	<li>
		<%= t('activerecord.models.relations') %>:
		<%= @project.get_relations_count(@doc, @span) %>
	</li>
	<li>
		<%= t('activerecord.models.modifications') %>:
		<%= @project.get_modifications_count(@doc, @span) %>
	</li>
</ul>
