<p>To upload annotations to PubAnnotation, ensure they are prepared in JSON format and saved as either a <span class="filetype">.json</span> or <span class="filetype">.jsonl</span> file.
For details of the JSON format,
please refer to the document, <a href="https://www.pubannotation.org/docs/annotation-format/">PubAnnotation annotation format.</a></p>

<p>A <span class="filetype">.json</span> file typically contains a single JSON object,
while a <span class="filetype">.jsonl</span> file can hold multiple JSON objects,
each on a separate line.</p>

<p>For uploading, you may choose an individual
<span class="filetype">.json</span> or
<span class="filetype">.jsonl</span> file,
or a gzip-compressed tar file (<span class="filetype">.tgz</span>)
that can include multiple
<span class="filetype">.json</span> or <span class="filetype">.jsonl</span> files,
using the interface below.</p>

<%= form_tag project_create_annotations_from_upload_path(@project.name), multipart: true do -%>
	<table>
		<tr>
			<th>Choose file</th>
			<td><%= file_field_tag 'upfile', accept: '.tgz,.tar.gz,.json,.jsonl', required: true -%></td>
		</tr>
		<tr>
			<th>Choose mode</th>
			<td>
				For each document, when there are existing annotations, the upload will
				<ul>
					<li><%= radio_button_tag :mode, :replace, true %><%= label_tag :mode_replace,
						'<span style="font-weight:bold">REPLACE</span> the existing ones,'.html_safe %></li>
					<li class='disabled' title='This mode is disabled at the moment.'><%= radio_button_tag :mode, :add, false, disabled: true %><%= label_tag :mode_add,
						'<span style="font-weight:bold">ADD</span> the new annotations to the existing ones, or'.html_safe %></li>
					<li class='disabled' title='This mode is disabled at the moment.'><%= radio_button_tag :mode, :skip, false, disabled:true %><%= label_tag :mode_skip,
						'be <span style="font-weight:bold">SKIP</span>ped.'.html_safe %></li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>Customize options</th>
			<td>
				<table>
					<tr>
						<th style="text-align: left">
							<%= check_box_tag :duplicate_texts, 1, false -%>
							Duplicate texts
						</th>
						<td style="white-space: normal">
							Use this option if your are submitting annotation JSON files which are JSON arrays and there is a chance of duplicate texts.
						</td>
					</tr>
					<tr>
						<th style="text-align: left">
							<%= check_box_tag :to_ignore_whitespaces, 1, false -%>
							Ignore whitespaces
						</th>
						<td style="white-space: normal">
							Try this option for the cases of alignment failure due to highly irregular whitespaces. This option will slow the process a bit.
						</td>
					</tr>
<!--
					<tr>
						<th style="text-align: left">
							<%= check_box_tag :to_ignore_text_order, 1, false -%>
							Ignore original order
						</th>
						<td style="white-space: normal">
							Try this option for the cases of alignment failure due to different ordering of texts. This option will slow the process a bit.
						</td>
					</tr>
 -->
				</table>
			</td>
		</tr>
		<tr>
			<th>Upload</th>
			<td><%= submit_tag t('views.shared.upload') -%></td>
		</tr>
	</table>
<% end -%>
