<%= form_tag project_create_annotations_from_upload_path(@project.name), multipart: true do -%>
	<table>
		<tr>
			<th>Choose file</th>
			<td><%= file_field_tag 'upfile', accept: 'application/x-gzip,application/json', required: true -%></td>
		</tr>
		<tr>
			<th>Choose mode</th>
			<td>
				For each document, when there are existing annotations, the upload will
				<ul>
					<li><%= radio_button_tag :mode, :replace, checked: true %><%= label_tag :mode_replace,
						'<span style="font-weight:bold">REPLACE</span> the existing ones,'.html_safe %></li>
					<li><%= radio_button_tag :mode, :add %><%= label_tag :mode_add,
						'<span style="font-weight:bold">ADD</span> the new annotations to the existing ones, or'.html_safe %></li>
					<li><%= radio_button_tag :mode, :skip %><%= label_tag :mode_skip,
						'be <span style="font-weight:bold">SKIP</span>ped.'.html_safe %></li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>Upload</th>
			<td><%= submit_tag t('views.shared.upload') -%></td>
		</tr>
	</table>
<% end -%>
