<% if @annotations -%>
  <table>
    <tr>
      <th>type</th>
      <th>hid</th>
      <th>pred</th>
      <th>obj</th>
      <th>subj</th>
      <th>begin</th>
      <th>end</th>
    </tr>
  <% @annotations.each do |annotation| -%>
    <tr>
      <td><%= annotation.type -%></td>
      <td><%= annotation.hid -%></td>
      <td><%= annotation.pred.name if annotation.pred.present? -%></td>
      <td><%= annotation.obj.name if annotation.obj.present? -%></td>
      <td><%= annotation.subj.class if annotation.subj.present? -%></td>
      <td><%= annotation.begin -%></td>
      <td><%= annotation.end -%></td>
    </tr>
  <% end -%>
  </table>
  <%= will_paginate @annotations -%>
<% end -%>
