<h1>Annotations</h1>

<!--p>to <= @catanns.first.doc_sourcedb %>:<= @catanns.first.doc_sourceid %></p-->

<h2>Caterogy annotations</h2>
<table class="ann">
  <tr>
    <th>Annset</th>
    <th>Hid</th>
    <th>Begin</th>
    <th>End</th>
    <th>Category</th>
  </tr>

<% @catanns.each do |catann| %>
  <tr>
    <td><%= catann.annset_name %></td>
    <td><%= catann.hid %></td>
    <td><%= catann.begin %></td>
    <td><%= catann.end %></td>
    <td><%= catann.category %></td>
  </tr>
<% end %>
</table>

<br />


<h2>Instance annotations</h2>

<table class="ann">
  <tr>
    <th>Annset</th>
    <th>Hid</th>
    <th>Ins. type</th>
    <th>Ins. object</th>
  </tr>

<% @insanns.each do |insann| %>
  <tr>
    <td><%= insann.annset_name %></td>
    <td><%= insann.hid %></td>
    <td><%= insann.instype %></td>
    <td><%= insann.insobj_hid %></td>
  </tr>
<% end %>
</table>

<br />


<h2>Relation annotations</h2>

<table class="ann">
  <tr>
    <th>Annset</th>
    <th>Hid</th>
    <th>Relation type</th>
    <th>Subject</th>
    <th>Object</th>
  </tr>

<% @relanns.each do |relann| %>
  <tr>
    <td><%= relann.annset_name %></td>
    <td><%= relann.hid %></td>
    <td><%= relann.reltype %></td>
    <td><%= relann.relsub_hid %></td>
    <td><%= relann.relobj_hid %></td>
  </tr>
<% end %>
</table>
<br />

<h2>Modification annotations</h2>

<table class="ann">
  <tr>
    <th>Annset</th>
    <th>Hid</th>
    <th>Mod. type</th>
    <th>Mod. object</th>
  </tr>

<% @modanns.each do |modann| %>
  <tr>
    <td><%= modann.annset_name %></td>
    <td><%= modann.hid %></td>
    <td><%= modann.modtype %></td>
    <td><%= modann.modobj_hid %></td>
  </tr>
<% end %>
</table>
