<% content_for :path do %>
	> <%= link_to t('views.paths.home'), home_path %>
	> <%= link_to "docs", docs_path %>
	> <%= link_to t('views.shared.a_doc_id', :sourcedb => @doc.sourcedb, :sourceid => @doc.sourceid), doc_sourcedb_sourceid_show_path(@doc.sourcedb, @doc.sourceid) %>
	> annotations
<% end %>

<section>
	<%= render :partial => 'docs/titlebar' -%>
	<section>
		<%= render :partial => 'annotations/titlebar' -%>

		<% if @annotations[:tracks].present? -%>
			<%= render partial: 'annotations', collection: @annotations[:tracks], locals: {doc: @doc, body: @annotations[:text]} -%>
		<% else -%>
			<%= t('controllers.shared.not_exists', model: t('views.shared.annotation')) %>
		<% end -%>
	</section>
</section>