<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @project %>
    > <%= link_to "projects", projects_path %>
    > <%= link_to @project.name, project_path(@project.name) %>
    <% if @doc and @doc.sourcedb == 'PubMed' %>
        > <%= link_to t('views.shared.a_pmdoc', :sourceid => @doc.sourceid), project_pmdoc_path(@project.name, @doc.sourceid) %>
    <% elsif @doc and @doc.sourcedb == 'PMC' %>
        > <%= link_to t('views.shared.a_pmcdoc', :sourceid => @doc.sourceid), project_pmcdoc_path(@project.name, @doc.sourceid) %>
        > <%= link_to t('views.shared.div', :divid => @doc.serial), project_pmcdoc_div_path(@project.name, @doc.sourceid, @doc.serial) %>
    <% end %>
    > annotations
  <% else %>
  <% end %>
<% end %>

<h1 class="capitalize_first">
	<%= t('views.shared.annotation') %>
	<% if @denotations.present? && user_signed_in? && @project.user == current_user %>
		<% if params[:pmcdoc_id].present? %>
			<% destroy_all_path = destroy_all_project_pmcdoc_div_annotations_path %>
		<% else %>
			<% destroy_all_path = destroy_all_project_pmdoc_annotations_path %>
		<% end %>
		
		<%= form_tag(destroy_all_path, :style => 'display:inline') do%>
			<%= submit_tag t('views.shared.delete_all'), :confirm => t('views.annotations.index.confirm_destroy_all') %>
		<% end %>
	<% end %>
</h1>
<!--p>to <= @denotations.first.doc_sourcedb %>:<= @denotations.first.doc_sourceid %></p-->


<% if @denotations and !@denotations.empty? %>
  <h2><%= t('activerecord.models.denotation') %></h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Span (begin:end)</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @denotations.each do |denotation| %>
    <tr>
      <td><%= denotation[:id] %></td>
      <td>
        <% unless denotation[:span].respond_to?(:keys) %>
          <% denotation[:span].each_with_index do |s, i| %><% unless i == 0 %>,<% end %><%= s[:begin] %>:<%= s[:end] %><% end %>
        <% else %>
          <%= denotation[:span][:begin] %>:<%= denotation[:span][:end] %>
        <% end %>
      </td>
      <td>denote</td>
      <td><%= denotation[:obj] %></td>
      <td style="text-align:left; font-style:italic; color:#888888; border-color:white"><%= @text[denotation[:span][:begin]...denotation[:span][:end]] %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<% if @instances and !@instances.empty? %>
  <h2><%= t('activerecord.models.instance') %></h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @instances.each do |instance| %>
    <tr>
      <td><%= instance[:id] %></td>
      <td><%= instance[:pred] %></td>
      <td><%= instance[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<% if @relations and !@relations.empty? %>
  <h2>Relations</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Subject</th>
      <th>Object</th>
    </tr>

  <% @relations.each do |relation| %>
    <tr>
      <td><%= relation[:id] %></td>
      <td><%= relation[:pred] %></td>
      <td><%= relation[:subj] %></td>
      <td><%= relation[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if @modifications and !@modifications.empty? %>
  <h2>Modifications</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Predicate</th>
      <th>Object</th>
    </tr>

  <% @modifications.each do |modification| %>
    <tr>
      <td><%= modification[:id] %></td>
      <td><%= modification[:pred] %></td>
      <td><%= modification[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if (!@denotations or @denotations.empty?) and (!@instances or @instances.empty?) and (!@relations or @relations.empty?) and (!@modifications or @modifications.empty?) %>
<p><%= t('views.shared.none') %></p>
<% end %>