<%= render :partial => 'docs/path'-%>
<section>
	<%= render :partial => 'projects/titlebar' -%>
	<section>
		<%= render :partial => 'docs/titlebar' -%>
		<section>
			<%= render :partial => 'annotations/titlebar_in_project' -%>
			<section>
				<%= render :partial => 'annotations/annotations', locals: {annotations:@annotations, doc: @doc, body: @annotations[:text]} -%>
			</section>
		</section>
	</section>
</section>