<h1>Annotations</h1>

<!--p>to <= @denotations.first.doc_sourcedb %>:<= @denotations.first.doc_sourceid %></p-->

<% if @denotations and !@denotations.empty? %>
  <h2>Caterogy annotations</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Denotation (begin:end)</th>
      <th>Category</th>
    </tr>

  <% @denotations.each do |denotation| %>
    <tr>
      <td><%= denotation[:id] %></td>
      <td>
        <% unless denotation[:denotation].respond_to?(:keys) %>
          <% denotation[:denotation].each_with_index do |s, i| %><% unless i == 0 %>,<% end %><%= s[:begin] %>:<%= s[:end] %><% end %>
        <% else %>
          <%= denotation[:denotation][:begin] %>:<%= denotation[:denotation][:end] %>
        <% end %>
      </td>
      <td><%= denotation[:obj] %></td>
      <td style="text-align:left; font-style:italic; color:#888888; border-color:white"><%= @text[denotation[:denotation][:begin]...denotation[:denotation][:end]] %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<% if @instances and !@instances.empty? %>
  <h2>Instance annotations</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Ins. type</th>
      <th>Ins. object</th>
    </tr>

  <% @instances.each do |instance| %>
    <tr>
      <td><%= instance[:id] %></td>
      <td><%= instance[:pred] %></td>
      <td><%= instance[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<% if @relations and !@relations.empty? %>
  <h2>Relation annotations</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Relation type</th>
      <th>Subject</th>
      <th>Object</th>
    </tr>

  <% @relations.each do |relation| %>
    <tr>
      <td><%= relation[:id] %></td>
      <td><%= relation[:pred] %></td>
      <td><%= relation[:subj] %></td>
      <td><%= relation[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if @modifications and !@modifications.empty? %>
  <h2>Modification annotations</h2>
  <table class="ann">
    <tr>
      <th>Id</th>
      <th>Mod. type</th>
      <th>Mod. object</th>
    </tr>

  <% @modifications.each do |modification| %>
    <tr>
      <td><%= modification[:id] %></td>
      <td><%= modification[:pred] %></td>
      <td><%= modification[:obj] %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if (!@denotations or @denotations.empty?) and (!@instances or @instances.empty?) and (!@relations or @relations.empty?) and (!@modifications or @modifications.empty?) %>
<p>none</p>
<% end %>