<% content_for :css do -%>
  <style>
    .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
    #textae-list{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    #project-textaes div.oneline{
      float:none;
    }
    .textae-wrapper-section{
      background-color: #fff;
    }
  </style>
<% end -%>

<% content_for :javascript do -%>
  <script>
    $(document).ready(function(){
      selectedProjectsElement = $('#hidden-unselected-project-textaes');
      unselectedProjectsElement = $('#unselected-project-textaes');
      appendTextae();
      hideTextae();
      $("#textae-list").sortable({
        placeholder: "ui-state-highlight",
        cursor: 'grabbing',
        update: function(event, ui) {
          setAddressBarUrl();
          setAnnotationHref();
        }
      });
      countProjects();
      countProjectAnnotations();
      sortProjectsByName();
      setAnnotationHref();
      sortProjectsByAnnotationsCount();
    });

    countProjects = function(){
      unselectProjectsCount = unselectedProjectsElement.find('.project_wrapper').length;
      $('#unselected_projects_count').text('(' + unselectProjectsCount + ')');
    };

    var countProjectAnnotations = function(){
      var unselectedProjectsAnnotaionsCount = 0;
      jQuery.each(unselectedProjectsElement.find('.project_wrapper'), function(i, unselectedProjectElement){
        annotationsCount = $(unselectedProjectElement).data('annotations-count');
        unselectedProjectsAnnotaionsCount += parseInt( annotationsCount );
      });
      $('#unselected_projects_annotations_count').text('(' + unselectedProjectsAnnotaionsCount + ')');
    }

    <% #Function append TextAE -%>
    var appendTextae = function(){
      $('.project-textae-selector').click(function(){
        jsonUrl = $(this).data('annotations-json-url');
        var projectName = $(this).data('project-name');
        var projectTextaeId = `textae-${ projectName }`;
        var projectUrl = $(this).data('project-url');
        $.getJSON(jsonUrl, function (data) {
          textaeJson = JSON.stringify(data);
          $('#textae-list').append( $(`
            <section class="textae-wrapper-section grabbable">
              <div id="textae-wrapper-${ projectName }" class="textae-wrapper oneline group" data-project-name="${ projectName }">
                <h3>
                  <a href="${ projectUrl }">${ projectName }</a>
                  <i class="fa fa-minus-square remove-textae clickable-text" aria-hidden="true"></i>
                </h3>
                <div class="textae-editor" id="${ projectTextaeId }">
                  ${ textaeJson }
                </div>
              </div>
            </section>
          `) );
          $(`#${ projectTextaeId }`).textae();
          $("#hidden-unselected-project-textaes").append( $(`#project-selector-${ projectName }`).parent());
          setAddressBarUrl();
          countProjects();
          countProjectAnnotations();
          setAnnotationHref();
        })
      });
    }

    <% #Function remove TextAE -%>
    var hideTextae = function(){
       $(document).on("click", ".remove-textae", function() {
         var textaeWrapper = $(this).parent().parent();
         var projectName = textaeWrapper.data('project-name');
         $(textaeWrapper).remove();
         projectSelector = $(`#project-selector-${ projectName }`).parent();
         projectSelector.show();
         $("#unselected-project-textaes").append( projectSelector );
         setAddressBarUrl();
         countProjects();
         countProjectAnnotations();
         setAnnotationHref();
       });
    }

    <% #Function change URL -%>
    var setAddressBarUrl = function(){
      var projectNames = getVisualizedProjectNames();
      changeAddressBarUrlForProjectsParams(projectNames);
    }

    var getVisualizedProjectNames = function(){
      var selectedProjectNames = new Array();
      var selectedProjectElements = $('#project-textaes').find($('.textae-wrapper'));
      jQuery.each(selectedProjectElements, function(i, selectedProjectElement) {
        projectName = $( selectedProjectElement ).data('project-name');
        selectedProjectNames.push(projectName);
      });
      return selectedProjectNames;
    }

    var sortProjectsByName = function(){
      $('.fa-sort-alpha-asc').click(function(){
        projectElements = unselectedProjectsElement.find('.project_wrapper');
        projectElements.sort(function(a, b) {
          var a = $( a ).data('project-name').toLowerCase() 
          var b = $( b ).data('project-name').toLowerCase();
          if(a < b){
            return -1;
          }else if(a > b){
            return 1;
          }
          return 0;
        });
        unselectedProjectsElement.append(projectElements);
      });
    }

    var sortProjectsByAnnotationsCount = function(){
      $('.fa-sort-numeric-desc').click(function(){
        projectElements = unselectedProjectsElement.find('.project_wrapper');
        projectElements.sort(function(a, b){
          var a = $( a ).data('annotations-count')
            var b = $( b ).data('annotations-count');
          return b- a;
          if(a > b) {
            return -1;
          }
          if(a < b) {
            return 1;
          }
          return 0;
        });
        unselectedProjectsElement.append(projectElements);
      });
    }

    var setAnnotationHref = function(){
      annotationLinkIds = ["view", "json"] 
      selectedProjectNames = getVisualizedProjectNames();
      console.log(selectedProjectNames );
      jQuery.each(annotationLinkIds, function(i, id) {
        linkElement = $("#annotations_" + id);
        href = linkElement.attr("href");
        if ( selectedProjectNames.length > 0 ){
          linkElement.attr("href", href.split('?')[0] + "?projects=" + selectedProjectNames.join());
        }else{
          linkElement.attr("href", href.split('?')[0]);
        };
      });
    }
  </script>
<% end -%>

<%= render :partial => 'docs/path'-%>

<%= render :partial => 'shared/textae_css_js'-%>

<section>
	<%= render :partial => 'docs/titlebar' -%>
	<section>
		<%= render :partial => 'annotations/titlebar' -%>

    <div class="clearfix" id="project-textaes">
      <ul id="textae-list">
      <%= render :partial => 'visualize_track', :collection => @track_annotations -%>
      <% #TextAE will be appended here -%>
      </ul>
    </div>

		<h2 class="capitalize">
      <%= t('activerecord.models.project').pluralize -%>
		</h2>

    <%= t('views.shared.unselected') -%>
    <span id="unselected_projects_count"></span>
    /
    <span class="capitalize">
      <%= t('activerecord.models.annotation') -%>
    </span>
    <span id="unselected_projects_annotations_count"></span>
    <span class="project_select_button" style="position:absolute; left: 19em;">
      <i class="fa fa-sort-alpha-asc" aria-hidden="true" data-selected="false"></i>
    </span>
    <span class="project_select_button" style="position:absolute; left: 21em;">
      <i class="fa fa-sort-numeric-desc" aria-hidden="true" data-selected="false"></i>
    </span>
    
    <div id="hidden-unselected-project-textaes" style="display:none;">
      <% # Visualized projects selector (Show up when textae hidden) -%>
      <%= render partial: 'projects/selector_project', collection: @visualize_projects -%>
    </div>

    <div id="unselected-project-textaes" style="margin-top: 1em;">
      <% if @non_visualize_projects.present? -%>
          <% # Not Visualized projects selector -%>
          <%= render partial: 'projects/selector_project', collection: @non_visualize_projects -%>
      <% end -%>
    </div>
	</section>
</section>
