<%= render :partial => 'docs/path'-%>
<%= render :partial => 'shared/textae_css_js'-%>
<section>
	<%= render :partial => 'docs/titlebar' -%>
	<section>
		<%= render :partial => 'annotations/titlebar' -%>
		<%= render :partial => 'visualize_track', :collection => @track_annotations -%>
	</section>
</section>
