<section>

<% if @project %>
	<%= render :partial => 'projects/titlebar' -%>
<% end %>

<h1>Editing query</h1>

<%= render 'form' %>

<% if @project %>
	<%= link_to "List", project_queries_path(@project.name), class: 'button' %>
	<%= link_to 'Show', project_query_path(@project.name, @query), class: 'button' %>
<% else %>
	<%= link_to "List", queries_path, class: 'button' %>
	<%= link_to 'Show', @query, class: 'button' %>
<% end %>

</section>