<section>

<%= render :partial => 'projects/titlebar' -%>

<h1>Listing queries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Priority</th>
    <th>Active</th>
    <% unless @project %>
      <th>Project</th>
    <% end %>
  </tr>

<% @queries.each do |query| %>
  <% qpath = @project ? project_query_path(query.project.name, query) : query_path(query) %>
  <tr>
    <td><%= link_to query.title, qpath %></td>
    <td><%= query.priority %></td>
    <td><%= query.active %></td>
    <% unless @project %>
      <td><%= query.project ? query.project.name : nil%></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @project && @project.editable?(current_user) %>
  <%= link_to "Create", new_project_query_path(@project.name), class: 'button' %>
<% elsif current_user && current_user.root %>
  <%= link_to "Create", new_query_path, class: 'button' %>
<% end %>

</section>