<%= form_for(@sequencer) do |f| %>
  <% if @sequencer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequencer.errors.count, "error") %> prohibited this sequencer from being saved:</h2>

      <ul>
      <% @sequencer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <table class='column-head'>
    <tr>
      <th style="width:6em"><%= f.label :user %></th>
      <td><%= current_user.username %></td>
      <td></td>
    </tr>

    <tr>
      <th><%= f.label :is_public -%></th>
      <td><%= f.check_box :is_public -%></td>
      <td>
        <a href="#help-is-public" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
        <div id="help-is-public" class="help">
          <h1>Is Public</h1>
          <p>If this attribute is checked, then the entry will appear in the public list of annotators.</p>
          <p>Otherwise, it will be listed only to you when you are logged-in.</p>
          <p>Note that however the entry will remain accessible even if this attribute is not checked: anyone can access this entry with the name of it if he/she knows.</p>
          <p>In other words, setting of this attribute will affect the findability, but not the accessibility, of the entry.</p>
        </div>
      </td>
    </tr>

    <tr>
      <th><%= f.label :name, "Name*" %></th>
      <td><%= f.text_field :name, required: true %></td>
      <td>
        <a href="#help-name" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
        <div id="help-name" class="help">
          <h1>Name</h1>
          <p>Note that the name will be a part of the URL of its configuration.</p>
          <p>A name has to begin and end with
            <ul>
              <li>lowercase/upper letters, or</li>
              <li>decimal digits,</li>
            </ul>
            and may include
            <ul>
              <li>lowercase/upper letters,</li>
              <li>decimal digits,</li>
              <li>hyphen ('-'), and underscore ('_').</li>
            </ul>
          </p>
        </div>
      </td>
    </tr>

    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description %></td>
      <td></td>
    </tr>

    <tr>
      <th><%= f.label :home %></th>
      <td><%= f.text_field :home %></td>
      <td></td>
    </tr>

    <tr>
      <th><%= f.label :url, "URL*" %></th>
      <td><%= f.text_field :url, type: :url, required: true %></td>
      <td></td>
    </tr>

    <tr>
      <th><%= f.label :parameters %></th>
      <td><%= f.text_area :parameters, value: (f.object.parameters == {} ? 'sourceid=_sourceid_' : f.object.parameters) %></td>
      <td>
        <a href="#help-parameters" rel="facebox"><i class="help-link fa fa-question-circle" aria-hidden="true"></i></a>
        <div id="help-parameters" class="help">
          <h1>Parameters</h1>
          <p>The following placeholder(s) can be used to pass parameter values to the annotation service:
            <ul>
              <li>_sourceid_ : the sourceid of a document.</li>
            </ul>
          </p>
          <h2>Examples</h2>
          <p>sourceid = _sourceid_</p>
        </div>
      </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
