<a href="http://www.pubannotation.org/"><img src="/assets/logo.png" alt="Logo" id='logo'></a>
<div class="corner-menu">
	<div class="section">
		<%= language_switch_helper.html_safe %>
	</div>

	<div class="section">
		<ul>
			<li><%= render 'devise/menu/registration_items' %></li>
			<li><%= render 'devise/menu/login_items' %></li>
		</ul>
	</div>
</div>

<nav class="main-nav">
<ul>
	<li><%= link_to "Repository", home_path %></li>
	<li><a href="http://sparql.pubannotation.org/">Search</a></li>
  <li><%= link_to 'NEWS', news_notifications_path -%></li>
	<li><a href="http://www.pubannotation.org/docs/intro">Guides</a></li>
	<li><a href="http://www.pubannotation.org/docs/about">About</a></li>
</ul>
</nav>
