<!DOCTYPE html>
<html>
	<head>
	  <title><%= t('views.service.title') -%></title>
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <%= stylesheet_link_tag    "application", :media => "all" -%>
	  <%= yield :css -%>
	  <%= javascript_include_tag "application" -%>
	  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" -%>
	  <%= yield :javascript -%>
	  <%= csrf_meta_tags -%>
	</head>
	
	<body>
		<div id="header" class="frame">
			<div class="content">
				<%= render :partial => 'layouts/header' -%>
			</div>
		</div>
		<div id="top-ribbon">
			<div class="content">
				<div id="path">
					<%= yield :path -%>
				</div>
			</div>
		</div>
		<div id="notice">
			<div class="content">
				<%= notice.html_safe if notice -%>
				<%= alert -%>
			</div>
		</div>
		
		<div id="main">
			<div class="content">
				<%= yield -%>
			</div>
		</div>
		<div id="footer" class="frame">
			<div class="content">
				<%= render :partial => 'layouts/footer' -%>
			</div>
		</div>
		<div id='Indicator'></div>
	</body>
</html>
