<!DOCTYPE html>
<html>
<head>
  <title><%= t('views.service.title') %></title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script>
    $(function() {
      $( "#accordion" ).accordion({
        heightStyle: "content",
        collapsible: true,
        <%= "active:#{params[:accordion_id]}" if params[:accordion_id].present? %>
      });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
<div id="title"><%= link_to t('views.service.title'), home_path %></div>
<div id="slogan"><%= t('views.service.slogan') %></div>

<div id="account">
[<%= render 'devise/menu/registration_items' %>|<%= render 'devise/menu/login_items' %>]
</div>
<div id="language">
<%= language_switch_helper.html_safe %>
</div>

<table class="menu">
<tr>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Overview" class="capitalize"><%= t('views.menus.overview') %></a></td>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Features" class="capitalize"><%= t('views.menus.features') %></a></td>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Format" class="capitalize"><%= t('views.menus.formats') %></a></td>
<td><a href="http://dbcls.rois.ac.jp">DBCLS</a></td>
</tr>
</table>
</div>

<div id="path">
	<%= yield :path %>
</div>

<div id="notice">
	<%= notice %>
	<%= alert %>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer">
<div class='credit'>
<%= t('views.service.credit').html_safe %>
</div>
</div>

</body>
</html>
