<!DOCTYPE html>
<html>
<head>
  <title>PubAnnotation</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script>
    $(function() {
      $( "#accordion" ).accordion({
        heightStyle: "content",
        collapsible: true,
        <%= "active:#{params[:accordion_id]}" if params[:accordion_id].present? %>
      });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
<div id="title"><%= link_to "PubAnnotation", home_path %></div>
<div id="slogan">"A scalable and sharable storage of text annotations."</div>

<div id="account">
[<%= render 'devise/menu/registration_items' %>|<%= render 'devise/menu/login_items' %>]
</div>

<table class="menu">
<tr>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Overview">Overview</a></td>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Features">Features</a></td>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Format">Formats</a></td>
<td><a href="http://dbcls.rois.ac.jp">DBCLS</a></td>
</tr>
</table>
</div>

<div id="path">
	<%= yield :path %>
</div>

<div id="notice">
	<%= notice %>
	<%= alert %>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer">
<div class='credit'>
Currently, it is in its alpha version and there are many incomplete features.</br>
The reason of making it publicaly available at the current stage is to seek your comments.</br>
Your any comment about any feature of the service will be highly appreciated.<br/>
Contact: jdkim at dbcls dot rois dot ac dot jp
</div>
</div>

</body>
</html>
