<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t('views.service.title') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
<div id="title"><%= I18n.t('views.service.title') %></div>
<div id="slogan"><%= I18n.t('views.service.slogan') %></div>

<div id="account">
[<%= render 'devise/menu/registration_items' %>|<%= render 'devise/menu/login_items' %>]
</div>

<table class="menu">
<tr>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Overview" class="capitalize"><%= t('views.menus.overview') %></a></td>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Features" class="capitalize"><%= t('views.menus.features') %></a></td>
<td><a href="http://bionlp.dbcls.jp/redmine/projects/pubann/wiki/Format" class="capitalize"><%= t('views.menus.formats') %></a></td>
<td><a href="http://dbcls.rois.ac.jp">DBCLS</a></td>
</tr>
</table>
</div>

<div id="path">
	<%= yield :path %>
</div>

<div id="notice">
	<%= notice %>
	<%= alert %>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer">
<div class='credit'>
<%= t('views.service.credit').html_safe %>
</div>
</div>

</body>
</html>
