<h1>Relation annotations</h1>

<table class="ann">
  <tr>
    <th>Annset</th>
    <th>Id</th>
    <th>Subject</th>
    <th>Relation type</th>
    <th>Object</th>
  </tr>

<% @relanns.each do |relann| %>
  <tr>
    <td><%= relann.annset_name %></td>
    <td><%= relann.hid %></td>
    <td><%= relann.relsub_hid %></td>
    <td><%= relann.reltype %></td>
    <td><%= relann.relobj_hid %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relann', new_relann_path %>
