<h1>Relation annotations</h1>

<table class="ann">
  <tr>
    <th>Annset</th>
    <th>Id</th>
    <th>Subject</th>
    <th>Type</th>
    <th>Object</th>
  </tr>

<% @relanns.each do |relann| %>
  <tr>
    <td><%= relann.annset %></td>
    <td><%= relann.id %></td>
    <td><%= relann.subject %></td>
    <td><%= relann.type %></td>
    <td><%= relann.object %></td>
  </tr>
<% end %>
</table>
