<p id="notice"><%= notice %></p>

<p>
  <b>Hid:</b>
  <%= @relann.hid %>
</p>

<p>
  <b>Subject:</b>
  <%= @relann.subject.hid %>
</p>

<p>
  <b>Relation:</b>
  <%= @relann.relation %>
</p>

<p>
  <b>Object:</b>
  <%= @relann.object.hid %>
</p>

<p>
  <b>Annset:</b>
  <%= @relann.annset.name %>
</p>


<%= link_to 'Back', relanns_path %>
