<h1>
  <% project = Project.first %>
  <% if project %>
  	<%= t('views.pmcdocs.pmc_documents_in_the_annotation_project', :project_name => project.name).html_safe %>
  <% else %>
  	<%= t('views.pmcdocs.pmc_documents_in_pub_annotation').html_safe %>
  <% end %>
  (<%= docs.length %>)
</h1>

<%= form_tag(search_pmcdocs_path, :method => :get)  do %>
	<%= label_tag :sourceid, t('activerecord.attributes.doc.sourceid') %>
	<%= text_field_tag :sourceid, params[:sourceid] %>
	<%= label_tag :sourceid, t('activerecord.attributes.doc.body') %>
	<%= text_field_tag :body, params[:body] %>
	<%= submit_tag t('views.shared.search') %>
<% end %>

<div>
  <% if docs.empty? %>
    none
    <%= t('views.shared.none') %>
  <% else %>
    <table>
      <tr>
        <th><%= t('activerecord.attributes.doc.sourcedb') %></th>
        <th><%= t('activerecord.attributes.doc.sourceid') %></th>
        <th><%= t('activerecord.attributes.doc.body') %></th>
        <th></th>
      </tr>

    <% docs.each do |doc| %>
      <tr>
        <td><%= doc.sourcedb %></td>
        <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
        <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
        <% if project %>
          <td><%= link_to t('views.shared.show_divisions'), project_pmcdoc_url(project.name, doc.sourceid) %></td>
        <% else %>
          <td><%= link_to t('views.shared.show_divisions'), pmcdoc_path(doc.sourceid) %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  <% end %>

  <!--%= will_paginate docs %-->

  <% if project and user_signed_in? and current_user == project.user %>
    <%= form_tag("/projects/#{project.name}/pmcdocs/", :method => "post") do %>
      <table>
        <tr><th><%= label_tag(:pmcids, t('views.pmcdocs.add_pmc_documents')) %><br/></th></tr>
        <tr><td><%= text_area_tag(:pmcids, nil, :placeholder => t('activerecord.placeholders.doc.pmcids'), :required => true) %></td></tr>
        <tr><th><%= submit_tag(t('views.shared.add_to_the_set')) %></th></tr>
      </table>
    <% end %>
  <% end %>
</div>