<h1>
  PMC documents
  <span class="meta">
  <% if project %>
  in the annotation project, <span class="pname"><%= project.name %></span>
  <% else %>
  in <span class="pname">PubAnnotation</span>
  <% end %>
  </span>
  (<%= docs.length %>)
</h1>
<div>
  <% if docs.empty? %>
    none
  <% else %>
    <table>
      <tr>
        <th>Source DB</th>
        <th>Source Id</th>
        <th>Text</th>
        <th></th>
      </tr>

    <% docs.each do |doc| %>
      <tr>
        <td><%= doc.sourcedb %></td>
        <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
        <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
        <% if project %>
          <td><%= link_to 'Show divisions', project_pmcdoc_url(project.name, doc.sourceid) %></td>
        <% else %>
          <td><%= link_to 'Show divisions', pmcdoc_path(doc.sourceid) %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  <% end %>

  <!--%= will_paginate docs %-->

  <% if project and user_signed_in? and current_user == project.user %>
    <%= form_tag("/projects/#{project.name}/pmcdocs/", :method => "post") do %>
      <table>
        <tr><th><%= label_tag(:pmcids, "Add PMC documents") %><br/></th></tr>
        <tr><td><%= text_area_tag(:pmcids, nil, :placeholder => "PMC IDs", :required => true) %></td></tr>
        <tr><th><%= submit_tag("Add to the set") %></th></tr>
      </table>
    <% end %>
  <% end %>
</div>