<% content_for :path do %>
  > <%= link_to "home", home_path %>
  <% if @annset %>
    > <%= link_to "annsets", annsets_path %>
    > <%= link_to @annset.name, annset_path(@annset.name) %>
  <% end %>
  > pmcdocs
<% end %>

<h1>
PMC documents
<span class="meta">
<% if @annset %>
that belong to the annotation set, <span class="pname"><%= @annset.name %></span>
<% else %>
stored in <span class="pname">PubAnnotation</span>
<% end %>
</span>
</h1>

<% if @docs.empty? %>
  none
<% else %>
  <table>
    <tr>
      <th>Source DB</th>
      <th>Source Id</th>
      <th>Text</th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
      <% if @annset %>
        <td><%= link_to 'Show divisions', annset_pmcdoc_url(@annset.name, doc.sourceid) %></td>
      <% else %>
        <td><%= link_to 'Show divisions', pmcdoc_path(doc.sourceid) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @docs %>

<% if @annset and user_signed_in? and current_user == @annset.user %>
  <%= form_tag("/annsets/#{@annset.name}/pmcdocs/", :method => "post") do %>
  <table>
    <tr><th><%= label_tag(:pmcids, "Add PMC documents") %><br/></th></tr>
    <tr><td><%= text_area_tag(:pmcids, nil, :placeholder => "PMC IDs", :required => true) %></td></tr>
    <tr><th><%= submit_tag("Add to the set") %></th></tr>
  </table>
  <% end %>
<% end %>
