<% content_for :path do %>
  > <%= link_to t('views.paths.home'), home_path %>
  <% if @project %>
    > <%= link_to "projects", projects_path %>
    > <%= link_to @project.name, project_path(@project.name) %>
  <% end %>
  > pmcdocs
<% end %>

<h1>
<% @project = Project.first %>
<% if @project %>
	<%= t('views.pmcdocs.belongs_to_project_annset', :project_name => @project.name).html_safe %>
<% else %>
	<%= t('views.shared.stored_in', :pname => t('views.service.title'), :content => "PMC #{t('activerecord.models.doc').pluralize}").html_safe %>
<% end %>
</h1>

<% if @docs.empty? %>
  <%= t('views.shared.none') %>
<% else %>
  <table>
    <tr class="capitalize">
      <th><%= t('activerecord.attributes.doc.sourcedb') %></th>
      <th><%= t('activerecord.attributes.doc.sourceid') %></th>
      <th><%= t('activerecord.attributes.doc.body') %></th>
      <th></th>
    </tr>

  <% @docs.each do |doc| %>
    <tr>
      <td><%= doc.sourcedb %></td>
      <td><a href="<%= doc.source %>"><%= doc.sourceid %></a></td>
      <td class="text"><%= (doc.body.length < 64)? doc.body : doc.body[0, 62] + ' ...' %></td>
	  <td>
      <% if @project %>
    	<%= link_to t('views.shared.show_divisions'), project_pmcdoc_url(@project.name, doc.sourceid) %>
      <% else %>
        <%= link_to t('views.shared.show_divisions'), pmcdoc_path(doc.sourceid) %>
      <% end %>
	  </td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= will_paginate @docs %>

<% if @project and user_signed_in? and current_user == @project.user %>
  <%= form_tag("/projects/#{@project.name}/pmcdocs/", :method => "post") do %>
  <table>
    <tr><th><%= label_tag(:pmcids, t('views.shared.add_model', :model => "PMC #{t('activerecord.models.doc')}")) %><br/></th></tr>
    <tr><td><%= text_area_tag(:pmcids, nil, :placeholder => t('views.pmcdocs.pmc_ids'), :required => true) %></td></tr>
    <tr><th><%= submit_tag(t('views.shared.add_to_the_set')) %></th></tr>
  </table>
  <% end %>
<% end %>
